<div class="row">
    <div class="col-lg-12">
        <div class="ibox collapsed">
            <div class="ibox-title">

                <h5><%= @advisor_type.name %> (<%= @market_study.deal.diligence_advisors.where( advisor_type_id: @advisor_type.id).count %>) <%= render('shared/add_advisor_modal', company: @market_study.deal.company, mp_sponsor: MpSponsor.none, mp_company: MpCompany.none, deal: @market_study.deal, nda: Nda.none, advisor_type: @advisor_type ) %></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

              <div class="wrapper wrapper-content">
                  <div class="row">
                      <% @market_study.deal.diligence_advisors.where(advisor_type_id: @advisor_type.id).each do |diligence_advisor| %>
                        <div class="col-lg-2">
                          <div class="ibox">
                              <div class="product-box">

                                    <a href="/people/<%= diligence_advisor.person.id %>">
                                      <!-- Make Height 225px if want to look right, need to make it clip -->
                                      <img src="<%= diligence_advisor.person.image_url %>" width = 100%>
                                    
                                    </a>
                                  <div class="product-desc">
                                      <strong><%=diligence_advisor.person.name %></strong>
                                      <small class="text-muted"><%=diligence_advisor.company.name %></small><br>
                                  </div>
                              </div>
                          </div>
                        </div>
                      <% end %>
                  </div>
              </div>

            </div>
        </div>
    </div>
</div>