<!-- Validation failure messages -->

<% if @note.errors.any? %>
  <% @note.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Note</h3>
      </div>
      <div class="panel-body">
        <form action="/create_note" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <!-- Label and input for Title -->
          <div class="form-group">
            <label for="title" class="col-lg-2 control-label">
              Title
            </label>
            <div class="col-lg-10">
              <input type="string" id="title" name="title" placeholder="" class="form-control" value="<%= @note.title %>">
            </div>

          <!-- Label and input for Detail -->
          <div class="form-group">
            <h5><label for="detail" class="col-lg-2 control-label">
              About the Company:
            </label></h5>
            <div class="col-lg-10">
              <textarea id="detail" name="detail" placeholder="e.g., Met with person at company on xx/xx/xxxx..."  class="form-control" rows="5"><%= @note.detail %></textarea>
            </div>
          </div>

          <!-- Label and input for Date -->
          <div class="form-group">
            <label for="date" class="col-lg-2 control-label">
              Date
            </label>
            <div class="col-lg-10">
              <input type="date" id="date" name="date" placeholder="" class="form-control" value="<%= @note.date %>">
            </div>

          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button class="btn btn-success">
                Create Note
              </button>
              or
              <a href="/notes">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
