<br>
<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <div class="ibox-content">
        <h3 class="ibox-title" style="font-size:18px"><%= @note.title %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal" style="font-size:12px">

              <dt><%= @note.date %></dt>
              <% if @note.detail.length <= 1500 %>
                <dd> <address>
                  <%= simple_format(@note.detail) %>
                  </address>                                  
              </dd>
              <% else %>
                <dd> <address>
                    <%= simple_format(@note.detail)[0..1499] %><br>
                    <%= render('shared/content_modal', :content => @note.detail, :title => @note.title)%>
                    </address>                                  
                </dd>
                <% end %>
            </dl>

              <%= render('shared/edit_note_modal', :note => @note)%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <br>
<div class="row">
  <div class="col-lg-12">
    <%= render('view_people')%>
    <%= render('view_companies')%>
    <%= render('view_sponsors')%>
  </div>
</div>
