<br>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="ibox-content">
        <h3 class="ibox-title"> Sponsor History # <%= @sponsor_history.id %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-md-12">
            <dl>

              <dt> Person ID</dt>
              <dd><%= @sponsor_history.person_id %></dd>
              <dt> Sponsor ID</dt>
              <dd><%= @sponsor_history.sponsor_id %></dd>  
              <dt> Role ID</dt>
              <dd><%= @sponsor_history.role_id %></dd>
              <dt> Current</dt>
              <dd><%= @sponsor_history.current %></dd>
              <dt> Start Year</dt>
              <dd><%= @sponsor_history.start_year %></dd>
              <dt> End Year</dt>
              <dd><%= @sponsor_history.end_year %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/sponsor_histories/" class="btn btn-primary">
                <i class="fa fa-reply"></i>
              </a>

              <a href="/sponsor_histories/<%= @sponsor_history.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
