<!-- Validation failure messages -->

<% if @nbp_company.errors.any? %>
  <% @nbp_company.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
  
      <div class="panel-heading">
        <h3 class="panel-title">Edit NBP Company</h3>
      </div>
      <div class="panel-body">
        <form action="/update_nbp_company/<%= @nbp_company.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <!-- Check boxes Featured -->
          <div class="checkbox-inline">
            <% if @nbp_company.include_strip %>
              <h5><label><input type="checkbox" name="include_strip" checked>Include</label></h5>
            <% else %>
              <h5><label><input type="checkbox" name="include_strip">Include</label></h5>
            <% end %>
          </div>          

          <!-- Label and input for Company ID -->
          <div class="form-group">
            <label for="company_id" class="col-sm-2 control-label">
              Company ID
            </label>
            <div class="col-sm-10">
              <%= select_tag :company_id, options_from_collection_for_select(Company.all, :id, :name, @nbp_company.company_id), :class => "form-control" %>
            </div>
          </div>

          <!-- Label and input for NBP ID -->
          <div class="form-group">
            <label for="nbp_id" class="col-sm-2 control-label">
              NBP ID
            </label>
            <div class="col-sm-10">
              <input type="integer" id="nbp_id" name="nbp_id" placeholder="e.g., 17" class="form-control" value="<%= @nbp_company.nbp_id %>">
            </div>
          </div>

          <!-- Label and input for Tier ID -->
          <div class="form-group">
            <label for="tier_id" class="col-sm-2 control-label">
              Tier
            </label>
            <div class="col-sm-10">
              <input type="integer" id="tier_id" name="tier_id" placeholder="e.g., 1, 2 or 3" class="form-control" value="<%= @nbp_company.tier_id %>">
            </div>
          </div>

          <!-- Label and input for Bucket ID -->
          <div class="form-group">
            <label for="bucket_id" class="col-sm-2 control-label">
              Buyer Bucket
            </label>
            <div class="col-sm-10">
              <input type="integer" id="bucket_id" name="bucket_id" placeholder="e.g., 17" class="form-control" value="<%= @nbp_company.bucket_id %>">
            </div>
          </div>
                    <!-- Label and input for Lincoln Rationale -->
          <div class="form-group">
            <h5><label for="strip" class="col-lg-2 control-label">
              Lincoln Rationale:
            </label></h5>
            <div class="col-lg-10">
              <textarea id="strip" name="strip" placeholder="e.g., Lincoln has sold..."  class="form-control" rows="5"><%= @nbp_company.strip %></textarea>
            </div>
          </div>

          <!-- Label and input for Notes -->
          <div class="form-group">
            <h5><label for="note" class="col-lg-2 control-label">
              Notes:
            </label></h5>
            <div class="col-lg-10">
              <textarea id="note" name="note" placeholder="e.g., Lincoln has sold..."  class="form-control" rows="3"><%= @nbp_company.note %></textarea>
            </div>
          </div>       


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update NBP Company
              </button>
              or
              <a href="/nbp_companies/<%= @nbp_company.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
