<%= render('shared/file_download_upload', path: "nbp_companies") %>
<div class="page-header">
  <h1>
    NBP Companies
    <a href="/nbp_companies/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search NBP Companies (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @nbp_companies.each do |nbp_company| %>
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">NBP Company # <%= nbp_company.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <class="dl-horizontal">

              <dt> Company ID</dt>
              <dd><%= nbp_company.company_id %></dd>
              <dt> NBP ID</dt>
              <dd><%= nbp_company.nbp_id %></dd>          

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/nbp_companies/<%= nbp_company.id %>" class="btn btn-primary">
                <i class="fa fa-search-plus"></i>
              </a>

              <a href="/nbp_companies/<%= nbp_company.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= render('shared/quick_search_js') %>