

<!-- Filter Buttons -->
<div class="page-header">
  <h1>
    Tags
  </h1>
</div>
<!-- Responsive, Isotope-based layout -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Tags (start typing)" class="form-control">
  </div>
</div>

<br>
<div class="row isotope-container ">
<% @tags.each do |tag| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div id="tag_<%= tag.id %>" class="panel panel-<% if tag.slide_tags.find_by(:slide_id => @slide.id).present? %><%= 'primary' %>
    <% else %><%='default' %>
    <% end %>">


          <div class="pull-right" id="tag_<%= tag.id %>_button">
            <div class="btn-group btn-group">
              <% if tag.slide_tags.find_by(slide_id: @slide.id).present? %>
               <%= link_to content_tag(:i,nil,class: 'fa fa-times'), "/delete_slide_tag/#{ tag.slide_tags.find_by(slide_id: @slide.id ).id }", :class => "btn btn-danger", :remote => true  %>
              <% else %>
                <%= link_to content_tag(:i,nil,class: 'fa fa-check'), "/create_slide_tag/#{@slide.id}/#{tag.id}", :class => "btn btn-primary", :remote => true  %>
              <% end %>
            </div>
          </div>



      <div class="panel-heading">
        <h3 class="panel-title" ><a href="/tags/<%= tag.id %>" style="font-size:10px"><%= tag.name %></a></h3>
      </div>
    </div>
  </div>
<% end %>
</div>