
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="font-size:28px">Tags</h3>
  </div>
  <div class="panel-body">
        <div style="font-size:12px">

          <p class="ui-widget">
            <form action="/create_slide_tag/<%= slide.id%>" method="post" class="form-inline">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <input type="text" id="tags" name="name" style="width:250px">
              <button class="btn btn-success btn-xs">
                Enter
              </button>
            </form>
          </p>
          <% @slide.slide_tags.joins(:tag).order("name ASC").each do |slide_tag|%>

            <span class="label label-success"><a href= "/view_slides/<%= slide_tag.tag_id %>"><span style="color:white"><%= slide_tag.tag.name %> (<%= slide_tag.tag.slides.count%>)</span></a><span style="color: #1D84C6">|||</span><a href="/delete_slide_tag/<%= slide_tag.id %>" ><i class="fa fa-times" style="color:white"></i></a></span></span>
          <%end%>
        </div>
  </div>

</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $('#tags').autocomplete({
      source: '/tag_query.json',
  });
</script>