<!-- Validation failure messages -->

<% if @slide.errors.any? %>
  <% @slide.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
  
      <div class="panel-heading">
      <% if @slide.nbp.present? %>
        <h3 class="panel-title">Edit <%= @slide.nbp.deal.name %> NBP</h3>
      <% end %>      
      <% if @slide.cip.present? %>
        <h3 class="panel-title">Edit <%= @slide.cip.deal.name %> CIP</h3>
      <% end %>   
      <% if @slide.mp.present? %>
        <h3 class="panel-title">Edit <%= @slide.mp.deal.name %> MP</h3>
      <% end %>   

      </div>
      <div class="panel-body">
        <form action="/update_slide/<%= @slide.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <!-- Label and input for Slide Number -->
          <div class="form-group">
            <label for="number" class="col-sm-2 control-label">
              Slide #
            </label>
            <div class="col-sm-10">
              <input type="integer" id="number" name="number" placeholder="e.g., 17" class="form-control" value="<%= @slide.number %>">
            </div>
          </div>
          <!-- Label and input for Image URL -->
          <div class="form-group">
            <label for="image_url" class="col-sm-2 control-label">
              Image URL
            </label>
            <div class="col-sm-10">
              <input type="string" id="image_url" name="image_url" placeholder="http://www.lincolninternational.com" class="form-control" value="<%= @slide.image_url %>">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Slide Detail
              </button>
              or
              <a href="/slides/<%= @slide.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row isotope-container">
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if @slide.nbp.present? %>
          <h3 class="panel-title"><%= @slide.nbp.deal.name %> NBP (Slide# <%= @slide.number %>)</h3>
        <% end %>
        <% if @slide.cip.present? %>
          <h3 class="panel-title"><%= @slide.cip.deal.name %> CIP (Slide# <%= @slide.number %>)</h3>
        <% end %>
        <% if @slide.mp.present? %>
          <h3 class="panel-title"><%= @slide.mp.deal.name %> MP (Slide# <%= @slide.number %>)</h3>
        <% end %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <class="dl-horizontal">
            <% if @slide.nbp.present? %>
              <iframe src= "http://res.cloudinary.com/mglicken/image/upload/pg_<%= @slide.number %>/<%= @slide.nbp.image_id %>.pdf" style="width:990px; height:960px;" frameborder="0"> </iframe> 
            <% end %>
            <% if @slide.cip.present? %>
              <iframe src= "http://res.cloudinary.com/mglicken/image/upload/pg_<%= @slide.number %>/<%= @slide.cip.image_id %>.pdf" style="width:990px; height:960px;" frameborder="0"> </iframe>
            <% end %>
            <% if @slide.mp.present? %>
              <iframe src= "http://res.cloudinary.com/mglicken/image/upload/pg_<%= @slide.number %>/<%= @slide.mp.image_id %>.pdf" style="width:990px; height:960px;" frameborder="0"> </iframe>
            <% end %>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End responsive panel example -->
