  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
  .pdf-image-1 {width: 100%;}
</style>

<br>
<br>

<div class="row">
  <div class= "col-offset-lg-1  col-xs-10 col-sm-10 col-md-10 col-lg-10 isotope-item">
    <div class="panel panel-default">
      <div class="pull-right" style="margin-right:25px">
          <% if @slide.favorite_slides.where(user_id: current_user.id).present? %>
            <a href="/destroy_favorite_slide/<%=@slide.favorite_slides.find_by(user_id: current_user.id).id %>" class="btn btn-lg btn-unfavorite" id="slide_<%=@slide.id%>"><i class="fa fa-star"></i></a>
          <% else %>
            <a href="/create_favorite_slide/<%=current_user.id%>/<%=@slide.id%>" class="btn btn-lg btn-favorite" id="slide_<%=@slide.id%>"><i class="fa fa-star-o"></i></a>
          <% end %>
      </div>  
      <div class="panel-heading">
        <% if @nbp.present? %> 
          <h3 class="panel-title"><a href="/nbps/<%=@nbp.id%>"><%= @nbp.deal.name %> NBP</a> (Slide# <%= @slide.number %>)</h3>
        <% end %>
        <% if @cip.present? %> 
          <h3 class="panel-title"><a href="/cips/<%=@cip.id%>"><%= @cip.deal.name %> CIP</a> (Slide# <%= @slide.number %>)</h3>
        <% end %>
        <% if @mp.present? %> 
          <h3 class="panel-title"><a href="/mps/<%=@mp.id%>"><%= @mp.deal.name %> MP</a> (Slide# <%= @slide.number %>)</h3>
        <% end %>
        <% if @teaser.present? %> 
          <h3 class="panel-title"><a href="/teasers/<%=@teaser.id%>"><%= @teaser.deal.name %> Teaser</a> (Slide# <%= @slide.number %>)</h3>
        <% end %>        
        <% if @case_study.present? %> 
          <h3 class="panel-title"><a href="/case_studies/<%=@case_study.id%>"><%= @case_study.deal.name %> Case Study</a> (Slide# <%= @slide.number %>)</h3>
        <% end %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">            
              <% if @slide.nbp.present? %>   
              <%= link_to image_tag("http://res.cloudinary.com/mglicken/image/upload/f_jpg,pg_#{ @slide.number }/#{@slide.nbp.image_id}.pdf",:class => 'pdf-image-1') %>  
            <% elsif @slide.cip.present? %> 
              <%= link_to image_tag("http://res.cloudinary.com/mglicken/image/upload/f_jpg,pg_#{ @slide.number }/#{@slide.cip.image_id}.pdf", :class => 'pdf-image-1') %>    
            <% elsif @slide.mp.present? %> 
              <%= link_to image_tag("http://res.cloudinary.com/mglicken/image/upload/f_jpg,pg_#{ @slide.number }/#{@slide.mp.image_id}.pdf", :class => 'pdf-image-1') %>   
            <% elsif @slide.teaser.present? %> 
              <%= link_to image_tag("http://res.cloudinary.com/mglicken/image/upload/f_jpg,pg_#{ @slide.number }/#{@slide.teaser.image_id}.pdf", :class => 'pdf-image-1') %> 
            <% elsif @slide.case_study.present? %> 
              <%= link_to image_tag("http://res.cloudinary.com/mglicken/image/upload/f_jpg,pg_#{ @slide.number }/#{@slide.case_study.image_id}.pdf",:class => 'pdf-image-1') %>  
            <% end %>

            <div class="btn-group btn-group-justified">
              <% if @slide.number > 1 %>
                <a href="/slides/<%= (@slide.id - 1) %>" class="btn btn-lincoln">
                  <i class="fa fa-chevron-left"></i>
                </a>
              <% end %>
              <% if @slide.number < Slide.find(@slide.id+1).number %>
                <a href="/slides/<%= @slide.id + 1%>" class="btn btn-lincoln">
                  <i class="fa fa-chevron-right"></i>
                </a>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-offset-lg-1 col-lg-10">
    <%= render('view_tags', slide: @slide) %>
  </div>
</div>

<br>
<br>

<%= render('shared/quick_search_js') %>
<!-- End responsive panel example -->
