<div class="ibox collapsed float-e-margins">
    <div class="ibox-title">
        <h5>Sponsor History (<%= @person.sponsor_histories.count %>) <%= render('shared/create_sponsor_history_modal', :sponsor => Sponsor.none, :person => @person )%></h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover margin bottom">
                    <thead>
                    <tr>
                        <th style="width:80%">Sponsor</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                            <% @person.sponsor_histories.order("start_year desc").each do |sponsor_history| %>
                    <tr>
                        <td>
                            <strong><a href="/sponsors/<%= sponsor_history.sponsor_id%>"><%= sponsor_history.sponsor.name %></a></strong> (<%= sponsor_history.role.name %>)
                            <%= render('shared/edit_sponsor_history_modal', :sponsor_history => sponsor_history)%>
                        </td>
                        <td>
                            <% if sponsor_history.current %>
                              <%= sponsor_history.start_year %>-Present
                            <% else %>
                              <%= sponsor_history.start_year %>-<%= sponsor_history.end_year %>
                            <%end%>
                        </td>
                    </tr>
                    <%end%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>