<div class="ibox collapsed float-e-margins">
    <div class="ibox-title">
        <h5>Projects (<%= @person.deals.count %>) <%= render('shared/add_person_to_deal_modal', :deal => Deal.none, person: @person )%></h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover margin bottom">
                    <thead>
                    <tr>
                        <th style="width: 1%" class="text-center">No.</th>
                        <th>Project</th>
                        <th style="width: 10%">Role</th>
                        <th style="width: 10%" class="text-center">NBP Date</th>
                        <th style="width: 20%" class="text-center">Stage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%i=0%>
                    <%d=0%>
                    <% Nbp.where(deal_id: @person.deals.ids).order("nbp_date DESC").each do |nbp| 
                                i=i+1 %>
                        <% if i == 1 %>
                            <% d = d + 1 %>
                            <tr>
                                <td class="text-center"><%=d%></td>
                                <td><a href="/deals/<%= nbp.deal.id %>"><%= nbp.deal.name %></a></td>
                                <td><%= nbp.deal.deal_people.find_by(person_id: @person.id).role.name %></a></td>
                                <td class="text-center small"><%= nbp.nbp_date %></td>
                                <% if nbp.deal.deal_stage_id == 15 %>
                                   <td class="text-center"><span class="label label-primary"><%= nbp.deal.deal_stage.name%></span></td>
                                <% elsif nbp.deal.deal_stage_id == 16 || nbp.deal.deal_stage_id == 17 || nbp.deal.deal_stage_id == 18 %>
                                   <td class="text-center"><span class="label label-danger"><%= nbp.deal.deal_stage.name%></span></td>
                                <% else %>
                                   <td class="text-center"><span class="label label-warning"><%= nbp.deal.deal_stage.name%></span></td>
                                <% end %> 

                            </tr>
                        <% elsif Nbp.where(deal_id: @person.deals.ids).order("nbp_date DESC")[0..(i-2)].pluck(:deal_id).include? nbp.deal_id
                            next
                        else %>
                            <% d = d+1 %>
                            <tr>
                                <td class="text-center"><%=d%></td>
                                <td><a href="/deals/<%= nbp.deal.id %>"><%= nbp.deal.name %></a></td>
                                <td><%= nbp.deal.deal_people.find_by(person_id: @person.id).role.name %></a></td>
                                <td class="text-center small"><%= nbp.nbp_date %></td>
                                <% if nbp.deal.deal_stage_id == 15 %>
                                   <td class="text-center"><span class="label label-primary"><%= nbp.deal.deal_stage.name%></span></td>
                                <% elsif nbp.deal.deal_stage_id == 16 || nbp.deal.deal_stage_id == 17 || nbp.deal.deal_stage_id == 18 %>
                                   <td class="text-center"><span class="label label-danger"><%= nbp.deal.deal_stage.name%></span></td>
                                <% else %>
                                   <td class="text-center"><span class="label label-warning"><%= nbp.deal.deal_stage.name%></span></td>
                                <% end %> 

                            </tr>
                        <% end %>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>