<div class="ibox collapsed float-e-margins">
    <div class="ibox-title">
        <h5>Projects (<%= @person.deals.count %>)</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover margin bottom">
                    <thead>
                    <tr>
                        <th style="width: 1%" class="text-center">No.</th>
                        <th>Project</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Stage</th>
                    </tr>
                    </thead>
                    <tbody>
                            <%i=0%>
                            <% @person.deals.each do |deal| 
                                i=i+1%>
                    <tr>
                        <td class="text-center"><%=i%></td>
                        <td><a href="/deals/<%= deal.id %>"><%= deal.name %></a></td>
                        <td class="text-center small"><%= Nbp.where(deal_id: deal.id).first.nbp_date %></td>
                        <td class="text-center"><span class="label label-primary"><%= Tag.find(rand(3)+1).name%></span></td>

                    </tr>
                    <%end%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>