  <div class="pull-right">
  <div class="btn btn-group btn-group-horizontal">
    <h1>
      <a class="btn btn-success" >
        Download Data
      </a>
    </h1>
  </div>
</div>
<div class="page-header">
  <h1>
    Models Dashboard
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->
<div class="row isotope-container">

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/accesses"> Accesses </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "accesses") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/advisor_types"> Advisor Types </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "advisor_types") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/buckets"> Buckets </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "buckets") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/case_studies"> Case Studies </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "case_studies") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/case_study_slides"> Case Study Slides </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "case_study_slides") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/cips"> CIPs </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "cips") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/cip_slides"> CIP Slides </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "cip_slides") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/cip_sponsors"> CIP Sponsors </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "cip_sponsors") %>
      </div>
    </div>
  </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/cip_companies"> CIP Companies </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "cip_companies") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/companies"> Companies </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "companies") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/company_follows"> Company Follows </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "company_follows") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/company_notes"> Company Notes </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "company_notes") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/deals"> Deals </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "deals") %>
      </div>
    </div>
  </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/deal_follows"> Deal Follows </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "deal_follows") %>
      </div>
    </div>
  </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/deal_people"> Deal People </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "deal_people") %>
      </div>
    </div>
  </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/deal_stages"> Deal Stages </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "deal_stages") %>
      </div>
    </div>
  </div>

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/deal_types"> Deal Types </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "deal_types") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/diligence_advisors"> Diligence Advisors </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "diligence_advisors") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/favorite_slides"> Favorite Slides </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "favorite_slides") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/funds"> Funds </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "funds") %>
      </div>
    </div>
  </div>  

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/fund_companies"> Fund Companies </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "fund_companies") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/highlights"> Highlights </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "highlights") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/iois"> IOIs </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "iois") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/ioi_slides"> IOI Slides </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "ioi_slides") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/ioi_highlights"> IOI Highlights </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "ioi_highlights") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/lois"> LOIs </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "lois") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/loi_slides"> LOI Slides </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "loi_slides") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/loi_highlights"> LOI Highlights </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "loi_highlights") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/mps"> MPs </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "mps") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/mp_slides"> MP Slides </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "mp_slides") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/mp_sponsors"> MP Sponsors </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "mp_sponsors") %>
      </div>
    </div>
  </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/mp_companies"> MP Companies </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "mp_companies") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/nbps"> NBPs </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "nbps") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/nbp_companies"> NBP Companies </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "nbp_companies") %>
      </div>
    </div>
  </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/nbp_slides"> NBP Slides </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "nbp_slides") %>
      </div>
    </div>
  </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/nbp_sponsors"> NBP Sponsors </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "nbp_sponsors") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/nbp_tags"> NBP Tags </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "nbp_tags") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/ndas"> NDAs </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "ndas") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/nda_slides"> NDA Slides </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "nda_slides") %>
      </div>
    </div>
  </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/notes"> Notes </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "notes") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/people"> People </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "people") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/person_notes"> Person Notes </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "person_notes") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/roles"> Roles </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "roles") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/slides"> Slides </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "slides") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/slide_layouts"> Slide Layouts </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "slide_layouts") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/slide_layout_slides"> Slide Layout Slides </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "slide_layout_slides") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/slide_tags"> Slide Tags </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "slide_tags") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/sponsors"> Sponsors </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "sponsors") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/sponsor_follows"> Sponsor Follows </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "sponsor_follows") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/sponsor_histories"> Sponsor Histories </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "sponsor_histories") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/sponsor_notes"> Sponsor Notes </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "sponsor_notes") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/strip_tags"> Strip Tags </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "strip_tags") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/subsidiaries"> Subsidiaries </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "subsidiaries") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/tags"> Tags </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "tags") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/teasers"> Teasers </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "teasers") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/teaser_slides"> Teaser Slides </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "teaser_slides") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/teaser_sponsors"> Teaser Sponsors </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "teaser_sponsors") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/teaser_companies"> Teaser Companies </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "teaser_companies") %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 isotope-item">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
        <a href="/work_histories"> Work Histories </a>
        </h3>
      </div>
      <div class="panel-body">
      <%= render('shared/file_download_upload', path: "work_histories") %>
      </div>
    </div>
  </div>

</div>

<script>
  document.getElementById("download_button").addEventListener("click", function () {
    location.href = "/accesses/download";
  });
</script>