<!-- Validation failure messages -->

<% if @person.errors.any? %>
  <% @person.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Person</h3>
      </div>
      <div class="panel-body">
        <form action="/create_person" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="string" id="name" name="name" placeholder="Name" class="form-control" value="<%= @person.name %>">
            </div>
          </div>

          <!-- Label and input for Person -->
          <div class="form-group">
            <label for="role" class="col-sm-2 control-label">
              Role
            </label>
            <div class="col-sm-10">
              <%= select_tag :role_id, options_from_collection_for_select(Role.all, :id, :name, @person.role_id), :class => "form-control" %>
            </div>
          </div>

          <!-- Label and input for Street Address -->
          <div class="form-group">
            <label for="address" class="col-sm-2 control-label">
              Street Address
            </label>
            <div class="col-sm-10">
              <input type="string" id="address" name="address" placeholder="e.g., 500 W Madison, Suite 3900" class="form-control" value="<%= @person.address %>">
            </div>
          </div>
          <!-- Label and input for City -->
          <div class="form-group">
            <label for="city" class="col-sm-2 control-label">
              City
            </label>
            <div class="col-sm-10">
              <input type="string" id="city" name="city" placeholder="e.g., Chicago" class="form-control" value="<%= @person.city %>">
            </div>
          </div>
          <!-- Label and input for State -->
          <div class="form-group">
            <label for="state" class="col-sm-2 control-label">
              State
            </label>
            <div class="col-sm-10">
              <input type="string" id="state" name="state" placeholder="e.g., IL" class="form-control" value="<%= @person.state %>">
            </div>
          </div>
          <!-- Label and input for Zip Code -->
          <div class="form-group">
            <label for="zip" class="col-sm-2 control-label">
              Zip Code
            </label>
            <div class="col-sm-10">
              <input type="integer" id="zip" name="zip" placeholder="e.g., 60661" class="form-control" value="<%= @person.zip %>">
            </div>
          </div>
          <!-- Label and input for Phone Number -->
          <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">
              Phone Number
            </label>
            <div class="col-sm-10">
              <input type="integer" id="phone" name="phone" placeholder="e.g., 1234567890" class="form-control" value="<%= @person.phone %>">
            </div>
          </div>
          <!-- Label and input for Email Address -->
          <div class="form-group">
            <label for="email_address" class="col-sm-2 control-label">
              Email Address
            </label>
            <div class="col-sm-10">
              <input type="string" id="email_address" name="email_address" placeholder="e.g., jdoe@lincolninternational.com" class="form-control"   value="<%= @person.email_address %>">
            </div>
          </div>

          <!-- Label and input for LinkedIn Url -->
          <div class="form-group">
            <label for="linkedin_url" class="col-sm-2 control-label">
              LinkedIn
            </label>
            <div class="col-sm-10">
              <input type="string" id="linkedin_url" name="linkedin_url" placeholder="e.g., https://www.linkedin.com/in/first-last-12345678/" class="form-control" value="<%= @person.linkedin_url %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Person
              </button>
              or
              <a href="/people">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
