<div class="page-header">
  <h1>
    People
    <%= render('shared/create_person_modal') %>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search People (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @people.order("backwards_name ASC").each do |person| %>
  <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-size:12px"><%= person.name %></h3>
      </div>
      <a href="/people/<%= person.id %>"><img src="<%= person.image_url %>"  width=100%></a>
      <div class="panel-body">

      </div>
    </div>
  </div>
<% end %>
</div>

<%= render('shared/quick_search_js') %>