<style>
.card-img-left {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
}

</style>
<br>
<div class="row">
  <div class="col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-12">
    <div class="panel panel-default">
            <div class="pull-right">
              <%= render('shared/edit_person_modal', :person => @person)%>
              <% if current_user.access_id <= 2 %>
                <%= render('shared/delete_person_modal', :person => @person)%>
              <% end %>
            </div>
      <div class="panel-heading">
        <h3 class="panel-title"><strong><%= @person.name %></strong> (<%= @person.role.name %>)</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
          
          <div class="card">
              <img class="card-img-left" src="<%=@person.image_url%>" alt="Card image cap" style="width:150px; padding-bottom:25px">
              <div class="card-block">
                <h4 class="card-title"><strong>Personal Information</strong></h4>


                <div class="card-text">

                  <%= @person.address %><br>
                  <%= @person.city %> <%= @person.state %>, <%= @person.zip %><br>
                  <% if @person.phone.present? %> 
                      <abbr title="phone"><strong>Main:</strong></abbr> (<%= @person.phone.to_s[0..2] %>) <%= @person.phone.to_s[3..5] %>-<%= @person.phone.to_s[6..9] %><br>
                  <%end%>
                  <% if @person.cell.present? %> 
                      <abbr title="cell"><strong>Mobile:</strong></abbr> (<%= @person.cell.to_s[0..2] %>) <%= @person.cell.to_s[3..5] %>-<%= @person.cell.to_s[6..9] %><br>
                  <%end%>
                  <% if @person.email_address.present? %> 
                    <abbr title="email_address"><strong>Email:</strong></abbr> <a href="mailto:<%= @person.email_address %>"><%= @person.email_address %></a>
                  <%end%>                  

              </div>
              <div>
                <div class="btn btn-group btn-group-horizontal pull-right">
                  <a href="<%= @person.linkedin_url%>" class="btn btn-lg"><i class="fa fa-linkedin"></i></a>
                  <a href="mailto:<%= @person.email_address %>" class="btn btn-lg"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
              </div>
            </div>
            

          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<!--  Action Buttons  -->

  <%= render('shared/create_work_history_modal', :company => 0, :person => @person )%>
  <%= render('shared/create_sponsor_history_modal', :sponsor => 0, :person => @person )%>
  <%= render('shared/create_note_modal')%>
  <%= render('shared/add_person_to_deal_modal', :deal => nil, person: @person)%>
<br>
<br>
<!--  Accordion  -->
<%= render('collapsible_info') %>

<%= render('shared/quick_search_js') %>


<!-- End responsive panel example -->
