<style>
.card-img-left {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
}

</style>
<br>
<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <div class="ibox-content">
      <h3 class="ibox-title"><strong><%= @person.name %></strong> (<%= @person.role.name %>)</h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-lg-9">
          
              <img class="card-img-left" src="<%=@person.image_url%>" alt="No image" style="width:150px; padding-bottom:25px">
              <div class="card-block">
                <h4 class="card-title"><strong>Personal Information</strong></h4>
                <div class="card-text">
                  <%= @person.address %><br>
                  <%= @person.city %> <%= @person.state %>, <%= @person.zip %><br>
                  <% if @person.phone.present? %> 
                      <abbr title="phone"><strong>Main:</strong></abbr> (<%= @person.phone.to_s[0..2] %>) <%= @person.phone.to_s[3..5] %>-<%= @person.phone.to_s[6..9] %><br>
                  <%end%>
                  <% if @person.cell.present? %> 
                      <abbr title="cell"><strong>Mobile:</strong></abbr> (<%= @person.cell.to_s[0..2] %>) <%= @person.cell.to_s[3..5] %>-<%= @person.cell.to_s[6..9] %><br>
                  <%end%>
                  <% if @person.email_address.present? %> 
                    <abbr title="email_address"><strong>Email:</strong></abbr> <a href="mailto:<%= @person.email_address %>"><%= @person.email_address %></a>
                  <%end%>                  
                </div>
              </div>
          </div>
          <div class="col-lg-3">
            <div class="btn-group-vertical">
              <div class="btn-group-horizontal">
                <a href="<%= @person.linkedin_url%>" class="btn"><i class="fa fa-linkedin"></i></a>
                <a href="mailto:<%= @person.email_address %>" class="btn"><i class="fa fa-envelope"></i></a>
              </div>
              <br>
              <div class="btn-group-horizontal">
                <%= render('shared/edit_person_modal', :person => @person)%>
                <% if current_user.access_id <= 2 %>
                  <%= render('shared/delete_person_modal', :person => @person)%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row container">
  <%= render('shared/create_work_history_modal', :company => 0, :person => @person )%>
  <%= render('shared/create_sponsor_history_modal', :sponsor => Sponsor.none, :person => @person )%>
</div>
<br>
<%= render('view_deals') %>
<%= render('view_work_history') %>
<%= render('view_sponsor_history') %>
<%= render('view_notes') %>
<%= render('shared/quick_search_js') %>
