<br>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="ibox-content">
        <h3 class="ibox-title"> CIP Company # <%= @cip_company.id %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-md-12">
            <dl>

              <dt> CIP ID</dt>
              <dd><%= @cip_company.cip_id %></dd>  
              <dt> Company ID</dt>
              <dd><%= @cip_company.company_id %></dd>
              <dt> IOI ID</dt>
              <dd><%= @cip_company.ioi_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/cips/<%= @cip_company.cip_id %>" class="btn btn-primary">
                <i class="fa fa-reply"></i>
              </a>

              <a href="/cip_companies/<%= @cip_company.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <% if current_user.access_id < 3 %>
                <%= render('shared/delete_cip_company_modal', :cip_company => @cip_company)%>
              <% end %>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

