
<div class="page-header">
  <h1>
    Sponsor Follows
    <a href="/sponsor_follows/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Sponsor Follows (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @sponsor_follows.each do |sponsor_follow| %>
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sponsor Follow # <%= sponsor_follow.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <class="dl-horizontal">

              <dt> User ID</dt>
              <dd><%= sponsor_follow.user_id %></dd>
              <dt> Sponsor ID</dt>
              <dd><%= sponsor_follow.sponsor_id %></dd>          

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/sponsor_follows/<%= sponsor_follow.id %>" class="btn btn-primary">
                <i class="fa fa-search-plus"></i>
              </a>

              <a href="/sponsor_follows/<%= sponsor_follow.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= render('shared/quick_search_js') %>