<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> Diligence Advisor # <%= @diligence_advisor.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl>

              <dt> Advisor Type: </dt>
              <dd><%= @diligence_advisor.advisor_type.name %></dd>
              <dt> MP Sponsor ID: </dt>
              <dd><%= @diligence_advisor.mp_sponsor_id %></dd>
              <dt> MP Sponsor ID: </dt>
              <dd><%= @diligence_advisor.mp_sponsor_id %></dd>
              <dt> Deal ID: </dt>
              <dd><%= @diligence_advisor.deal_id %></dd>
              <dt> Advisor Company: </dt>
              <dd><%= @diligence_advisor.company.name %></dd>
              <dt> Advisor: </dt>
              <dd><%= @diligence_advisor.person.name %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/diligence_advisors/<%= @diligence_advisor.id %>" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/diligence_advisors/<%= @diligence_advisor.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- End responsive panel example -->
