<br>
<div class="row">
  <div class="pull-right">
    <div class="btn-group-vertical">
       <a class="btn btn-success" href="http://res.cloudinary.com/mglicken/image/upload/<%= @nda.image_id %>.pdf">View PDF <i class="fa fa-copy (alias)"></i></a>
    </div>
  </div> 
  <div class="col-lg-offset-2 col-lg-7">
    <div class="ibox-content">
        <% if NdaSlide.where(nda_id: @nda.id).empty? %>
          <a href="#" class="btn btn-lincoln pull-right" style="text-align:center; margin-top: 10px;" id="upload_widget_opener">Upload NDA PDF</a>
        <% end %> 
        <h3 class="ibox-title"><%= @nda.name %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal" style="font-size:10px">

             <dt>Deal</dt>
             <dd> <a href="/deals/<%= @nda.deal_id %>"><%= @nda.deal.name %></a></dd>
             <dt>Company</dt>
             <dd> <a href="/companies/<%= @nda.deal.company.id %>"><%= @nda.deal.company.name %></a></dd>
             <dt>Date</dt>
             <dd><%= @nda.nda_date %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%if @nda.teaser_company.present? %>
                <a href="/teasers/<%= @nda.teaser_company.teaser_id %>/companies" class="btn btn-lincoln"><i class="fa fa-chevron-left"></i></a>
              <%elsif @nda.teaser_sponsor.present? %>
                <a href="/teasers/<%= @nda.teaser_sponsor.teaser_id %>/sponsors" class="btn btn-lincoln"><i class="fa fa-chevron-left"></i></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1"> NDA Document (<%= @nda.slides.count %> Pages)</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2">Advisors (<%= @nda.diligence_advisors.count %>)</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                      <%= render('view_slides') %>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                      <%= render('view_advisors') %>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<%= render('shared/quick_search_js') %>

<% if NdaSlide.where(nda_id: @nda.id).empty? %>
  <%= render('shared/upload_widget',url: "/create_nda_slide/#{@nda.id}", p_id: @p_id) %>
<% end %>

