<!-- Validation failure messages -->

<% if @mp.errors.any? %>
  <% @mp.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
  
      <div class="panel-heading">
        <h3 class="panel-title">Edit <%= @mp.deal.name %> MP</h3>
      </div>
      <div class="panel-body">
        <form action="/update_mp/<%= @mp.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for Company Name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Deal
            </label>
            <div class="col-sm-10">
              <%= select_tag :deal_id, options_from_collection_for_select(Deal.all, :id, :name, @mp.deal_id), :class => "form-control" %>
            </div>
          </div>
          <!-- Label and input for MP Date -->
          <div class="form-group">
            <label for="mp_date" class="col-sm-2 control-label">
              MP Date
            </label>
            <div class="col-sm-10">
              <input type="date" id="mp_date" name="mp_date" placeholder="e.g., 09/09/2017" class="form-control" value="<%= @mp.mp_date %>">
            </div>
          </div>

          <!-- Label and input for Net Sales Target ($ in millions) -->
          <div class="form-group">
            <h5><label for="net_sales_target" class="col-sm-2 control-label">
              Net Sales Target ($ in millions)
            </label></h5>
            <div class="col-sm-10">
              <input type="float" id="net_sales_target" name="net_sales_target" placeholder="4.8" class="form-control" value="<%= @mp.net_sales_target %>">
            </div>
          </div>

          <!-- Label and input for Adjusted EBITDA Target ($ in millions) -->
          <div class="form-group">
            <h5><label for="adj_ebitda_target" class="col-sm-2 control-label">
              Adjusted EBITDA Target ($ in millions)
            </label></h5>
            <div class="col-sm-10">
              <input type="float" id="adj_ebitda_target" name="adj_ebitda_target" placeholder="4.8" class="form-control" value="<%= @mp.adj_ebitda_target %>">
            </div>
          </div>

          <!-- Label and input for Working Capital Target ($ in millions) -->
          <div class="form-group">
            <h5><label for="working_capital_target" class="col-sm-2 control-label">
              Working Capital Target ($ in millions)
            </label></h5>
            <div class="col-sm-10">
              <input type="float" id="working_capital_target" name="working_capital_target" placeholder="4.8" class="form-control" value="<%= @mp.working_capital_target %>">
            </div>
          </div>

          <!-- Label and input for Image ID -->
          <div class="form-group">
            <h5><label for="image_id" class="col-sm-2 control-label">
              Image ID
            </label></h5>
            <div class="col-sm-10">
              <input type="string" id="image_id" name="image_id" placeholder="e.g., 2984hgobjoagy983hpig5bh38hg850h3gokfjvlsdkjgoisj200" class="form-control">
            </div>
          </div>

          <!-- Label and input for ppt_address -->
          <div class="form-group">
            <h5><label for="ppt_address" class="col-sm-2 control-label">
              Powerpoint Folder Address
            </label></h5>
            <div class="col-sm-10">
              <input type="string" id="ppt_address" name="ppt_address" placeholder="H://Marketing/Sponsor/Deal/NBP/Powerpoint/XML" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update MP
              </button>
              or
              <a href="/mps/<%= @mp.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
