<%= render('shared/file_download_upload', path: "mps") %>
<div class="page-header">
  <h1>
    MPs
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search MPs (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @mps.order("mp_date DESC").each do |mp| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="/mps/<%= mp.id %>">
            <%= mp.name %></a></h3>
      </div>
      <% if mp.mp_date.nil? | mp.mp_date == "" %>      
      <div class="panel-body">
        <dl>
          <dt></dt>
          <dd><%= mp.mp_date %></dd>
        </dl>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>

<%= render('shared/quick_search_js') %>