<br>
<div class="row">
  <div class="col-lg-offset-2 col-lg-7">
    <div class="ibox-content">
        <h3 class="ibox-title"><%= @mp.name %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal" style="font-size:10px">

               <dt>Deal:</dt>
               <dd> <a href="/deals/<%= @mp.deal_id %>"><%= @mp.deal.name %></a></dd>
               <dt>Company:</dt>
               <dd> <a href="/companies/<%= @mp.deal.company.id %>"><%= @mp.deal.company.name %></a></dd>
               <dt>Date:</dt>
               <dd><%= @mp.mp_date %></dd>

               <dt>LOI Summary Bullets:</dt>
               <dd>
                  <% Highlight.where(loi_include: true).order("id ASC").each do |highlight| %>
                      <% if highlight.id % 3 == 0 %>
                        <br>
                      <%end%>
                      <% if LoiHighlight.where(loi_id: (MpSponsor.where(mp_id: @mp.id).pluck(:loi_id) + MpCompany.where(mp_id: @mp.id).pluck(:loi_id)), highlight_id: highlight.id).present? %>
                        <span style="font:black; font-size:14px; padding-right:5px; padding-left:2px;"><a data-toggle="modal" href="#Modal_Highlight_<%=highlight.id %>"><i class="fa fa-check-square-o"></i></a></span><span style="font-size: 10px"><%= highlight.name %></span>
                        <div class="modal inmodal fade" id="Modal_Highlight_<%=highlight.id %>" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">Remove Bullet</h4>
                                        <small class="font-bold">Remove summarizing bullet point from all LOIs</small>
                                    </div>
                                    <div class="modal-body">
                                            <strong>Are you sure you want to remove "<%= highlight.name%>"" from all LOIs?</strong> Doing so will permanently destroy all details associated with this highlight for every LOI on this deal (<%= @mp.deal.name %>). 
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                        <a type="button" href="/loi_highlight_checkbox/<%= highlight.id %>/<%=@mp.id%>/1/2" class="btn btn-lincoln">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <% else %>
                        <span style="font:black;font-size: 14px; padding-right:5px; padding-left:2px;"><a href="/loi_highlight_checkbox/<%= highlight.id %>/<%=@mp.id%>/1/1"><i class="fa fa-square-o"></i></a></span><span style="font-size: 10px"><%= highlight.name %></span>
                      <% end %>
                  <% end %>
                </dd>
            </dl>
          </div>
        </div>
      </div>

    </div>
  </div>
    <div class="col-lg-3">
      <%= render('add_company_autocomplete', mp: @mp) %>
      <%= render('shared/buyer_upload', resource_id: @mp.id, path: "mp") %>  
      <%= render('shared/copy_strategic_buyer_list_modal')%>
      <br>
      
  </div> 
</div>
<br>
<div class="row">
  <a class="btn btn-lincoln" href="/mps/<%= @mp.id %>">View Slides</a>
  <a class="btn btn-lincoln" href="/mps/<%= @mp.id %>/acquirers">View All Acquirers</a>
  <a class="btn btn-lincoln" href="/mps/<%= @mp.id %>/sponsors">View Financial Acquirers</a>
</div>

<%= render('view_companies') %>
<%= render('shared/quick_search_js') %>

<script>
$("[type=checkbox]").change(function () {
    if ($(this).is(':checked')) {
        var highlight_id = $(this).attr('name');
        window.location.replace("/loi_highlight_checkbox/" + highlight_id + "/<%=@mp.id%>" + "/2/1");
    } else {
        var highlight_id = $(this).name();
        window.location.replace("/loi_highlight_checkbox/" + highlight_id + "/<%=@mp.id%>" + "/2/2");
    }
});
</script>