<br>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="ibox-content">
      <h3 class="ibox-title"> Teaser Sponsor # <%= @teaser_sponsor.id %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-md-12">
            <dl>

              <dt> Teaser ID</dt>
              <dd><%= @teaser_sponsor.teaser_id %></dd>  
              <dt> Sponsor ID</dt>
              <dd><%= @teaser_sponsor.sponsor_id %></dd>
              <dt> NDA ID</dt>
              <dd><%= @teaser_sponsor.nda_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/seasers/<%= @teaser_sponsor.teaser_id %>" class="btn btn-primary">
                <i class="fa fa-reply"></i>
              </a>
              <a href="/teaser_sponsors/<%= @teaser_sponsor.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <% if current_user.access_id < 3 %>
                <%= render('shared/delete_teaser_sponsor_modal', :teaser_sponsor => @teaser_sponsor)%>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
