<br>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="ibox-content">
        <h3 class="ibox-title"> Case Study Slide # <%= @case_study_slide.id %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-md-12">
            <dl>

              <dt> Slide ID</dt>
              <dd><%= @case_study_slide.slide_id %></dd>
              <dt> Case Study ID</dt>
              <dd><%= @case_study_slide.case_study_id %></dd>  

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/seasers/<%= @case_study_slide.case_study_id %>" class="btn btn-primary">
                <i class="fa fa-reply"></i>
              </a>

              <a href="/case_study_slides/<%= @case_study_slide.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

