<!-- Validation failure messages -->

<% if @loi.errors.any? %>
  <% @loi.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
  
      <div class="panel-heading">
        <h3 class="panel-title">Edit <%= @loi.deal.name %> LOI</h3>
      </div>
      <div class="panel-body">
        <form action="/update_loi/<%= @loi.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for name -->
          <div class="form-group">
            <h5><label for="name" class="col-sm-2 control-label">
              LOI Document Title
            </label></h5>
            <div class="col-sm-10">
              <input type="string" id="name" name="name" placeholder="e.g., Company Name / Acquirer Name LOI" class="form-control" value="<%= @loi.name %>">
            </div>
          </div>

          <!-- Label and input for Company Name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Deal
            </label>
            <div class="col-sm-10">
              <%= select_tag :deal_id, options_from_collection_for_select(Deal.all, :id, :name, @loi.deal_id), :class => "form-control" %>
            </div>
          </div>
          <!-- Label and input for loi Date -->
          <div class="form-group">
            <label for="loi_date" class="col-sm-2 control-label">
              LOI Date
            </label>
            <div class="col-sm-10">
              <input type="date" id="loi_date" name="loi_date" placeholder="e.g., 09/09/2017" class="form-control" value="<%= @loi.loi_date %>">
            </div>
          </div>
          <!-- Label and input for Image ID -->
          <div class="form-group">
            <label for="image_id" class="col-sm-2 control-label">
              Image ID
            </label>
            <div class="col-sm-10">
              <input type="string" id="image_id" name="image_id" placeholder="alkdjsagflj231564651658134e8" class="form-control" value="<%= @loi.image_id %>">
            </div>
          </div>
          <!-- Label and input for Enterprise Value ($ millions) -->
          <div class="form-group">
            <label for="enterprise_value" class="col-sm-2 control-label">
              Enterprise Value ($ millions)
            </label>
            <div class="col-sm-10">
              <input type="float" id="enterprise_value" name="enterprise_value" placeholder="10.1" class="form-control" value="<%= @loi.enterprise_value %>">
            </div>
          </div>

          <!-- Label and input for Working Capital Target ($ millions) -->
          <div class="form-group">
            <label for="working_capital_target" class="col-sm-2 control-label">
              Working Capital Target ($ millions)
            </label>
            <div class="col-sm-10">
              <input type="float" id="working_capital_target" name="working_capital_target" placeholder="10.1" class="form-control" value="<%= @loi.working_capital_target %>">
            </div>
          </div>

          <!-- Label and input for Expiration Date -->
          <div class="form-group">
            <label for="expiration_date" class="col-sm-2 control-label">
              Expiration Date
            </label>
            <div class="col-sm-10">
              <input type="date" id="expiration_date" name="expiration_date" placeholder="10.1" class="form-control" value="<%= @loi.expiration_date %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update LOI
              </button>
              or
              <a href="/lois/<%= @loi.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
