<br>
<br>

<div class="row">
  <div class="col-lg-offset-2 col-lg-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if LoiSlide.where(loi_id: @loi.id).empty? %>
          <a href="#" class="btn btn-lincoln pull-right" text-align="center" id="upload_widget_opener">Upload LOI PDF</a>
        <% end %> 
        <h3 class="panel-title" style="font-size:28px"><%= @loi.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal" style="font-size:10px">

             <dt>Deal:</dt>
             <dd> <a href="/deals/<%= @loi.deal_id %>"><%= @loi.deal.name %></a></dd>
             <dt>Company:</dt>
             <dd> <a href="/companies/<%= @loi.deal.company.id %>"><%= @loi.deal.company.name %></a></dd>
             <dt>Acquirer:</dt>
             <% if @loi.mp_company.present?%>
              <dd> <a href="/companies/<%= @loi.mp_company.company.id %>"><%= @loi.mp_company.company.name %></a></dd>
             <%elsif @loi.mp_sponsor.present? %>
              <dd> <a href="/sponsors/<%= @loi.mp_sponsor.sponsor.id %>"><%= @loi.mp_sponsor.sponsor.name %></a></dd>
             <% end %>
             <dt>Enterprise Value:</dt>
             <% if @loi.enterprise_value.present? %>
              <dd>$<%= @loi.enterprise_value %> million</dd>
             <% end %>
             <dt>Date:</dt>
             <dd><%= @loi.loi_date %></dd>
             <br>
             <%@loi.loi_highlights.order("highlight_id asc").each do |loi_highlight|%>
              <dt><%= loi_highlight.highlight.name%>:</dt>
              <dd><%= loi_highlight.detail%></dd>
             <%end%>

            </dl>
            <div class="btn-group btn-group-justified">
              <%if @loi.mp_company.present? %>
                <a href="/mps/<%= @loi.mp_company.mp_id %>/companies" class="btn btn-lincoln"><i class="fa fa-chevron-left"></i></a>
              <%elsif @loi.mp_sponsor.present? %>
                <a href="/mps/<%= @loi.mp_sponsor.mp_id %>/sponsors" class="btn btn-lincoln"><i class="fa fa-chevron-left"></i></a>
              <% end %>
              <%= render('shared/edit_loi_and_highlights_modal', :loi => @loi)%>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render('view_slides') %>
<%= render('shared/quick_search_js') %>

<% if LoiSlide.where(loi_id: @loi.id).empty? %>
  <%= render('shared/upload_widget',url: "/create_loi_slide/#{@loi.id}", p_id: @p_id) %>
<% end %>

