<br>
<div class="row">
  <div class="pull-right">
    <div class="btn-group-vertical">
       <a class="btn btn-success" href="http://res.cloudinary.com/mglicken/image/upload/<%= @loi.image_id %>.pdf">View PDF <i class="fa fa-copy (alias)"></i></a>
    </div>
  </div> 
  <div class="col-lg-offset-2 col-lg-7">
    <div class="ibox-content">
        <% if LoiSlide.where(loi_id: @loi.id).empty? %>
          <a href="#" class="btn btn-lincoln pull-right" text-align="center" id="upload_widget_opener">Upload LOI PDF</a>
        <% end %> 
        <h3 class="ibox-title" style="font-size:28px"><%= @loi.name %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal" style="font-size:10px">

             <dt>Deal:</dt>
             <dd> <a href="/deals/<%= @loi.deal_id %>"><%= @loi.deal.name %></a></dd>
             <dt>Company:</dt>
             <dd> <a href="/companies/<%= @loi.deal.company.id %>"><%= @loi.deal.company.name %></a></dd>
             <dt>Acquirer:</dt>
             <% if @loi.mp_company.present?%>
              <dd> <a href="/companies/<%= @loi.mp_company.company.id %>"><%= @loi.mp_company.company.name %></a></dd>
             <%elsif @loi.mp_sponsor.present? %>
              <dd> <a href="/sponsors/<%= @loi.mp_sponsor.sponsor.id %>"><%= @loi.mp_sponsor.sponsor.name %></a></dd>
             <% end %>
             <dt>Date:</dt>
             <dd><%= @loi.loi_date %></dd>
             <dt>Enterprise Value:</dt>
             <% if @loi.enterprise_value.present? %>
              <dd>$<%= @loi.enterprise_value %> million</dd>
             <% end %>
             <dt>Working Capital Target:</dt>
             <% if @loi.working_capital_target.present? %>
              <dd>$<%= @loi.working_capital_target %> million</dd>
             <% end %>
             <dt>Expiration Date:</dt>
             <dd><%= @loi.expiration_date %></dd>
            </dl>
            <div class="btn-group btn-group-justified">
              <%if @loi.mp_company.present? %>
                <a href="/mps/<%= @loi.mp_company.mp_id %>/companies" class="btn btn-lincoln"><i class="fa fa-chevron-left"></i></a>
              <%elsif @loi.mp_sponsor.present? %>
                <a href="/mps/<%= @loi.mp_sponsor.mp_id %>/sponsors" class="btn btn-lincoln"><i class="fa fa-chevron-left"></i></a>
              <% end %>
              <%= render('shared/edit_loi_and_highlights_modal', :loi => @loi)%>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-7">
      <div class="ibox collapsed">
          <div class="ibox-title">
              <h5>LOI Summary Highlights:</h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
                  <a class="close-link">
                      <i class="fa fa-times"></i>
                  </a>
              </div>
          </div>
          <div class="ibox-content">
            <dl>
             <%@loi.loi_highlights.order("highlight_id asc").each do |loi_highlight|%>
              <dt><%= loi_highlight.highlight.name%>:</dt>
              <dd><%= simple_format(loi_highlight.detail)%></dd>
             <%end%>
           </dl>
          </div>
      </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1"> LOI Document (<%= @loi.slides.count %> Pages)</a></li>
                <% if @loi.mp_sponsor.present? %>
                  <li class=""><a data-toggle="tab" href="#tab-2">Advisors (<%= @loi.mp_sponsor.diligence_advisors.count %>)</a></li>
                <% else %>
                  <li class=""><a data-toggle="tab" href="#tab-2">Advisors (<%= @loi.mp_company.diligence_advisors.count %>)</a></li>
                <% end %>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                      <%= render('view_slides') %>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                      <%= render('view_advisors') %>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<%= render('shared/quick_search_js') %>

<% if LoiSlide.where(loi_id: @loi.id).empty? %>
  <%= render('shared/upload_widget',url: "/create_loi_slide/#{@loi.id}", p_id: @p_id) %>
<% end %>

<script>
  
</script>