  <style>
    .strip-tags-selected { color: black;
                            font-size: 11px;
                            text-align: center;  }
    .strip-tags-selected:hover { font-size: 11px;
                                color:  #999999;
                                text-align: center; }

    .strip-tags-notselected { color: red;
                            font-size: 8px;
                            text-align: center;  }
    .strip-tags-notselected:hover { font-size: 8px;
                                color:  #efbab8;
                                text-align: center; }

</style>

<br>
<div class="ibox-content">
<table class="table table-hover dataTables-NDA">
<thead>
<tr>
    <th width = "30%" style="text-align: center">Company</th>
    <th width="10%" style="text-align: center">Declined</th>
    <th width="10%" style="text-align: center">Negotiating</th>
    <th width="10%" style="text-align: center">Complete</th>
    <th>Notes</th>
    <th width="8%" style="text-align: center"></th>
</tr>
</thead>
<tbody>
<% @companies.each do |company| %>
<% if @teaser.teaser_companies.find_by(company_id: company.id).nda.status == 1 %>
  <tr id="row_<%=company.id%>" class="danger">
<% elsif @teaser.teaser_companies.find_by(company_id: company.id).nda.status == 2 %>
  <tr id="row_<%=company.id%>" class="warning">
<% elsif @teaser.teaser_companies.find_by(company_id: company.id).nda.status == 3 %>
  <tr id="row_<%=company.id%>" class="success">
<% end %>

    <td><a href="/companies/<%=company.id%>"><%=company.name%></a></td>
    <td style="text-align: center">
      <% if @teaser.teaser_companies.find_by(company_id: company.id).nda.status == 1 %>
        <%= link_to content_tag(:i,nil, class: 'fa fa-times'), "/update_teaser_company/#{@teaser.teaser_companies.find_by(company_id: company.id).id}/1", :id => "company_#{company.id}_1", :class => "strip-tags-selected", :remote => true  %>
      <% else %>
        <%= link_to content_tag(:i,nil, class: 'fa fa-times'), "/update_teaser_company/#{@teaser.teaser_companies.find_by(company_id: company.id).id}/1", :id => "company_#{company.id}_1", :class => "strip-tags-notselected", :remote => true  %>
      <% end %>
    </td>
    <td style="text-align: center">
      <% if @teaser.teaser_companies.find_by(company_id: company.id).nda.status == 2 %>
        <%= link_to content_tag(:i,nil, class: 'fa fa-times'), "/update_teaser_company/#{@teaser.teaser_companies.find_by(company_id: company.id).id}/2", :id => "company_#{company.id}_2", :class => "strip-tags-selected", :remote => true  %>
      <% else %>
        <%= link_to content_tag(:i,nil, class: 'fa fa-times'), "/update_teaser_company/#{@teaser.teaser_companies.find_by(company_id: company.id).id}/2", :id => "company_#{company.id}_2", :class => "strip-tags-notselected", :remote => true  %>
      <% end %>
    </td>
    <td style="text-align: center">
    <% if @teaser.teaser_companies.find_by(company_id: company.id).nda.status == 3 %>
      <%= link_to content_tag(:i,nil, class: 'fa fa-times'), "/update_teaser_company/#{@teaser.teaser_companies.find_by(company_id: company.id).id}/3", :id => "company_#{company.id}_3", :class => "strip-tags-selected", :remote => true  %>
    <% else %>
      <%= link_to content_tag(:i,nil, class: 'fa fa-times'), "/update_teaser_company/#{@teaser.teaser_companies.find_by(company_id: company.id).id}/3", :id => "company_#{company.id}_3", :class => "strip-tags-notselected", :remote => true  %>
    <% end %>
    </td>
    <td>...</td>
    <td>
        <a class="btn btn-edit btn-xs" href="/ndas/<%= @teaser.teaser_companies.find_by(company_id: company.id).nda_id %>"><i class="fa fa-edit"></i></a>
        <%= render('shared/delete_cip_company_modal', :cip_company => @teaser.teaser_companies.find_by(company_id: company.id))%>
    </td>
</tr>
<%end%>
</tbody>
</table>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.dataTables-NDA').DataTable({
        pageLength: 100,
        responsive: true,
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
            { extend: 'copy'},
            {extend: 'csv'},
            {extend: 'excel', title: 'ExampleFile'},
            {extend: 'pdf', title: 'ExampleFile'},

            {extend: 'print',
                customize: function (win){
                    $(win.document.body).addClass('white-bg');
                    $(win.document.body).css('font-size', '10px');

                    $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                }
            }
        ]

    });


});



</script>

<% end %>
