<br>
<div class="row">
  <div class="col-lg-offset-2 col-lg-7">
    <div class="ibox-content">
        <h3 class="ibox-title" style="font-size:28px"><%= @teaser.name %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal" style="font-size:10px">

              <dt>Deal:</dt>
              <dd> <a href="/deals/<%= @teaser.deal_id %>"><%= @teaser.deal.name %></a></dd>
              <dt>Company:</dt>
              <dd> <a href="/companies/<%= @teaser.deal.company.id %>"><%= @teaser.deal.company.name %></a></dd>
              <dt>Date:</dt>
              <dd><%= @teaser.teaser_date %></dd>
            </dl>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="btn-group-vertical">
      <%= render('add_company_autocomplete', teaser: @teaser) %>
      
    </div>
  </div> 
</div>

<a class="btn btn-lincoln" href="/teasers/<%= @teaser.id %>">View Slides</a>
<a class="btn btn-lincoln" href="/teasers/<%= @teaser.id %>/sponsors">View Financial Acquirers</a>
<br>
<%= render('view_companies') %>
<br>
<br>
<%= render('shared/quick_search_js') %>


