<!-- Responsive panel-->
<br>

<div class="row">
  <div class="pull-right">
    <div class="btn-group-vertical">
       <a class="btn btn-success" href="http://res.cloudinary.com/mglicken/image/upload/<%= @teaser.image_id %>.pdf">View PDF <i class="fa fa-copy (alias)"></i></a>
    </div>
  </div> 
  <div class="col-lg-offset-2 col-lg-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if @teaser.slides.empty? %>
          <a href="#" class="btn btn-lincoln pull-right" text-align="center" id="upload_widget_opener">Upload Teaser PDF</a>
        <% end %> 
        <h3 class="panel-title" style="font-size:28px"><%= @teaser.name %></h3>

      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal" style="font-size:10px">

             <dt>Deal</dt>
             <dd> <a href="/deals/<%= @teaser.deal_id %>"><%= @teaser.deal.name %></a></dd>
             <dt>Company</dt>
             <dd> <a href="/companies/<%= @teaser.deal.company.id %>"><%= @teaser.deal.company.name %></a></dd>
             <dt>Date</dt>
             <dd><%= @teaser.teaser_date %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <% if current_user.access_id <= 2 %>
                <a href="/teasers" class="btn btn-lincoln">
                  <i class="fa fa-reply"></i>
                </a>
              <% end %>
              <%= render('shared/edit_teaser_modal', :teaser => @teaser)%>

              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<a class="btn btn-lincoln" href="/teasers/<%= @teaser.id %>/sponsors">View Financial Acquirers</a>
<a class="btn btn-lincoln" href="/teasers/<%= @teaser.id %>/companies">View Strategic Acquirers</a>
<br>
<br>

<%= render('view_slides') %>

<%= render('shared/quick_search_js') %>

<% if @teaser.image_id.nil? %>
  <%= render('shared/upload_widget',url: "/create_teaser_slide/#{@teaser.id}", p_id: @p_id) %>
<% elsif @teaser.image_id == "" %>
  <%= render('shared/upload_widget',url: "/create_teaser_slide/#{@teaser.id}", p_id: @p_id) %>
<% end %>

<!-- End responsive panel -->
