
<!-- Button trigger modal -->
<div class="btn btn-lincoln" data-toggle="modal" data-target="#myModalCreateDealPerson">
  Add Person to Deal
</div>

<!-- Modal -->
<div class="modal fade" id="myModalCreateDealPerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Person to Deal</h4>
      </div>
      <div class="modal-body">



<!-- Validation failure messages -->

<% if @deal_person.blank?%>
  <% @deal_person = DealPerson.new %>
<% end %>
<% if @deal_person.errors.any? %>
  <% @deal_person.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <form enctype="multipart/form-data" action="/create_deal_person" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


            <!-- Label and input for Person -->
            <%if person.nil? %>
            <div class="form-group">
              <h5><label for="person_id" class="col-sm-2 control-label">
                Person
              </label></h5>
              <div class="col-sm-10">
                <%= select_tag :person_id, options_from_collection_for_select(Person.all.order("name ASC"), :id, :name), :class => "form-control" %>
              </div>
            </div>
            <%else%>
              <input name="person_id" type="hidden" value="<%= person.id %>">
            <% end %>
 
            <!-- Label and input for deal -->
            <%if deal.nil? %>
            <div class="form-group">
              <h5><label for="deal_id" class="col-sm-2 control-label">
                Deal
              </label></h5>
              <div class="col-sm-10">
                <%= select_tag :deal_id, options_from_collection_for_select(Deal.all.order("name ASC"), :id, :name), :class => "form-control" %>
              </div>
            </div>
            <%else%>
              <input name="deal_id" type="hidden" value="<%= deal.id %>">
            <% end %>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-lincoln">
                Add Person to Deal
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
