<a class=" btn btn-lincoln" data-toggle="modal" href="#myModalMarketStudy_<%= deal.id %>">Add Market Study</i></a>

<div class="modal inmodal fade" id="myModalMarketStudy_<%= deal.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/create_market_study/" method="post" class="form-horizontal">
            <div class="modal-header">
                <h4 class="modal-title">Add Market Study</h4>
                <small class="font-bold">Add a new market study (usually a new document) to a deal</small>
            </div>
            <div class="modal-body">

            <!-- Validation failure messages -->

            <% if @market_study.blank?%>
              <% @market_study = CompanyNote.new %>
            <% end %>
            <% if @market_study.errors.any? %>
              <% @market_study.errors.full_messages.each do |message| %>
                <div class="alert alert-dismissable alert-danger">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= message %>
                </div>
              <% end %>
            <% end %>

                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                  <input name="deal_id" type="hidden" value="<%= deal.id %>">

                <!-- Label and input for name -->
                <div class="form-group">
                  <h5><label for="name" class="col-sm-2 control-label">
                    Name
                  </label></h5>
                  <div class="col-lg-10">
                    <input type="string" id="name" name="name" placeholder="e.g., Packaging Market Study" class="form-control">
                  </div>
                </div>

                <!-- Label and input for Date -->
                <div class="form-group">
                  <h5><label for="market_study_date" class="col-sm-2 control-label">
                    Date
                  </label></h5>
                  <div class="col-lg-10">
                    <input type="date" id="market_study_date" name="market_study_date" placeholder="12/17/2017" class="form-control">
                  </div>
                </div>

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Add Market Study
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>
