<!-- Button trigger modal -->
<% if @text.present? %>
  <div class="btn btn-md btn-primary" data-toggle="modal" data-target="#myModalCreateDeal">
    <i class="fa fa-plus"></i>
  </div>
<% elsif @company.present? %>
  <div class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModalCreateDeal">
    <i class="fa fa-plus"></i>
  </div>
<% else %>
  <div class="btn btn-lg btn-lincoln" data-toggle="modal" data-target="#myModalCreateDeal">
    Create Deal
  </div>
<% end %>

<div class="modal inmodal fade" id="myModalCreateDeal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/create_deal/" method="post" class="form-horizontal">
            <div class="modal-header">
                <h4 class="modal-title">Create Deal</h4>
                <small class="font-bold">Add a new deal</small>
            </div>
            <div class="modal-body">



<!-- Validation failure messages -->

<% if @deal.blank?%>
  <% @deal = Deal.new %>
<% end %>
<% if @deal.errors.any? %>
  <% @deal.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


        <form enctype="multipart/form-data" action="/create_deal" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for Deal Type -->
          <div class="form-group">
            <label for="deal_type_id" class="col-sm-2 control-label">
              Type
            </label>
            <div class="col-sm-10">
              <%= select_tag :deal_type_id, options_from_collection_for_select(DealType.order('name ASC'), :id, :name, @deal.deal_type_id), :class => "form-control" %>
            </div>
          </div>

          <!-- Label and input for Deal Stage -->
          <div class="form-group">
            <label for="deal_stage_id" class="col-sm-2 control-label">
              Stage
            </label>
            <div class="col-sm-10">
              <%= select_tag :deal_stage_id, options_from_collection_for_select(DealStage.order('name ASC'), :id, :name, @deal.deal_stage_id), :class => "form-control" %>
            </div>
          </div>

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Deal Name
            </label>
            <div class="col-sm-10">
              <input type="string" id="name" name="name" placeholder="e.g., Sponsor Name / Company Name (Year)" class="form-control" value="<%= @deal.name %>">
            </div>
          </div>
          <!-- Label and input for Project Alias -->
          <div class="form-group">
            <label for="project_alias" class="col-sm-2 control-label">
              Project Alias
            </label>
            <div class="col-sm-10">
              <input type="string" id="project_alias" name="project_alias" placeholder="e.g., Project Greenlight" class="form-control" value="<%= @deal.project_alias %>">
            </div>
          </div>
          <!-- Label and input for Company Name -->
          <% if @company.present? %>
            <input name="company_id" type="hidden" value="<%= @company.id %>">
          <% else %>
            <!-- Label and input for Company -->
            <div class="form-group">
              <h5><label for="company_id" class="col-lg-2 control-label">
                Company
              </label></h5>
                <select name="company_id" data-placeholder="Select Company..." class="select2 form-control form-inline"  tabindex="2" style="width:80%">
                <% Company.order("name asc").each do |company| %>
                <option value="<%=company.id %>"><%=company.name %></option>
                <% end %>
              </select>
            </div>
          <% end %>
          <!-- Label and input for Project Code -->
          <div class="form-group">
            <label for="project_code" class="col-sm-2 control-label">
              Project Code
            </label>
            <div class="col-sm-10">
              <input type="string" id="project_code" name="project_code" placeholder="e.g., 18999" class="form-control" value="<%= @deal.project_code %>">
            </div>
          </div>

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Add Market Study
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>


<script type="text/javascript">
$(function() {


  $(".select2").select2({

    dropdownCssClass: "increasedzindexclass",
    
  });

});

</script>