<a class="btn btn-primary btn-xs" data-toggle="modal" href="#myModalWorkHistory"><i class="fa fa-plus"></i></a>

<div class="modal inmodal fade" id="myModalWorkHistory" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/create_work_history/" method="post" class="form-horizontal">
            <div class="modal-header">
              <% if company.present? %>        
                <h4 class="modal-title">Add Person</h4>
                <small class="font-bold">Add a work history for a person at <%= company.name%> </small>
              <% else %>
                <h4 class="modal-title">Add Company</h4>
                <small class="font-bold">Add a work history to <%= person.name%> </small>
              <% end %>
            </div>
            <div class="modal-body">

          <!-- Validation failure messages -->

          <% if @work_history.blank?%>
            <% @work_history = WorkHistory.new %>
          <% end %>
          <% if @work_history.errors.any? %>
            <% @work_history.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>

            <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for Current -->
          <div class="form-group">
              <label class="col-lg-2 control-label" for="current">
                  Current
              </label>
              <div class="col-lg-10">
                <input type="checkbox" value="" id="current" name="current" class="i-checks" />
              </div>
          </div>

          <!-- Label and input for Company -->
          <% if company.present? %>
            <input name="company_id" type="hidden" value="<%= company.id %>">
          <%else%>
            <div class="form-group">
              <h5><label for="company_id" class="col-lg-2 control-label">
                Company
              </label></h5>
              <select name="company_id" data-placeholder="Select Company..." class="select2 form-control"  tabindex="2" style="width:80%">
                <% Company.order("name asc").each do |company| %>
                <option value="<%=company.id %>"><%=company.name %></option>
                <% end %>
              </select>
            </div>
          <% end %>

          <!-- Label and input for Person -->
          <% if person.present? %>
            <input name="person_id" type="hidden" value="<%= person.id %>">
          <%else%>
            <div class="form-group">
              <h5><label for="person_id" class="col-lg-2 control-label">
                Person
              </label></h5>
              <select name="person_id" data-placeholder="Select Person..." class="select2 form-control"  tabindex="2" style="width:80%">
                <% Person.order("name asc").each do |person| %>
                <option value="<%=person.id %>"><%=person.name %></option>
                <% end %>
              </select>
            </div>
          <% end %>

            <!-- Label and input for Location -->
          <% if company.present? %>
          <div class="form-group">
            <h5><label for="location_id" class="col-lg-2 control-label">
              Location
            </label></h5>
            <select name="location_id" data-placeholder="Select Location..." class="select2 form-control"  tabindex="2" style="width:80%">
              <% company.locations.order("name asc").each do |location| %>
              <option value="<%=location.id %>"><%=location.name %></option>
              <% end %>
            </select>
          </div>
          <%else%>
          <div class="form-group">
            <h5><label for="location_id" class="col-lg-2 control-label">
              Location
            </label></h5>
            <select name="location_id" data-placeholder="Select Location..." class="select2 form-control"  tabindex="2" style="width:80%">
              <% Location.order("name asc").each do |location| %>
              <option value="<%=location.id %>"><%=location.name %></option>
              <% end %>
            </select>
          </div>
          <% end %>

           <!-- Label and input for Role -->
          <div class="form-group">
            <h5><label for="role_id" class="col-lg-2 control-label">
              Role
            </label></h5>
            <select name="role_id" data-placeholder="Select Role..." class="select2 form-control"  tabindex="2" style="width:80%">
              <% Role.order("name asc").each do |role| %>
              <option value="<%=role.id %>"><%=role.name %></option>
              <% end %>
            </select>
          </div>

          <!-- Label and input for Start Year -->
          <div class="form-group">
            <label for="start_year" class="col-sm-2 control-label">
              Start Year
            </label>
            <div class="col-sm-10">
              <input type="integer" id="start_year" name="start_year" placeholder="e.g., 2008" class="form-control" value="<%= @work_history.start_year %>">
            </div>
          </div>

          <!-- Label and input for End Year -->
          <div class="form-group">
            <label for="end_year" class="col-sm-2 control-label">
              End Year
            </label>
            <div class="col-sm-10">
              <input type="integer" id="end_year" name="end_year" placeholder="e.g., 2017" class="form-control" value="<%= @work_history.end_year %>">
            </div>
          </div>

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Add Work History
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>

<script type="text/javascript">
$(function() {
   
  $(".select2").select2({

    dropdownCssClass: "increasedzindexclass",
    
  });

  $('.i-checks').iCheck({
      checkboxClass: 'icheckbox_square-green',
      radioClass: 'iradio_square-green',
  });

});
</script>