<a class="btn btn-primary btn-xs" data-toggle="modal" href="#myModalCreateNote"><i class="fa fa-plus"></i></a>

<div class="modal inmodal fade" id="myModalCreateNote" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <% if @company.present? %>
            <form enctype="multipart/form-data" action="/create_note/<%= @company.id %>/0/0" method="post" class="form-horizontal">

          <% elsif @person.present? %>
            <form enctype="multipart/form-data" action="/create_note/0/<%= @person.id %>/0" method="post" class="form-horizontal">
          <% elsif @sponsor.present? %>
            <form enctype="multipart/form-data" action="/create_note/0/0/<%= @sponsor.id %>" method="post" class="form-horizontal">
          <%else%>
            <form enctype="multipart/form-data" action="/create_note/0/0/0" method="post" class="form-horizontal">
          <%end%>
            <div class="modal-header">
                <h4 class="modal-title">Create Note</h4>
                <% if @company.present? %>
                  <small class="font-bold">Add a new note for <%= @company.name%></small>
                <% elsif @person.present? %>
                  <small class="font-bold">Add a new note for <%= @person.name%></small>
                <% elsif @sponsor.present? %>
                  <small class="font-bold">Add a new note for <%= @sponsor.name%></small>
                <%else%>
                  <small class="font-bold">Create a new note</small>
                <%end%>
            </div>
            <div class="modal-body">

            <!-- Validation failure messages -->
            <% if @note.blank?%>
              <% @note = Note.new %>
            <% end %>
            <% if @note.errors.any? %>
              <% @note.errors.full_messages.each do |message| %>
                <div class="alert alert-dismissable alert-danger">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= message %>
                </div>
              <% end %>
            <% end %>

          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <!-- Label and input for Title -->
          <div class="form-group">
            <label for="title" class="col-lg-2 control-label">
              Title:
            </label>
            <div class="col-lg-10">
              <input type="string" id="title" name="title" placeholder="" class="form-control" value="<%= @note.title %>">
            </div>
          </div>

          <!-- Label and input for Detail -->
          <div class="form-group">
            <h5><label for="detail" class="col-lg-2 control-label">
              Information:
            </label></h5>
            <div class="col-lg-10">
              <textarea id="detail" name="detail" placeholder="e.g., Met with person at company on xx/xx/xxxx..."  class="form-control" rows="5"><%= @note.detail %></textarea>
            </div>
          </div>

          <!-- Label and input for Date -->
          <div class="form-group">
            <label for="date" class="col-lg-2 control-label">
              Date:
            </label>
            <div class="col-lg-10">
              <input type="date" id="date" name="date" placeholder="" class="form-control">
            </div>
          </div>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Create Note
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>
