
<!-- Button trigger modal -->
<% if @text.present? %>
  <div class="btn btn-primary" data-toggle="modal" data-target="#myModalCreateFund">
    <i class="fa fa-plus"></i>
  </div>
<% else %>
  <div class="btn btn-lincoln" data-toggle="modal" data-target="#myModalCreateFund">
    Create Fund
  </div>
<% end %>

<div class="modal inmodal fade" id="myModalCreateFund" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/create_fund/" method="post" class="form-horizontal">
            <div class="modal-header">
                <h4 class="modal-title">Create a Fund</h4>
                <small class="font-bold">Add a new fund to this sponsor</small>
            </div>
            <div class="modal-body">



              <!-- Validation failure messages -->

              <% if @fund.blank?%>
                <% @fund = Fund.new %>
              <% end %>
              <% if @fund.errors.any? %>
                <% @fund.errors.full_messages.each do |message| %>
                  <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%= message %>
                  </div>
                <% end %>
              <% end %>



          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

           <!-- Label and input for Fund Name -->
          <div class="form-group">
            <h5><label for="name" class="col-sm-2 control-label">
              Fund Name
            </label></h5>
            <div class="col-sm-10">
              <input type="string" id="name" name="name" placeholder="e.g., Sponsor Name Fund IV" class="form-control" value="<%= @fund.name %>">
            </div>
          </div>
          
            <!-- Label and input for sponsor -->
         <% if sponsor.present? %>
            <input name="sponsor_id" type="hidden" value="<%= sponsor.id %>">
          <%else%>
            <div class="form-group">
              <h5><label for="sponsor_id" class="col-sm-2 control-label">
                Sponsor
              </label></h5>
              <div class="col-sm-10">
                <%= select_tag :sponsor_id, options_from_collection_for_select(Sponsor.all.order("name ASC"), :id, :name, @fund.sponsor_id), :class => "form-control" %>
              </div>
            </div>
          <% end %>


          <!-- Label and input for Open -->
          <div class="form-group">
              <label class="col-lg-2 control-label" for="open">
                  Open
              </label>
              <div class="col-lg-10">
                <input type="checkbox" value="" id="open" name="open" class="i-checks" checked />
              </div>
          </div>

          <!-- Label and input for Size -->
          <div class="form-group">
            <h5><label for="size" class="col-sm-2 control-label">
              Size
            </label></h5>
            <div class="col-sm-10">
              <input type="float" id="size" name="size" placeholder="e.g., 200.0" class="form-control" value="<%= @fund.size %>">
            </div>
          </div>

          <!-- Label and input for Open Year -->
          <div class="form-group">
            <h5><label for="open_year" class="col-sm-2 control-label">
            Open Year
            </label>
            <div class="col-sm-10">
              <input type="integer" id="open_year" name="open_year" placeholder="e.g., 2012" class="form-control" value="<%= @fund.open_year %>">
            </div>
          </div>

          <!-- Label and input for Close Year -->
          <div class="form-group">
            <h5><label for="close_year" class="col-sm-2 control-label">
            Close Year
            </label></h5>
            <div class="col-sm-10">
              <input type="integer" id="close_year" name="close_year" placeholder="e.g., 2015" class="form-control" value="<%= @fund.close_year %>">
            </div>
          </div>


          <!-- Label and input for Phone Number -->
          <div class="form-group">
            <h5><label for="link" class="col-sm-2 control-label">
              Link to Details
            </label></h5>
            <div class="col-sm-10">
              <input type="string" id="link" name="link" placeholder="e.g., http://www.PrivateEquityGroup.com" class="form-control" value="<%= @fund.link %>">
            </div>
          </div>  


            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Create Fund
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>

<script>
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

</script>