
<!-- Button trigger modal -->
<div class="btn btn-success" data-toggle="modal" data-target="#myModalCreateBucket">
  <% if @nbp.nil? %>        
    Create Bucket Category
  <% else %>
    Add Bucket Category
  <% end %>
</div>

<div class="modal inmodal fade" id="myModalCreateBucket" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/create_bucket/" method="post" class="form-horizontal">
            <div class="modal-header">
                <h4 class="modal-title">Create a Bucket Category</h4>
                <small class="font-bold">Add a new bucket category to the strategic acquirer list</small>
            </div>
            <div class="modal-body">

          <% if @bucket.blank?%>
            <% @bucket = Bucket.new %>
          <% end %>
          <% if @bucket.errors.any? %>
            <% @bucket.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>

          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for Title -->
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">
              Bucket Title
            </label>
            <div class="col-sm-10">
              <input type="string" id="title" name="title" placeholder="e.g., Industrial Companies" class="form-control" value="<%= @bucket.title %>">
            </div>
          </div>
          
          <%if @nbp.nil?%>
          <!-- Label and input for Sponsor -->
            <div class="form-group">
              <h5><label for="nbp_id" class="col-sm-2 control-label">
                NBP
              </label></h5>
              <div class="col-sm-10">
                <%= select_tag :nbp_id, options_from_collection_for_select(Nbp.all.order("name ASC"), :id, :name, @bucket.nbp_id), :class => "form-control" %>
              </div>
            </div>
          <%else%>
            <input name="nbp_id" type="hidden" value="<%= nbp.id%>">
          <%end%>

          <!-- Label and input for Strategic Rationale -->
          <div class="form-group">
            <label for="rationale" class="col-sm-2 control-label">
              Strategic Rationale
            </label>
            <div class="col-sm-10">
              <textarea id="rationale" name="rationale" placeholder="e.g., Synergies... " class="form-control" rows="10"><%= @bucket.rationale %></textarea>
            </div>
          </div>

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Create Bucket Category
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>
