
<!-- Button trigger modal -->
<% if @text.present? %>
  <div class="btn btn-md btn-primary" data-toggle="modal" data-target="#myModalCreateSponsor">
    <i class="fa fa-plus"></i>
  </div>
<% else %>
  <div class="btn btn-lg btn-lincoln" data-toggle="modal" data-target="#myModalCreateSponsor">
    Create Sponsor
  </div>
<% end %>

<div class="modal inmodal fade" id="myModalCreateSponsor" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/create_sponsor/" method="post" class="form-horizontal">
            <div class="modal-header">
              <h4 class="modal-title">Create Financial Sponsor</h4>
                <small class="font-bold">Add a new financial sponsor</small>
            </div>
            <div class="modal-body">



            <!-- Validation failure messages -->

            <% if @sponsor.blank?%>
              <% @sponsor = Sponsor.new %>
            <% end %>
            <% if @sponsor.errors.any? %>
              <% @sponsor.errors.full_messages.each do |message| %>
                <div class="alert alert-dismissable alert-danger">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= message %>
                </div>
              <% end %>
            <% end %>

          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



          <!-- Label and input for name -->
          <div class="form-group">
            <h5><label for="name" class="col-sm-2 control-label">
              Name
            </label></h5>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @sponsor.name %>">
            </div>
          </div>

          <!-- Label and input for Description -->
          <div class="form-group">
            <h5><label for="description" class="col-sm-2 control-label">
              About the Sponsor:
            </label></h5>
            <div class="col-sm-10">
              <textarea id="description" name="description" placeholder="e.g., The sponsor was founded in..."  class="form-control" rows="3"><%= @sponsor.description %></textarea>
            </div>
          </div>

          <!-- Label and input for street -->
          <div class="form-group">
            <h5><label for="address" class="col-sm-2 control-label">
              Street
            </label></h5>
            <div class="col-sm-10">
              <textarea id="address" name="address" placeholder="500 W Madison, Suite 3900" class="form-control" rows="3"><%= @sponsor.address %></textarea>
            </div>
          </div>

          <!-- Label and input for city -->
          <div class="form-group">
            <h5><label for="city" class="col-sm-2 control-label">
              City
            </label></h5>
            <div class="col-sm-10">
              <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @sponsor.city %>">
            </div>
          </div>

          <!-- Label and input for number -->
          <div class="form-group">
            <h5><label for="state" class="col-sm-2 control-label">
              State
            </label></h5>
            <div class="col-sm-10">
              <input type="string" id="state" name="state" placeholder="State" class="form-control" value="<%= @sponsor.state %>">
            </div>
          </div>

          <!-- Label and input for zip -->
          <div class="form-group">
            <h5><label for="zip" class="col-sm-2 control-label">
              Zip
            </label></h5>
            <div class="col-sm-10">
              <input type="integer" id="zip" name="zip" placeholder="Zip" class="form-control" value="<%= @sponsor.zip %>">
            </div>
          </div>

          <!-- Label and input for phone -->
          <div class="form-group">
            <h5><label for="phone" class="col-sm-2 control-label">
              Phone
            </label></h5>
            <div class="col-sm-10">
              <input type="integer" id="phone" name="phone" placeholder="1112223333" class="form-control" value="<%= @sponsor.phone %>">
            </div>
          </div>

          <!-- Label and input for web_address -->
          <% if @sponsor.web_address.present?
            if @sponsor.web_address[0..6] == "http://"
              web_add = @sponsor.web_address[7..(@sponsor.web_address.length-1)]
            else
              web_add = @sponsor.web_address
            end
          else
            web_add = nil 
          end%>

          <div class="form-group">
            <h5><label for="web_address" class="col-sm-2 control-label">
              URL
            </label></h5>
            <div class="col-sm-10">
              <input type="text" id="web_address" name="web_address" placeholder="http://(web address)" class="form-control" value="<%= web_add %>">
            </div>
          </div>

          <!-- Label and input for LinkedIn Url -->
          <div class="form-group">
            <label for="linkedin_url" class="col-sm-2 control-label">
              LinkedIn
            </label>
            <div class="col-sm-10">
              <input type="string" id="linkedin_url" name="linkedin_url" placeholder="e.g., https://www.linkedin.com/in/first-last-12345678/" class="form-control" value="<%= @sponsor.linkedin_url %>">
            </div>
          </div>

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Add Financial Sponsor
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>
