
<!-- Button trigger modal -->
<div class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalCreateSubsidiary">
  <i class="fa fa-plus"></i>
</div>

<div class="modal inmodal fade" id="myModalCreateSubsidiary" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/create_subsidiary/" method="post" class="form-horizontal">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add <%= @company.name%> Subsidiary</h4>
                <small class="font-bold">Add a new subsidiary to <%= @company.name%></small>
            </div>
            <div class="modal-body">

          <!-- Validation failure messages -->

          <% if @subsidiary.blank?%>
            <% @subsidiary = Subsidiary.new %>
          <% end %>
          <% if @subsidiary.errors.any? %>
            <% @subsidiary.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>


          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <input name="parent_id" type="hidden" value="<%= @company.id %>">

            <!-- Label and input for Subsidiary -->
            <div class="form-group">
              <h5><label for="sponsor_id" class="col-lg-2 control-label">
                Subsidiary
              </label></h5>
              <select name="sponsor_id" data-placeholder="Select Company..." class="select2 form-control"  tabindex="2" style="width:80%">
                <% Company.where(id: (Company.ids - [@company.id])).order("name asc").each do |company| %>
                <option value="<%=company.id %>"><%=company.name %></option>
                <% end %>
              </select>
            </div>

          <!-- Label and input for Acquisition Date -->
          <div class="form-group">
            <label for="acquisition_date" class="col-sm-2 control-label">
              Acquisition Date
            </label>
            <div class="col-sm-10">
              <input type="date" id="acquisition_date" name="acquisition_date" placeholder="01/01/2012" class="form-control" value="<%= @subsidiary.acquisition_date %>">
            </div>
          </div>

          <!-- Label and input for Acquisition Price -->
          <div class="form-group">
            <label for="acquisition_price" class="col-sm-2 control-label">
              Acquisition Price
            </label>
            <div class="col-sm-10">
              <input type="float" id="acquisition_price" name="acquisition_price" placeholder="250.5" class="form-control" value="<%= @subsidiary.acquisition_price %>">
            </div>
          </div>

          <!-- Label and input for Link -->
          <div class="form-group">
            <label for="link" class="col-sm-2 control-label">
              Link
            </label>
            <div class="col-sm-10">
              <input type="string" id="link" name="link" placeholder="e.g., http://www.forbes.com/" class="form-control" value="<%= @subsidiary.link %>">
            </div>
          </div>

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Add Subsidiary
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>

<script type="text/javascript">
$(function() {
   
  $(".select2").select2({

    dropdownCssClass: "increasedzindexclass",
    
  });

});
</script>