
<!-- Button trigger modal -->
<div class="btn btn-lincoln" data-toggle="modal" data-target="#myModalCreateWorkHistory">
  <% if company == 0 %>        
    Add Work History
  <% else %>
    Add this Company to Person's Work History
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalCreateWorkHistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if company == 0 %>
          <h4 class="modal-title" id="myModalLabel">Add <%= person.name%> to Company</h4>
        <%else%>
          <h4 class="modal-title" id="myModalLabel">Add Person to <%= company.name%></h4>
        <% end %>
      </div>
      <div class="modal-body">

<!-- Validation failure messages -->

<% if @work_history.blank?%>
  <% @work_history = WorkHistory.new %>
<% end %>
<% if @work_history.errors.any? %>
  <% @work_history.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">

        <form enctype="multipart/form-data" action="/create_work_history" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <% if company == 0 %>
            <!-- Label and input for Company -->
            <div class="form-group">
              <h5><label for="company_id" class="col-sm-2 control-label">
                Company
              </label></h5>
              <div class="col-sm-10">
                <%= select_tag :company_id, options_from_collection_for_select(Company.all.order("name ASC"), :id, :name, @work_history.company_id), :class => "form-control" %>
              </div>
            </div>
          <%else%>
            <input name="company_id" type="hidden" value="<%= company.id %>">
          <% end %>


            <!-- Label and input for Person -->
          <% if person == 0 %>
            <div class="form-group">
              <h5><label for="person_id" class="col-sm-2 control-label">
                Person
              </label></h5>
              <div class="col-sm-10">
                <select name="person_id" data-placeholder="Choose a Person..." class="chosen-select back-change"  tabindex="2">
                  <% Person.all.order("name asc").each do |person| %>
                  <option value="<%=person.id %>"><%=person.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          <%else%>
            <input name="person_id" id="person_id" type="hidden" value="<%= person.id %>">
          <% end %>


          <!-- Check boxes Current -->
          <div class="checkbox-inline">
            <h5><label><input type="checkbox" name="current" checked>Current</label></h5>
          </div>

           <!-- Label and input for Role -->
          <div class="form-group">
            <h5><label for="role_id" class="col-sm-2 control-label">
              Role
            </label></h5>
            <div class="col-sm-10">
              <%= select_tag :role_id, options_from_collection_for_select(Role.order("name ASC"), :id, :name, @work_history.role_id), :class => "form-control" %>
            </div>
          </div>

          <!-- Label and input for Start Year -->
          <div class="form-group">
            <label for="start_year" class="col-sm-2 control-label">
              Start Year
            </label>
            <div class="col-sm-10">
              <input type="integer" id="start_year" name="start_year" placeholder="e.g., 2008" class="form-control" value="<%= @work_history.start_year %>">
            </div>
          </div>

          <!-- Label and input for End Year -->
          <div class="form-group">
            <label for="end_year" class="col-sm-2 control-label">
              End Year
            </label>
            <div class="col-sm-10">
              <input type="integer" id="end_year" name="end_year" placeholder="e.g., 2017" class="form-control" value="<%= @work_history.end_year %>">
            </div>
          </div>
         <!-- js-switch elements for formatting -->
          <div>
            <input type="hidden" class="js-switch" />
            <input type="hidden" class="js-switch_2" />
            <input type="hidden" class="js-switch_3"  />
            <input type="hidden" class="js-switch_4"  />
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-lincoln">
                Add Work History
              </button>
            </div>
          </div>

        </form>

</div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

$(function() {

    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, { color: '#1AB394' });

    var elem_2 = document.querySelector('.js-switch_2');
    var switchery_2 = new Switchery(elem_2, { color: '#ED5565' });

    var elem_3 = document.querySelector('.js-switch_3');
    var switchery_3 = new Switchery(elem_3, { color: '#1AB394' });

    var elem_4 = document.querySelector('.js-switch_4');
    var switchery_4 = new Switchery(elem_4, { color: '#f8ac59' });
   

    $('.chosen-select').chosen({width: "100%"});

});

</script>