
<!-- Button trigger modal -->
<% if @text.present? %>
  <div class="btn btn-md btn-primary" data-toggle="modal" data-target="#myModalCreateCompany">
    <i class="fa fa-plus"></i>
  </div>
<% else %>
  <div class="btn btn-lg btn-lincoln" data-toggle="modal" data-target="#myModalCreateCompany">
    Create Company
  </div>
<% end %>

<div class="modal inmodal fade" id="myModalCreateCompany" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/create_company/" method="post" class="form-horizontal">
            <div class="modal-header">
                <h4 class="modal-title">Create a Company</h4>
                <small class="font-bold">Add a new company</small>
            </div>
            <div class="modal-body">

<!-- Validation failure messages -->
<% if @company.blank?%>
  <% @company = Company.new %>
<% end %>
<% if @company.errors.any? %>
  <% @company.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


        <form enctype="multipart/form-data" action="/create_company" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for name -->
          <div class="form-group">
            <h5><label for="name" class="col-sm-2 control-label">
              Name
            </label></h5>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @company.name %>">
            </div>
          </div>

          <!-- Label and input for Description -->
          <div class="form-group">
            <h5><label for="description" class="col-sm-2 control-label">
              About the Company:
            </label></h5>
            <div class="col-sm-10">
              <textarea id="description" name="description" placeholder="e.g., The company was founded in..."  class="form-control" rows="3"><%= @company.description %></textarea>
            </div>
          </div>

          <!-- Label and input for web_address -->
          <% if @company.web_address.present?
            if @company.web_address[0..6] == "http://"
              web_add = @company.web_address[7..(@company.web_address.length-1)]
            else
              web_add = @company.web_address
            end
          else
            web_add = nil 
          end%>

          <div class="form-group">
            <h5><label for="web_address" class="col-sm-2 control-label">
            Url
            </label></h5>
            <div class="col-sm-10">
              <input type="text" id="web_address" name="web_address" placeholder="http://(web address)" class="form-control" value="<%= web_add %>">
            </div>
          </div>

          <!-- Label and input for LinkedIn Url -->
          <div class="form-group">
            <h5><label for="linkedin_url" class="col-sm-2 control-label">
              LinkedIn
            </label></h5>
            <div class="col-sm-10">
              <input type="string" id="linkedin_url" name="linkedin_url" placeholder="e.g., https://www.linkedin.com/in/first-last-12345678/" class="form-control" value="<%= @company.linkedin_url %>">
            </div>
          </div>
          <!-- Label and input for Quote -->
          <div class="form-group">
            <h5><label for="quote" class="col-sm-2 control-label">
              Quote ID
            </label></h5>
            <div class="col-sm-10">
              <input type="string" id="quote" name="quote" placeholder="e.g. IBM:US (for IBM)" class="form-control" value="<%= @company.quote %>">
            </div>
          </div>          

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Create Company
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>

