<div class="btn btn-danger" data-toggle="modal" data-target="#myModalDeleteSlideLayout_<%= @slide_layout.id %>">
    <i class="fa fa-trash-o"></i>
</div>

<div class="modal inmodal fade" id="myModalDeleteSlideLayout_<%= slide_layout.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" >Remove <%= slide_layout.name %></h4>
                <small class="font-bold">Remove <strong><%= slide_layout.name %></strong>.</small>
            </div>
            <div class="modal-body">

          <% if slide_layout.errors.any? %>
            <% slide_layout.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>

          <h3 text-align="center"> Are you sure you want to delete <span font-weight="bold"><%= slide_layout.name %> Layout</span>?
          <small>Once it is deleted, all slides in the layout associated with it will be destroyed!!!</small></h3>
          <br>

            </div>
            <div class="modal-footer">

                    <a class="btn btn-danger" href="/delete_slide_layout/<%=slide_layout.id %>">
                      Delete Slide Layout
                    </a>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>