
<!-- Button trigger modal -->
<div class="btn btn-danger" data-toggle="modal" data-target="#myModalDeleteFund_<%= fund.id %>">
  <i class="fa fa-trash-o"></i>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalDeleteFund_<%= fund.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= fund.name %></h4>
      </div>
      <div class="modal-body">



<!-- Validation failure messages -->

<% if fund.errors.any? %>
  <% fund.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Delete Fund</h3>
      </div>
      <div class="panel-body">

        <form enctype="multipart/form-data" action="/delete_fund/<%= fund.id %>" method="get" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <h3 text-align="center"> Are you sure you want to delete <span font-weight="bold"><%= fund.name %></span>?
          <small>Once it is deleted, any associations with it will need to be recreated!!!</small></h3>


          <div class="form-group pull-left">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-danger">
                Delete Fund
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
