
<!-- Button trigger modal -->
<div class="btn btn-danger" data-toggle="modal" data-target="#myModalDeletePerson_<%= person.id %>">
  <i class="fa fa-trash-o"></i>
</div>

<div class="modal inmodal fade" id="myModalDeletePerson_<%= person.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" >Remove <%= person.name %></h4>
                <small class="font-bold">Remove <strong><%= person.name %></strong>.</small>
            </div>
            <div class="modal-body">

              <% if person.errors.any? %>
                <% person.errors.full_messages.each do |message| %>
                  <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%= message %>
                  </div>
                <% end %>
              <% end %>

              <h3 text-align="center"> Are you sure you want to delete <span font-weight="bold"><%= person.name %></span>?
              <small>Once it is deleted, all NBPs, CIPs, MP, and even deals associated with it will be destroyed!!!</small></h3>

            </div>
            <div class="modal-footer">

                    <a class="btn btn-danger" href="/delete_nbp/<%=person.id %>">
                      Delete Person
                    </a>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>