
<!-- Button trigger modal -->
<a style="color:<%=color%>; padding-right: 5px; font-size:10px; text-align: right" href="#" data-toggle="modal" data-target="#myModalDeleteBucket_<%=bucket.id %>">
  <strong><i class="fa fa-times"></i></strong>
</a>

<div class="modal inmodal fade" id="myModalDeleteBucket_<%=bucket.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
             <div class="modal-header" style="width:600px; color:#676767">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" >Remove <%= bucket.title %></h4>
                <small class="font-bold">Remove <strong><%= bucket.title %></strong> from strategic acquirer layout.</small>
            </div>
            <div class="modal-body" style="color:#676767;white-space: normal;text-align: left">
               <strong>Are you sure you want to remove "<%= bucket.title%>" from the strategic acquirer layout for <%= bucket.nbp.name%>?</strong> Doing so will permanently remove buyer buckets for any associated buyers (for this deal only). It is recommended to move buyers to the appropriate buckets before doing so.


            </div>
            <div class="modal-footer">

                    <a class="btn btn-danger" href="/delete_bucket/<%=bucket.id %>">
                      Delete Buyer Bucket
                    </a>
                    <button style="color:#676767" type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


