
<!-- Button trigger modal -->
<div class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModalDeleteCIPCompany_<%= cip_company.id %>">
  <i class="fa fa-trash-o"></i>
</div>

<div class="modal inmodal fade" id="myModalDeleteCIPCompany_<%= cip_company.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" >Remove <%= cip_company.company.name %></h4>
                <small class="font-bold">Remove <strong><%= cip_company.company.name %></strong>.</small>
            </div>
            <div class="modal-body">



          <!-- Validation failure messages -->

          <% if cip_company.errors.any? %>
            <% cip_company.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>


          <h3 text-align="center"><p> Are you sure you want to delete <span font-weight="bold"><%= cip_company.company.name %> CIP Company</span>?</p>
          <p><small>Once it is deleted, any IOIs or content associated with it will be destroyed!!!</small></p></h3>


            </div>
            <div class="modal-footer">

                    <a class="btn btn-danger" href="/delete_cip_company/<%=cip_company.id %>">
                      Delete CIP Company
                    </a>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
