
<!-- Button trigger modal -->
<div class="btn btn-danger" data-toggle="modal" data-target="#myModalDeleteCaseStudy_<%= case_study.id %>">
  <i class="fa fa-trash-o"></i>
</div>

<div class="modal inmodal fade" id="myModalDeleteCaseStudy_<%= case_study.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" >Remove <%= case_study.name %></h4>
                <small class="font-bold">Remove <strong><%= case_study.name %></strong>.</small>
            </div>
            <div class="modal-body">

            <% if case_study.errors.any? %>
              <% case_study.errors.full_messages.each do |message| %>
                <div class="alert alert-dismissable alert-danger">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= message %>
                </div>
              <% end %>
            <% end %>


          <h3 text-align="center"> Are you sure you want to delete <span font-weight="bold"><%= case_study.deal.name %> Case Study</span>?
          <small>Once it is deleted, all slides associated with it will be destroyed!!!</small></h3>


            </div>
            <div class="modal-footer">

                    <a class="btn btn-danger" href="/delete_case_study/<%=case_study.id %>">
                      Delete Case Study
                    </a>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
