
<!-- Button trigger modal -->
<div class="btn btn-sm btn-edit" data-toggle="modal" data-target="#myModalEditNBPCompany_<%=nbp_company.id %>">
  <i class="fa fa-edit"></i>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalEditNBPCompany_<%= nbp_company.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"> Edit <%= nbp_company.company.name %> Content</h4>
      </div>
      <div class="modal-body">

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-12">
    <div class="panel panel-default">
      <div class="panel-body" style="color:#000000;font-size: 12px">

        <form enctype="multipart/form-data" action="/update_nbp_company/<%= nbp_company.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <!-- Check boxes Featured -->
          <div class="checkbox-inline">
            <% if nbp_company.include_strip %>
              <h5><label><input type="checkbox" name="include_strip" checked>Include</label></h5>
            <% else %>
              <h5><label><input type="checkbox" name="include_strip">Include</label></h5>
            <% end %>
          </div>

          <input name="company_id" type="hidden" value="<%= nbp_company.company_id%>">

          <input name="nbp_id" type="hidden" value="<%= nbp_company.nbp_id%>">

          <input name="tier_id" type="hidden" value="<%= nbp_company.tier_id%>">
          <input name="bucket_id" type="hidden" value="<%= nbp_company.bucket_id%>">

          <!-- Label and input for Lincoln Rationale -->
          <div class="form-group">
            <h5><label for="strip" class="col-lg-2 control-label">
              Lincoln Rationale:
            </label></h5>
            <div class="col-lg-10">
              <textarea id="strip" name="strip" placeholder="e.g., Lincoln has sold..."  class="form-control" rows="8"><%= nbp_company.strip %></textarea>
            </div>
          </div>

          <!-- Label and input for Notes -->
          <div class="form-group">
            <h5><label for="note" class="col-lg-2 control-label">
              Notes:
            </label></h5>
            <div class="col-lg-10">
              <textarea id="note" name="note" placeholder="e.g., Lincoln has sold..."  class="form-control" rows="8"><%= nbp_company.note %></textarea>
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Strategic Detail
              </button>

            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
