
<!-- Button trigger modal -->
<a style="color:<%=color%>; padding-right: 5px; font-size:10px;" href="#" data-toggle="modal" data-target="#myModalEditNBPCompany_<%=nbp_company.id %>">
  <strong><i class="fa fa-edit"></i></strong>
</a>

<div class="modal inmodal fade" id="myModalEditNBPCompany_<%=nbp_company.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/update_nbp_company/<%= nbp_company.id %>" method="post" class="form-horizontal">
            <div class="modal-header" style="width:600px; color:#676767">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" >Edit <%= nbp_company.company.name %>Content</h4>
                <small class="font-bold">Change research and rationale content for <strong><%= nbp_company.company.name %></strong> as it relates to this deal.</small>
            </div>
            <div class="modal-body" style="text-align: left;">

          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <!-- Check boxes Featured -->
          <div class="checkbox-inline" style="color:#676767; margin-left: 10px">
            <% if nbp_company.include_strip %>
              <h5><label><input class="checkbox-success" type="checkbox" name="include_strip" checked>Include</label></h5>
            <% else %>
              <h5><label><input class="checkbox-success" type="checkbox" name="include_strip">Include</label></h5>
            <% end %>
          </div>

          <input name="company_id" type="hidden" value="<%= nbp_company.company_id%>">

          <input name="nbp_id" type="hidden" value="<%= nbp_company.nbp_id%>">

          <input name="tier_id" type="hidden" value="<%= nbp_company.tier_id%>">
          <input name="bucket_id" type="hidden" value="<%= nbp_company.bucket_id%>">
          <input name="table" type="hidden" value="<%= table %>">
          <br>
          <!-- Label and input for Lincoln Rationale -->
          <div class="form-group" style="width:600px; color:#676767">
            <h5 style="width:150px;text-align: right; margin-right: 10px;">
              Lincoln Rationale:
            </h5>
            <div>
              <textarea style="width:400px" id="strip" name="strip" placeholder="e.g., Lincoln has sold..."  class="form-control" rows="8"><%= nbp_company.strip %></textarea>
            </div>
          </div>
          <br>
          <!-- Label and input for Notes -->
          <div class="form-group" style="width:600px; color:#676767">
            <h5 style="width:150px; text-align: right; margin-right: 10px;">
              Notes:
            </h5>
            <div>
              <textarea style="width:400px" id="note" name="note" placeholder="e.g., Lincoln has sold..."  class="form-control" rows="8"><%= nbp_company.note %></textarea>
            </div>
          </div>


            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Update Strategic Rationale
                    </button>
                    <button style="color:#676767" type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>


