
<!-- Button trigger modal -->
<div class="btn btn-primary-outline" data-toggle="modal" data-target="#myModalEditWorkHistory_<%=work_history.id %>">
  <i class="fa fa-edit"></i>
</div>

<div class="modal inmodal fade" id="myModalEditWorkHistory_<%=work_history.id %>" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/update_work_history/<%= work_history.id %>" method="post" class="form-horizontal">
            <div class="modal-header" >
                <h4 class="modal-title">Edit Work History Content</h4>
                <small class="font-bold">Update work history details.</small>
            </div>
            <div class="modal-body">

          <% if work_history.errors.any? %>
            <% work_history.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>

          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <div class="form-group">
            <h5><label for="company_id" class="col-lg-2 control-label">
              Company
            </label></h5>
            <select name="company_id" data-placeholder="Select Company..." class="select2 form-control"  tabindex="2" style="width:80%">
              <% Company.order("name asc").each do |company| %>
                <% if work_history.company_id == company.id %>
                  <option value="<%=company.id %>" selected><%=company.name %></option>
                <% else %>
                  <option value="<%=company.id %>"><%=company.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>

          <!-- Label and input for Person -->
          <input name="person_id" type="hidden" value="<%= work_history.person_id %>">

          <!-- Check boxes Current -->
          <div class="form-group">
              <label class="col-lg-2 control-label" for="current">
                  Current
              </label>
              <div class="col-sm-10">
                <% if work_history.current %>
                  <input type="checkbox" id="current" name="current" class="i-checks" checked />
                <% else %>
                  <input type="checkbox" id="current" name="current" class="i-checks" />
                <% end %>
              </div>
          </div>
           <!-- Label and input for Role -->
          <div class="form-group">
            <h5><label for="role_id" class="col-lg-2 control-label">
              Role
            </label></h5>
            <select name="role_id" data-placeholder="Select Role..." class="select2 form-control"  tabindex="2" style="width:80%">
              <% Role.order("name asc").each do |person| %>
                <% if work_history.role_id == role.id %>
                  <option value="<%=role.id %>" selected><%=role.name %></option>
                <% else %>
                  <option value="<%=role.id %>"><%=role.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>

          <!-- Label and input for Start Year -->
          <div class="form-group">
            <label for="start_year" class="col-sm-2 control-label">
              Start Year
            </label>
            <div class="col-sm-10">
              <input type="integer" id="start_year" name="start_year" placeholder="e.g., 2008" class="form-control" value="<%= work_history.start_year %>">
            </div>
          </div>

          <!-- Label and input for End Year -->
          <div class="form-group">
            <label for="end_year" class="col-sm-2 control-label">
              End Year
            </label>
            <div class="col-sm-10">
              <input type="integer" id="end_year" name="end_year" placeholder="e.g., 2017" class="form-control" value="<%= work_history.end_year %>">
            </div>
          </div>

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Update Work History
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>

<script>
$(function() {
  $(".select2").select2({
    dropdownCssClass: "increasedzindexclass",   
  });
  $('.i-checks').iCheck({
      checkboxClass: 'icheckbox_square-green',
      radioClass: 'iradio_square-green',
  });
});
</script>