
<!-- Button trigger modal -->
<div class="btn btn-edit" data-toggle="modal" data-target="#myModalEditCaseStudy_<%=case_study.id %>">
  <i class="fa fa-edit"></i>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalEditCaseStudy_<%=case_study.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Case Study Details</h4>
      </div>
      <div class="modal-body">



<% if case_study.errors.any? %>
  <% case_study.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= case_study.deal.name %></h3>
      </div>
      <div class="panel-body">

        <form enctype="multipart/form-data" action="/update_case_study/<%= case_study.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <input type="hidden" name="deal_id"  value="<%= case_study.deal_id %>">

          <input type="hidden" name="image_id"  value="<%= case_study.image_id %>">
 
 

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Case Study
              </button>

            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
