
<!-- Button trigger modal -->
<div class="btn btn-edit" data-toggle="modal" data-target="#myModalEditSubsidiary_<%=subsidiary.id %>">
  <i class="fa fa-edit"></i>
</div>

<div class="modal inmodal fade" id="myModalEditSubsidiary_<%=subsidiary.id %>" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/update_subsidiary/<%= subsidiary.id %>" method="post" class="form-horizontal">
            <div class="modal-header" >
                <h4 class="modal-title">Edit Subsidiary Content</h4>
                <small class="font-bold">Update subsidiary details.</small>
            </div>
            <div class="modal-body">

          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for Parent ID -->
          <% if subsidiary.present? %>
             <input name="parent_id" type="hidden" value="<%= subsidiary.parent_id%>">
          <% else %>
          <div class="form-group">
            <h5><label for="parent_id" class="col-lg-2 control-label">
              Parent
            </label></h5>
            <select name="parent_id" data-placeholder="Select Parent..." class="select2 form-control"  tabindex="2" style="width:80%">
              <% Company.order("name asc").each do |company| %>
                <% if subsidiary.parent_id == company.id %>
                  <option value="<%=company.id %>" selected><%=company.name %></option>
                <% else %>
                  <option value="<%=company.id %>"><%=company.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>
          <%end%>

          <% if subsidiary.present? %>
             <input name="child_id" type="hidden" value="<%= subsidiary.child_id%>">
          <% else %>
          <div class="form-group">
            <h5><label for="child_id" class="col-lg-2 control-label">
              Child
            </label></h5>
            <select name="child_id" data-placeholder="Select Child..." class="select2 form-control"  tabindex="2" style="width:80%">
              <% Company.order("name asc").each do |company| %>
                <% if subsidiary.child_id == company.id %>
                  <option value="<%=company.id %>" selected><%=company.name %></option>
                <% else %>
                  <option value="<%=company.id %>"><%=company.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>
          <%end%>


          <!-- Label and input for Acquisition Date -->
          <div class="form-group">
            <label for="acquisition_date" class="col-sm-2 control-label">
              Acquisition Date
            </label>
            <div class="col-sm-10">
              <input type="date" id="acquisition_date" name="acquisition_date" placeholder="e.g., 03/10/2018" class="form-control" value="<%= @subsidiary.acquisition_date %>">
            </div>
          </div>

          <!-- Label and input for Acquisition Price -->
          <div class="form-group">
            <label for="acquisition_price" class="col-sm-2 control-label">
              Acquisition Price
            </label>
            <div class="col-sm-10">
              <input type="float" id="acquisition_price" name="acquisition_price" placeholder="e.g., 201.1" class="form-control" value="<%= @subsidiary.acquisition_price %>">
            </div>
          </div>


          <!-- Label and input for Link -->
          <div class="form-group">
            <label for="link" class="col-sm-2 control-label">
              Link
            </label>
            <div class="col-sm-10">
              <input type="string" id="link" name="link" placeholder="e.g., 17" class="form-control" value="<%= @subsidiary.link %>">
            </div>
          </div>

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Update Subsidiary
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>

<script>
$(function() {
  $(".select2").select2({
    dropdownCssClass: "increasedzindexclass",   
  });
  $('.i-checks').iCheck({
      checkboxClass: 'icheckbox_square-green',
      radioClass: 'iradio_square-green',
  });
});
</script>
