
<!-- Button trigger modal -->
<div class="btn btn-edit btn-xs" data-toggle="modal" data-target="#myModalEditLOI_<%=loi.id %>">
  <i class="fa fa-edit"></i>
</div>

<div class="modal inmodal fade" id="myModalEditLOI_<%=loi.id %>" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form id="loi_elements" class="form-horizontal">
            <div class="modal-header" >
                <h4 class="modal-title">Edit LOI Content</h4>
                <small class="font-bold">Update <%= loi.name %> details and highlights.</small>
            </div>
            <div class="modal-body">

          <% if loi.errors.any? %>
            <% loi.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>

          <!-- Hidden input for authenticity token to protect from forgery -->
          <input id="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-lg-2 control-label">
              LOI Document Title
            </label>
            <div class="col-lg-10">
              <input type="string" id="name" name="name" placeholder="e.g., Company Name / Acquirer Name loi" class="form-control" value="<%= loi.name %>">
            </div>
          </div>

          <!-- Label and input for Deal Name -->
          <div class="form-group">
            <h5><label for="deal_id" class="col-lg-2 control-label">
              Deal
            </label></h5>
            <select name="deal_id" data-placeholder="Select Deal..." class="select2 form-control"  tabindex="2" style="width:80%">
              <% Deal.order("name asc").each do |deal| %>
                <% if @loi.deal_id == deal.id %>
                  <option value="<%=deal.id %>" selected><%=deal.name %></option>
                <% else %>
                  <option value="<%=deal.id %>"><%=deal.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>
          <!-- Label and input for LOI Date -->
          <div class="form-group">
            <label for="loi_date" class="col-lg-2 control-label">
              LOI Date
            </label>
            <div class="col-lg-10">
              <%if loi.loi_date.nil?%>
                <input type="date" id="loi_date" name="loi_date" placeholder="e.g., 09/09/2017" class="form-control" value="<%= Date.current %>">
              <% else %>
                <input type="date" id="loi_date" name="loi_date" placeholder="e.g., 09/09/2017" class="form-control" value="<%= loi.loi_date %>">
              <% end %>
            </div>
          </div>

          <input type="hidden" id="image_id" value="<%= loi.image_id %>">

          <!-- Label and input for Enterprise Value ($ millions) -->
          <div class="form-group">
            <label for="enterprise_value" class="col-sm-2 control-label">
              Enterprise Value ($ millions)
            </label>
            <div class="col-sm-10">
              <input type="float" id="enterprise_value" name="enterprise_value" placeholder="10.1" class="form-control" value="<%= loi.enterprise_value %>">
            </div>
          </div>

          <!-- Label and input for Working Capital Target ($ millions) -->
          <div class="form-group">
            <label for="working_capital_target" class="col-sm-2 control-label">
              Working Capital Target ($ millions)
            </label>
            <div class="col-sm-10">
              <input type="float" id="working_capital_target" name="working_capital_target" placeholder="10.1" class="form-control" value="<%= loi.working_capital_target %>">
            </div>
          </div>

          <!-- Label and input for Expiration Date -->
          <div class="form-group">
            <label for="expiration_date" class="col-sm-2 control-label">
              Expiration Date
            </label>
            <div class="col-sm-10">
              <input type="date" id="expiration_date" name="expiration_date" placeholder="10.1" class="form-control" value="<%= loi.expiration_date %>">
            </div>
          </div>

          <!-- Update each highlight -->
          <% loi.loi_highlights.order("highlight_id asc").each do |loi_highlight| %>
              <div class="form-group">
                <label for="<%=loi_highlight.id%>" class="col-sm-2 control-label">
                  <%= loi_highlight.highlight.name%>:
                </label>
                <div class="col-sm-10">
                  <textarea id="<%=loi_highlight.id%>"  class="form-control" rows="3"><%= loi_highlight.detail %></textarea>
                </div>
              </div> 
          <% end %>

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Update LOI
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>

<script>
$(function() {
  $(".select2").select2({
    dropdownCssClass: "increasedzindexclass",   
  });
});
$('#loi_elements').submit(function() {
    // get all the inputs into an array.
    var $inputs = $('#loi_elements :input');

    var ids = [];
    var details = [];
    var i =0;
    $inputs.each(function() {
        ids[i] = $(this).attr("id");
        details[i] = $(this).val();
        i=i+1;
    });


    $.post("/update_loi_and_highlights/",
     {'authenticity_token':details[0],
      'loi_id':<%=loi.id%>,
      'ids[]':ids,
      'details[]': details
     });


});
</script>
