
<!-- Button trigger modal -->
<div class="btn btn-edit" data-toggle="modal" data-target="#myModalEditNote_<%=note.id %>">
  <i class="fa fa-edit"></i>
</div>

<div class="modal inmodal fade" id="myModalEditNote_<%=note.id %>" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/update_note/<%=note.id %>" method="post" class="form-horizontal">
            <div class="modal-header">
                <h4 class="modal-title">Edit Note</h4>
                <small class="font-bold">Edit the details of this note</small>
            </div>
            <div class="modal-body">

          <% if note.errors.any? %>
            <% note.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>

          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <!-- Label and input for Title -->
          <div class="form-group">
            <label for="title" class="col-lg-2 control-label">
              Title
            </label>
            <div class="col-lg-10">
              <input type="string" id="title" name="title" placeholder="" class="form-control" value="<%= note.title %>">
            </div>
          </div>

          <!-- Label and input for Detail -->
          <div class="form-group">
            <h5><label for="detail" class="col-lg-2 control-label">
              Information:
            </label></h5>
            <div class="col-lg-10">
              <textarea id="detail" name="detail" placeholder="e.g., Met with person at company on xx/xx/xxxx..."  class="form-control" rows="5"><%= note.detail %></textarea>
            </div>
          </div>

          <!-- Label and input for Date -->
          <div class="form-group">
            <label for="date" class="col-lg-2 control-label">
              Date
            </label>
            <div class="col-lg-10">
              <input type="date" id="date" name="date" placeholder="" class="form-control" value="<%= note.date %>">
            </div>
          </div>


            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Update Note
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>
