<span style="font:black; margin-right: 8px;"><a data-toggle="modal" href="#Modal_Edit_Deal_Person_<%=deal_person.id %>"><i class="fa fa-edit"></i></a></span>

<div class="modal inmodal fade" id="Modal_Edit_Deal_Person_<%=deal_person.id %>" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <% if deal_person.errors.any? %>
            <% deal_person.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>
          <form enctype="multipart/form-data" action="/update_deal_person/<%= deal_person.id %>" method="post" class="form-horizontal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Update Deal Person</h4>
                <small class="font-bold">Update content deal, person or role for deal person.</small>
            </div>
            <div class="modal-body">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <!-- Label and input for Deal -->
              <% if @deal.present? %>
                <input type="hidden" name="deal_id"  value="<%= deal_person.deal_id %>">
              <% else %>
                <div class="form-group">
                  <h5><label for="deal_id" class="col-lg-2 control-label">
                    Deal
                  </label></h5>
                  <select name="deal_id" data-placeholder="Select Deal..." class="select2 form-control"  tabindex="2" style="width:80%">
                    <% Deal.order("name asc").each do |deal| %>
                      <% if deal_person.deal_id == deal.id %>
                        <option value="<%=deal.id %>" selected><%=deal.name %></option>
                      <% else %>
                        <option value="<%=deal.id %>"><%=deal.name %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              <% end %>

              <!-- Label and input for Person -->
              <% if @person.present? %>
                <input type="hidden" name="person_id"  value="<%= deal_person.person_id %>">
              <% else %>
                <div class="form-group">
                  <h5><label for="person_id" class="col-lg-2 control-label">
                    Person
                  </label></h5>
                  <select name="person_id" data-placeholder="Select Person..." class="select2 form-control"  tabindex="2" style="width:80%">
                    <% Person.order("name asc").each do |person| %>
                      <% if deal_person.person_id == person.id %>
                        <option value="<%=person.id %>" selected><%=person.name %></option>
                      <% else %>
                        <option value="<%=person.id %>"><%=person.name %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              <% end %>

              <!-- Label and input for Role -->
                <div class="form-group">
                  <h5><label for="role_id" class="col-lg-2 control-label">
                    Role
                  </label></h5>
                  <select name="role_id" data-placeholder="Select Role..." class="select2 form-control"  tabindex="2" style="width:80%">
                    <% Role.where('id < 7').order("name asc").each do |role| %>
                      <% if deal_person.role_id == role.id %>
                        <option value="<%=role.id %>" selected><%=role.name %></option>
                      <% else %>
                        <option value="<%=role.id %>"><%=role.name %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>

            </div>
            <div class="modal-footer">
              <div class="form-group">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button class="btn btn-lincoln" style="margin-right: 10px;">Update</button>
              </div>
            </div>
          </form>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
  $(".select2").select2({
    dropdownCssClass: "increasedzindexclass",
  });
});
</script>