
<!-- Button trigger modal -->
<div class="btn btn-edit" data-toggle="modal" data-target="#myModalEditFund_<%=fund.id %>">
  <i class="fa fa-edit"></i>
</div>

<div class="modal inmodal fade" id="myModalEditFund_<%=fund.id %>" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/update_fund/<%= fund.id %>" method="post" class="form-horizontal">
            <div class="modal-header">
                <h4 class="modal-title">Update Fund</h4>
                <small class="font-bold">Update <%= fund.name %>.</small>
            </div>
            <div class="modal-body">

          <% if fund.errors.any? %>
            <% fund.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>

          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for Fund Name -->
          <div class="form-group">
            <h5><label for="name" class="col-sm-2 control-label">
              Fund Name
            </label></h5>
            <div class="col-sm-10">
              <input type="string" id="name" name="name" placeholder="e.g., Sponsor Name Fund IV" class="form-control" value="<%= fund.name %>">
            </div>
          </div>
          
          <!-- Label and input for Sponsor -->
          <div class="form-group">
            <h5><label for="sponsor_id" class="col-lg-2 control-label">
              Sponsor
            </label></h5>
            <select name="sponsor_id" data-placeholder="Select Sponsor..." class="select2 form-control"  tabindex="2" style="width:80%">
              <% Sponsor.order("name asc").each do |sponsor| %>
              <option value="<%=sponsor.id %>"><%=sponsor.name %></option>
              <% end %>
            </select>
          </div>

          <div class="checkbox-inline">
            <h5><label><input type="checkbox" name="open" checked>Open</label></h5>
          </div>

          <!-- Label and input for Size -->
          <div class="form-group">
            <h5><label for="size" class="col-sm-2 control-label">
              Size
            </label></h5>
            <div class="col-sm-10">
              <input type="float" id="size" name="size" placeholder="e.g., 200.0" class="form-control" value="<%= fund.size %>">
            </div>
          </div>

          <!-- Label and input for Open Year -->
          <div class="form-group">
            <h5><label for="open_year" class="col-sm-2 control-label">
            Open Year
            </label></h5>
            <div class="col-sm-10">
              <input type="integer" id="open_year" name="open_year" placeholder="e.g., 2012" class="form-control" value="<%= fund.open_year %>">
            </div>
          </div>

          <!-- Label and input for Close Year -->
          <div class="form-group">
            <h5><label for="close_year" class="col-sm-2 control-label">
            Close Year
            </label></h5>
            <div class="col-sm-10">
              <input type="integer" id="close_year" name="close_year" placeholder="e.g., 2015" class="form-control" value="<%= fund.close_year %>">
            </div>
          </div>

          <!-- Label and input for Link -->
          <div class="form-group">
            <h5><label for="link" class="col-sm-2 control-label">
              Link to Details
            </label></h5>
            <div class="col-sm-10">
              <input type="string" id="link" name="link" placeholder="e.g., http://www.PrivateEquityGroup.com" class="form-control" value="<%= fund.link %>">
            </div>
          </div>          

            </div>
            <div class="modal-footer">
              <div class="form-group">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button class="btn btn-lincoln" style="margin-right: 10px;">Update</button>
              </div>
            </div>
          </form>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
  $(".select2").select2({
    dropdownCssClass: "increasedzindexclass",
  });
});
</script>
