
<!-- Button trigger modal -->
<div class="btn btn-edit" data-toggle="modal" data-target="#myModalEditMarketStudy_<%=market_study.id %>">
  <i class="fa fa-edit"></i>
</div>

<div class="modal inmodal fade" id="myModalEditMarketStudy_<%=market_study.id %>" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/update_market_study/<%= market_study.id %>" method="post" class="form-horizontal">
            <div class="modal-header" >
                <h4 class="modal-title">Create Market Study Content</h4>
                <small class="font-bold">Add a new landing page for a Market Study document.</small>
            </div>
            <div class="modal-body">

          <% if market_study.errors.any? %>
            <% market_study.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>

          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <!-- Label and input for Market Study Name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Market Study Name
            </label>
            <div class="col-sm-10">
              <input type="string" id="name" name="name" placeholder="e.g., e.g., Sponsor Name / Company Name (Year) CS" class="form-control" value="<%= market_study.name %>">
            </div>
          </div>

          <input type="hidden" name="deal_id"  value="<%= market_study.deal_id %>">

          <input type="hidden" name="image_id"  value="<%= market_study.image_id %>">

          <!-- Label and input for Date -->
          <div class="form-group">
            <h5><label for="market_study_date" class="col-sm-2 control-label">
              Date
            </label></h5>
            <div class="col-lg-10">
              <input type="date" id="market_study_date" name="market_study_date" placeholder="12/17/2017" class="form-control" value="<%= market_study.market_study_date %>"
            </div>
          </div>

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Update Market Study
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>