
<!-- Button trigger modal -->
<div class="btn btn-edit" data-toggle="modal" data-target="#myModalEditCIP_<%=cip.id %>">
  <i class="fa fa-edit"></i>
</div>

<div class="modal inmodal fade" id="myModalEditCIP_<%=cip.id %>" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/update_cip/<%= cip.id %>" method="post" class="form-horizontal">
            <div class="modal-header" >
                <h4 class="modal-title">Edit CIP Content</h4>
                <small class="font-bold">Update <%= cip.name %> landing page.</small>
            </div>
            <div class="modal-body">

          <% if cip.errors.any? %>
            <% cip.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>

          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <input type="hidden" name="deal_id"  value="<%= cip.deal_id %>">

          <input type="hidden" name="image_id"  value="<%= cip.image_id %>">
 
          <!-- Label and input for CIP Name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              CIP Name
            </label>
            <div class="col-sm-10">
              <input type="string" id="name" name="name" placeholder="e.g., Sponsor Name / Company Name (Year) CIP" class="form-control" value="<%= cip.name %>">
            </div>
          </div>

          <!-- Label and input for CIP Date -->
          <div class="form-group">
            <label for="cip_date" class="col-sm-2 control-label">
              CIP Date
            </label>
            <div class="col-sm-10">
              <input type="date" id="cip_date" name="cip_date" placeholder="e.g., 09/09/2017" class="form-control" value="<%= cip.cip_date %>">
            </div>
          </div>

          <!-- Label and input for Net Sales Target ($ in millions) -->
          <div class="form-group">
            <h5><label for="net_sales_target" class="col-sm-2 control-label">
              Net Sales Target ($ in millions)
            </label></h5>
            <div class="col-sm-10">
              <input type="float" id="net_sales_target" name="net_sales_target" placeholder="4.8" value="<%= cip.net_sales_target %>" class="form-control">
            </div>
          </div>

          <!-- Label and input for Adjusted EBITDA Target ($ in millions) -->
          <div class="form-group">
            <h5><label for="adj_ebitda_target" class="col-sm-2 control-label">
              Adjusted EBITDA Target ($ in millions)
            </label></h5>
            <div class="col-sm-10">
              <input type="float" id="adj_ebitda_target" name="adj_ebitda_target" placeholder="4.8" value="<%= cip.adj_ebitda_target %>" class="form-control">
            </div>
          </div>

          <!-- Label and input for ppt_address -->
          <div class="form-group">
            <h5><label for="ppt_address" class="col-sm-2 control-label">
              Powerpoint Folder Address
            </label></h5>
            <div class="col-sm-10">
              <input type="string" id="ppt_address" name="ppt_address" placeholder="H://Marketing/Sponsor/Deal/NBP/Powerpoint/" value="<%= cip.ppt_address %>" class="form-control">
            </div>
          </div>

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Update CIP
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>
