
<!-- Button trigger modal -->
<div class="btn btn-edit" data-toggle="modal" data-target="#myModalEditNBP_<%=nbp.id %>">
  <i class="fa fa-edit"></i>
</div>

<div class="modal inmodal fade" id="myModalEditNBP_<%=nbp.id %>" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/update_nbp/<%= nbp.id %>" method="post" class="form-horizontal">
            <div class="modal-header" >
                <h4 class="modal-title">Edit NBP Content</h4>
                <small class="font-bold">Update <%= nbp.name %> landing page.</small>
            </div>
            <div class="modal-body">

          <% if nbp.errors.any? %>
            <% nbp.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>

          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <input type="hidden" name="deal_id"  value="<%= nbp.deal_id %>">

          <input type="hidden" name="image_id"  value="<%= nbp.image_id %>">
          
          <!-- Label and input for NBP Name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              NBP Name
            </label>
            <div class="col-sm-10">
              <input type="string" id="name" name="name" placeholder="e.g., Sponsor Name / Company Name (Year) NBP" class="form-control" value="<%= nbp.name %>">
            </div>
          </div>

          <!-- Label and input for NBP Date -->
          <div class="form-group">
            <label for="nbp_date" class="col-sm-2 control-label">
              NBP Date
            </label>
            <div class="col-sm-10">
              <input type="date" id="nbp_date" name="nbp_date" placeholder="e.g., 09/09/2017" class="form-control" value="<%= nbp.nbp_date %>">
            </div>
          </div>
          <!-- Label and input for ppt_address -->
          <div class="form-group">
            <h5><label for="ppt_address" class="col-sm-2 control-label">
              Powerpoint Folder Address
            </label></h5>
            <div class="col-sm-10">
              <input type="string" id="ppt_address" name="ppt_address" placeholder="H://Marketing/Sponsor/Deal/NBP/Powerpoint/"  value="<%= nbp.ppt_address %>" class="form-control">
            </div>
          </div>
 

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Update NBP
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>
