  <div style="text-align: center">
    <div class="btn-group-horizontal">
      <h1>
        <% if type == "strategic" %>
        <%= button_to "Export", controller: "nbps", action: "show_companies", formt: "xlsx", class: "btn-outline btn-warning" %>
        <% else %>
          <a href="/nbps/<%= nbp.id %>/sponsors.xlsx" class="btn btn-outline btn-warning btn-default">
            Export <i class="fa fa-cloud-download"></i>
          </a>
        <% end %>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning btn-default" data-toggle="modal" data-target="#myModalUpLoad_<%= type %>">
            Import <i class="fa fa-upload"></i>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModalUpLoad_<%= type %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload <%= type.capitalize %> Acquirers</h4>
              </div>
              <div class="modal-body">
              <h5>
              <% if type == "strategic" %>
         
              <%elsif type == "financial" %>
      
              <%end%></h5>
              </div>
            </div>
          </div>
        </div>
       
      </h1>
    </div>
  </div> 

<!-- File Download Button -->








































































