<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> NBP Tag # <%= @nbp_tag.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl>

              <dt> NBP ID</dt>
              <dd><%= @nbp_tag.nbp_id %></dd>
              <dt> Tag ID</dt>
              <dd><%= @nbp_tag.tag_id %></dd>


            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/nbp_tags/<%= @nbp_tag.id %>" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/nbp_tags/<%= @nbp_tag.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- End responsive panel example -->
