
<div class="row container">
<% @people.each do |contact| %>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading" >
        <h3 class="panel-title" style="font-size:12px">
          <strong><%= contact.name %></strong><br>
          <%= contact.sponsor_histories.where(sponsor_id: @sponsor.id).last.role.name %>
        </h3>
      </div>
      <div class="panel-body" >
        <div class="row">
          <a href="/people/<%= contact.id %>"><img src="<%= contact.image_url %>"  width=100%></a>
          <div text-align: justify; >
            <% contact.sponsor_histories.where(sponsor_id: @sponsor.id).each do |sponsor_history| %>
              <br>
              <div style="text-align: center">
                <% if sponsor_history.current %>
                  <%= sponsor_history.start_year %>-Present
                <% else %>
                  <%= sponsor_history.start_year %>-<%= sponsor_history.end_year %>
                <%end%>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>