<div class="row container">
<div class="col-lg-12">
  <% @nbps.each do |nbp| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotope-item">
      <% if NbpSponsor.find_by(nbp_id: nbp.id, sponsor_id: @sponsor.id).featured %>
      <div class="panel panel-success">
      <% else %>
      <div class="panel panel-default">
      <% end %>
        <div class="panel-heading" >
          <h3 class="panel-title" style="font-size:12px"><%= nbp.name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
             <dl class="dl-horizontal" style="font-size:10px">
                <strong>NBP:</strong>
                <% if nbp.nbp_date.present? %>
                  <a href="/nbps/<%=nbp.id %>/sponsors"><%= nbp.nbp_date%></a>
                <% else %>
                  <a href="/nbps/<%=nbp.id %>/sponsors">No Date Assigned Yet</a>
                <% end %>
                <br>
                <strong>Lincoln Rationale:</strong><br>
                  <%= NbpSponsor.find_by(nbp_id: nbp.id, sponsor_id: @sponsor.id).rationale %>             
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
</div>