<div class="ibox">
    <div class="ibox-title">
        <h5>Locations (<%= @locations.count %>) <%= render('shared/add_location_modal')%></h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-2">
          <% loc = 1 %>
          <table>
            <% @locations.order('city ASC').each do |location| %>
              <tr class="bg-primary border-top-bottom border-size-md" style="border-color:white">
                <td style="width:10%;padding-left: 5px;">
                  <%= loc.to_s + '.'%>
                </td>
                <td style="padding-right:5px;">
                  <%= location.city + ', ' + location.state %>
                </td>
                <td style="width:20%" >
                  <%= render('shared/edit_location_modal', :location => location)%>
                </td>
              <tr>
              <% loc = loc + 1%>
            <% end %>
          </table>
        </div>
        <div class="col-lg-10">
        <div id="bubbles"></div>
      </div>
      </div>
    </div>

</div>

<script type="text/javascript">

  var bubble_map = new Datamap({
    element: document.getElementById("bubbles"),
    scope: '<%= @scope %>',
    responsive: true,
    done: function(datamap) {
        datamap.svg.selectAll('.datamaps-subunit').on('click', function(bubbles) {
            url = '/sponsors/<%= @sponsor.id %>/country/' + bubbles.properties.name;
            window.location.href = url;
        });
    },
    geographyConfig: {
      popupOnHover: false,
      highlightOnHover: false
    },
          fills: {
              defaultFill: '#E9E9E9',
              active: '#2BA587'
          },
          geographyConfig: {
              dataUrl: null, //if not null, datamaps will fetch the map JSON (currently only supports topojson)
              hideAntarctica: true,
              borderWidth: 1,
              borderOpacity: 1,
              borderColor: '#FFFFFF',
              popupOnHover: false, //disable the popup while hovering
              highlightOnHover: true,
              highlightFillColor: '#DBDAD6',
              highlightBorderColor: '#FFFFFF',
              highlightBorderWidth: 2,
              highlightBorderOpacity: 1
          },
          bubblesConfig: {
                  borderWidth: 2,
                  borderOpacity: 1,
                  borderColor: '#FFFFFF',
                  animate: true,
                  popupOnHover: true,
                  fillOpacity: 0.65,
                  highlightOnHover: true,
                  highlightFillColor: '#127e68',
                  highlightBorderColor: '#127e68',
                  highlightFillOpacity: 0.85
          }
  });
  bubble_map.bubbles(
      $.getJSON("/location_query/<%= @sponsor.id%>/sponsors/<%= @country%>.json", function(locations) {
          bubble_map.bubbles(locations,
          {
              popupTemplate: function(geo, data) {
                  return '<div style="text-align: center;" class="hoverinfo bg-white"><strong>' + data.name + '</strong><br>' + data.street + '<br>' + data.city + ',' + data.state + ' '+ data.zip + '<br>' + data.country + '</div>'
              }
          
          });
      })
  );

  
  // This code is not functioning and is meant to find the bubble that is clicked
  d3.selectAll('.datamaps-bubble').on('click', function(info) {
    alert("hello");
  });

</script>