<style>

.scrollbar {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  background-color: black;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  max-height: 275px
}
.card {
display: inline-block;
width:235px;
}
</style>

<div class="row container ibox-content" style="position: fixed; background-color: white; padding: 5px; padding-top: 20px; z-index: 10;"> 
<div class="col-lg-12">

<div class="col-lg-8">


<!-- Responsive, Isotope-based layout example -->
<form method="post" class="form-horizontal" id="sl-form-id" name="sl-form-name"> 
<!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <input name="id" type="hidden" value="<%= @slide_layout.id %>">

  <input name="user_id" type="hidden" value="<%= current_user.id %>"> 

  <input name="date" type="hidden" value="<%= Date.today %>">

 
    <!-- Label and input for Deal Name -->
  <div class="form-group" style="margin-bottom: px;">
    <div class="col-lg-11">
      <%= select_tag :deal_id, options_from_collection_for_select(Deal.all, :id, :name, @slide_layout.deal_id), {:include_blank => 'Select Deal', :class => "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-8">
      <input type="string" id="name" name="name" placeholder="Enter Layout Name" class="form-control" value="<%=@slide_layout.name%>">
    </div>
    <div class="col-lg-1">
      <button class="btn btn-lincoln" id="sl-button-id">
        Update Layout
      </button>
    </div>
  </div>
</form>
</div>
<div class="col-lg-4" style="background-color: white; border-color: black; padding-bottom: 10px">
   <div class="vertical-btn-group">
    <br> 
    <div class="horizontal-btn-grp" style="margin-bottom: 5px"> 
        <%= render('shared/share_slide_layout_modal',slide_layout: @slide_layout) %>
        <%= render('shared/delete_slide_layout_modal',slide_layout: @slide_layout) %>
    </div>

    <a class="btn btn-success" href="/create_slide_layout_pdf/<%= @slide_layout.id %>">Download PDFs <i class="fa fa-file-pdf-o"></i></a>
    <a class="btn btn-success" href="/create_slide_layout_pptx/<%= @slide_layout.id %>">Download PPTX <i class="fa fa-file-pdf-o"></i></a>
  </div>  
</div> 
</div>

<br>
<div class="row container">
<h3 class="text-center m">
    <%=current_user.person.name%>'s Favorite Slides (Click and Drag into layout)
</h3>
<div class="row container">
    <div id="sortable1" class="connectedSortable scrollbar">

        <% i = 0 %>
        <% Slide.where(id: @favorite_slides.pluck(:slide_id) - @slide_layout.slides.ids).each do |slide| %>
            <% i = i + 1 %>
            <% if slide.teaser_slide.present?
                title = slide.teaser.deal.company.name + " Teaser"
            elsif slide.nbp_slide.present?
                title = slide.nbp.deal.company.name + " NBP"
            elsif slide.cip_slide.present?
                title = slide.cip.deal.company.name + " CIP"
            elsif slide.mpp_slide.present?
                title = slide.mp.deal.company.name + " MP"
            elsif slide.case_study_slide.present?
                title = slide.case_study.deal.company.name + " CS"
            end %>

                <div class="card" id="<%=slide.id%>">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title"><%= title %> - Slide #<%= slide.number %></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div>
                               
                                    <%= link_to image_tag(slide.image_url, size:"95%",class: "img-responsive center-block"), "/slides/#{slide.id}" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <%end%>
    </div>
</div>
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class = "row container" style=" position: relative; z-index: 1;">
<h3 class="text-center m">
    <%=@slide_layout.name%> Layout
</h3>

<div class="row container">
  <% i = 0 %>
  <div class="col-lg-12 connectedSortable ibox-content" id="sortable2" style="text-align:center; padding-top:25px; padding-bottom:25px; border-width:5px;border-color: #1ab394;">
    <% @slide_layout.slides.each do |slide| %>
    <% i = i+1 %>
    <div class="col-lg-4 isotope-item" id="<%=slide.id%>" style="z-index: 1">
        <div class="panel panel-primary">
          <div class="pull-right">
            <% if slide.favorite_slides.where(user_id: current_user.id).present? %>
              <%= link_to( "/destroy_favorite_slide/#{slide.favorite_slides.find_by(user_id: current_user.id).id }", class: "btn btn-lg btn-unfavorite", id: "slide_#{slide.id}", :remote => :true) do %>
                  <i class="fa fa-star"></i>
              <% end %> 
            <% else %>
              <%= link_to( "/create_favorite_slide/#{current_user.id}/#{slide.id}", class: "btn btn-lg btn-favorite", id: "slide_#{slide.id}", :remote => :true) do %>
                  <i class="fa fa-star-o"></i>
              <% end %> 
            <% end %>
          </div>        
          <div class="panel-heading">
            <h3 class="panel-title"> Slide #<%= i %></h3>

          </div>
          <div class="panel-body">
            <div class="row">
              <div>
               
                <%= link_to image_tag(slide.image_url, size:"95%",class: "img-responsive center-block"), "/slides/#{slide.id}" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>


<script>

   $( function() {
        // Sortable
        $( "#sortable1, #sortable2" ).sortable({
            connectWith: ".connectedSortable"
        })

        $( "#sortable1, #sortable2" ).sortable({
            out: function(event, ui) {
                ui.item.removeClass('scrollbar card');
                ui.item.addClass('col-lg-4 isotope-item');
            }
        })

    });


   var form = document.getElementById("sl-form-id");

  document.getElementById("sl-button-id").addEventListener("click", function () {
    var idsInOrder = $("#sortable2").sortable("toArray");
    form.action = "/update_slide_layout/"+ String(idsInOrder);
    form.submit();
  });
  
</script>
