<br>
<div class="pull-right">
  <div class="vertical-btn-group">
    <br>  
    <%= render('shared/share_slide_layout_modal',slide_layout: @slide_layout) %>
    <%= render('shared/delete_slide_layout_modal',slide_layout: @slide_layout) %><br><br>
    <a class="btn btn-success" href="/create_slide_layout_pdf/<%= @slide_layout.id %>">Download PDFs <i class="fa fa-file-pdf-o"></i></a>
  </div>  
</div>  
<div class="page-header">
  <h1>
    <%= @slide_layout.name %>
  </h1>
</div>


<!-- Responsive, Isotope-based layout example -->
<form method="post" class="form-horizontal" id="sl-form-id" name="sl-form-name"> 
<!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <input name="id" type="hidden" value="<%= @slide_layout.id %>">

  <input name="user_id" type="hidden" value="<%= current_user.id %>">

  <input name="date" type="hidden" value="<%= Date.today %>">

    <!-- Label and input for Deal Name -->
  <div class="form-group">
    <div class="col-lg-6">
      <%= select_tag :deal_id, options_from_collection_for_select(Deal.all, :id, :name, @slide_layout.deal_id), {:include_blank => 'Select Deal', :class => "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-6">
      <input type="string" id="name" name="name" placeholder="Enter Layout Name" class="form-control" value="<%=@slide_layout.name%>">
    </div>
    <div class="col-lg-1">
      <button class="btn btn-lincoln" id="sl-button-id">
        Update Layout
      </button>
    </div>
  </div>
</form>

<div class="row container">
  <div class="col-lg-6 page-header" style="text-align: center">
    <h1>Favorited Slides</h1>
  </div>
  <div class="col-lg-6 page-header" style="text-align: center">
    <h1><%= @slide_layout.name %> Slides</h1>
  </div>
</div>


<div class="row container">
  <div class="col-lg-6 connectedSortable" id="sortable1" style="text-align:center; padding-top:25px; padding-bottom:25px;  background-color: #f2f2f2">
    <% Slide.where(id: @favorite_slides.pluck(:slide_id) - @slide_layout.slides.ids).each do |slide| %>
    <div class="col-lg-6 isotope-item" id="<%=slide.id%>">
        <div class="panel panel-default">
          <div class="pull-right">
            <%= link_to( "/destroy_favorite_slide/#{slide.favorite_slides.find_by(user_id: current_user.id).id }", class: "btn btn-lg btn-unfavorite", id: "slide_#{slide.id}", :remote => :true) do %>
                <i class="fa fa-star"></i>
            <% end %> 
          </div>        
          <div class="panel-heading">
            <%if slide.nbp.present?%>
              <h3 class="panel-title"><%= slide.nbp.name %> Slide #<%= slide.number %></h3>
            <%end%>
            <%if slide.cip.present?%>
              <h3 class="panel-title"><%= slide.cip.name %> Slide #<%= slide.number %></h3>
            <%end%>
            <%if slide.mp.present?%>
              <h3 class="panel-title"><%= slide.mp.name %> Slide #<%= slide.number %></h3>
            <%end%>
            <%if slide.teaser.present?%>
              <h3 class="panel-title"><%= slide.teaser.name %> Slide #<%= slide.number %></h3>
            <%end%>
            <%if slide.case_study.present?%>
              <h3 class="panel-title"><%= slide.case_study.name %> Slide #<%= slide.number %></h3>
            <%end%>
          </div>
          <div class="panel-body">
            <div class="row">
              <div>
               
                <%= link_to image_tag(slide.image_url, size:"95%",class: "img-responsive center-block"), "/slides/#{slide.id}" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% i = 0 %>
  <div class="col-lg-6 connectedSortable panel panel-success" id="sortable2" style="text-align:center; padding-top:25px; padding-bottom:25px; border-width:5px;">
    <% @slide_layout.slides.each do |slide| %>
    <% i = i+1 %>
    <div class="col-lg-6 isotope-item" id="<%=slide.id%>">
        <div class="panel panel-success">
          <div class="pull-right">
            <% if slide.favorite_slides.where(user_id: current_user.id).present? %>
              <%= link_to( "/destroy_favorite_slide/#{slide.favorite_slides.find_by(user_id: current_user.id).id }", class: "btn btn-lg btn-unfavorite", id: "slide_#{slide.id}", :remote => :true) do %>
                  <i class="fa fa-star"></i>
              <% end %> 
            <% else %>
              <%= link_to( "/create_favorite_slide/#{current_user.id}/#{slide.id}", class: "btn btn-lg btn-favorite", id: "slide_#{slide.id}", :remote => :true) do %>
                  <i class="fa fa-star-o"></i>
              <% end %> 
            <% end %>
          </div>        
          <div class="panel-heading">
            <h3 class="panel-title"> Slide #<%= i %></h3>

          </div>
          <div class="panel-body">
            <div class="row">
              <div>
               
                <%= link_to image_tag(slide.image_url, size:"95%",class: "img-responsive center-block"), "/slides/#{slide.id}" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>


  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
 $( function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  });

 var form = document.getElementById("sl-form-id");

  document.getElementById("sl-button-id").addEventListener("click", function () {
    var idsInOrder = $("#sortable2").sortable("toArray");
    form.action = "/update_slide_layout/"+ String(idsInOrder);
    form.submit();
  });

  </script>
