<div class="row container">
    <thead>
      <tr>
        <% buckets.each do |bucket| %>
          <div class="col-sm-<%= size %> col-md-<%= size %> col-lg-<%= size %>">

            <%=  render('add_company_autocomplete', bucket: bucket) %>

          </div>
        <% end %>
      </tr>
    </thead>
</div>
<br>

<script>
  <% buckets.each do |bucket|%>
    $('#companies_<%=bucket.id%>').autocomplete({
        source: '/nbp_company_query/<%= bucket.id%>/bucket.json',
      });
  <% end %>
</script>