
<%
number_buckets = @buckets.count
  pixels = 1700
if number_buckets == 0
  size_perc = "100%"
  size = "12"
  size_px = "#{pixels}px"
else
  size_perc = "#{100/@buckets.count - 15}%"
  size = "#{12/ @buckets.count }"
  size_px = "#{pixels/ @buckets.count }px"
end
%>
<div style="margin:20px">

 <%= render('view_bucket_labels', buckets: @buckets, nbp: @nbp, size: size, size_px: size_px, size_perc: size_perc) %>

<% for i in 1..4 %>
    <div class="row ibox" style="margin-top: 10px;margin-bottom: 0px;">
      <strong style="font-size: 18px;">Tier <%= i %>:</strong>
    </div>

  <div class="row ibox-content">
    <% for j in 1..number_buckets %>
      <div class="col-lg-<%= size %> connectedSortable" id="sortable<%=i.to_s + j.to_s%>" style="text-align:center; padding-top:15px; border-color: #f2f2f2; border-width: 10px; font-size: 10px;">
        <% Company.where(id: @nbp_companies.where(bucket_id: @buckets[j-1].id, tier_id: i).pluck(:company_id)).order('name ASC').each do |company| %>
          <div style="margin:0px" id="<%=NbpCompany.find_by(company_id: company.id, bucket_id: @nbp.buckets[j-1].id).id %>">
            <div class="ibox collapsed">
            <%if company.nbp_companies.find_by(bucket_id: @nbp.buckets[j-1].id).tier_id == 1 %>
              <div class="ibox-title bg-primary">
            <%elsif company.nbp_companies.find_by(bucket_id: @nbp.buckets[j-1].id).tier_id == 2 %>
              <div class="ibox-title bg-success">
            <%elsif company.nbp_companies.find_by(bucket_id: @nbp.buckets[j-1].id).tier_id == 3 %>
              <div class="ibox-title bg-warning">
            <%else%>
              <div class="ibox-title bg-danger">
            <%end%>
              <div class="col-lg-9">
              <div class="ibox-tools" style="text-align: left">
                <strong ><a href="/companies/<%= company.id %>" style="color:white; padding-bottom: 10px;"><%= company.name %></a> <a class="collapse-link" style="color:white" ><i class="fa fa-chevron-up"></i></a></strong>
              </div>
              </div>
                <div class="pull-right col-lg-3" style="margin-right: 0px;">
                  <%= render('shared/edit_nbp_company_modal', nbp_company: company.nbp_companies.find_by(bucket_id: @buckets[j-1]), color: "white", table: false) %>
                  <%= link_to content_tag(:i,nil,class: 'fa fa-times'), "/delete_nbp_company/#{ company.nbp_companies.find_by(bucket_id: @nbp.buckets[j-1].id).id }", :style=> "font-size:10px; color:white;", :remote => true  %>
                </div>
              </div>
              <div class="ibox-content" >

                <% if company.nbp_companies.find_by(bucket_id: @buckets[j-1].id).strip.present? %>
                  <div style="text-align: left">
                    <strong>Lincoln Rationale: </strong><br>
                    <%= simple_format(company.nbp_companies.find_by(bucket_id: @buckets[j-1].id).strip) %>
                  </div>
                <% end %>

                  <%= render('view_strip_tags', company: company, bucket: @buckets[j-1]) %>


              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
</div>
  <script>

  $( function() {
    $( "#sortable11, #sortable12, #sortable13, #sortable14, #sortable21, #sortable22, #sortable23, #sortable24, #sortable31, #sortable32, #sortable33, #sortable34,#sortable41, #sortable42, #sortable43, #sortable44" ).sortable({

      connectWith: ".connectedSortable"

    });

    $( "#sortable11, #sortable12, #sortable13, #sortable14, #sortable21, #sortable22, #sortable23, #sortable24, #sortable31, #sortable32, #sortable33, #sortable34,#sortable41, #sortable42, #sortable43, #sortable44" ).sortable({
      

    });

  });

 var form = document.getElementById("nbp-cos-form-id");

  
  document.getElementById("nbp-cos-button-id").addEventListener("click", function () {
    if ($("#sortable11").length == 0){
      var idsIn11 = "";
    }
    else{
      var idsIn11 = String($("#sortable11").sortable("toArray"));
    }
    if ($("#sortable12").length == 0){
      var idsIn12 = "";
    }
    else{
      var idsIn12 = String($("#sortable12").sortable("toArray"));
    }
    if ($("#sortable13").length == 0){
      var idsIn13 = "";
    }
    else{
      var idsIn13 = String($("#sortable13").sortable("toArray"));
    }
    if ($("#sortable14").length == 0){
      var idsIn14 = "";
    }
    else{
      var idsIn14 = String($("#sortable14").sortable("toArray"));
    }
    if ($("#sortable21").length == 0){
      var idsIn21 = "";
    }
    else{
      var idsIn21 = String($("#sortable21").sortable("toArray"));
    }
    if ($("#sortable22").length == 0){
      var idsIn22 = "";
    }
    else{
      var idsIn22 = String($("#sortable22").sortable("toArray"));
    }
    if ($("#sortable23").length == 0){
      var idsIn23 = "";
    }
    else{
      var idsIn23 = String($("#sortable23").sortable("toArray"));
    }
    if ($("#sortable24").length == 0){
      var idsIn24 = "";
    }
    else{
      var idsIn24 = String($("#sortable24").sortable("toArray"));
    }
    if ($("#sortable31").length == 0){
      var idsIn31 = "";
    }
    else{
      var idsIn31 = String($("#sortable31").sortable("toArray"));
    }
    if ($("#sortable32").length == 0){
      var idsIn32 = "";
    }
    else{
      var idsIn32 = String($("#sortable32").sortable("toArray"));
    }
    if ($("#sortable33").length == 0){
      var idsIn33 = "";
    }
    else{
      var idsIn33 = String($("#sortable33").sortable("toArray"));
    }
    if ($("#sortable34").length == 0){
      var idsIn34 = "";
    }
    else{
      var idsIn34 = String($("#sortable34").sortable("toArray"));
    }
    if ($("#sortable41").length == 0){
      var idsIn41 = "";
    }
    else{
      var idsIn41 = String($("#sortable41").sortable("toArray"));
    }
    if ($("#sortable42").length == 0){
      var idsIn42 = "";
    }
    else{
      var idsIn42 = String($("#sortable42").sortable("toArray"));
    }
    if ($("#sortable43").length == 0){
      var idsIn43 = "";
    }
    else{
      var idsIn43 = String($("#sortable43").sortable("toArray"));
    }
    if ($("#sortable44").length == 0){
      var idsIn44 = "";
    }
    else{
      var idsIn44 = String($("#sortable44").sortable("toArray"));
    }

    var idsInOrder = "c"+idsIn11 + "c"+idsIn12 + "c"+idsIn13 + "c"+idsIn14 + "c"+idsIn21 + "c"+idsIn22 + "c"+idsIn23 + "c"+idsIn24 + "c"+idsIn31 + "c"+idsIn32 + "c"+idsIn33 + "c"+idsIn34 + "c"+idsIn41 + "c"+idsIn42 + "c"+idsIn43 + "c"+idsIn44;

    form.action = "/update_nbp_companies/"+ idsInOrder;
    form.submit();
  });

  </script>