  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<br>
<div class="row">
  <div class="pull-right">
    <div class="btn-group-vertical">
      <%= render('shared/file_buyer_download_upload', type: "strategic", nbp: @nbp) %>

      <%if @buckets.count < 4%>
        <%= render('shared/create_bucket_modal',nbp: @nbp) %>
      <%end%>
      <br>
      <% if @nbp_companies.present? %>
      <form method="get" class="form-horizontal" id="nbp-cos-form-id" name="nbp-cos-form-name"> 
      <!-- Hidden input for authenticity token to protect from forgery -->
        <button class="btn btn-success" id="nbp-cos-button-id">
          Save Strategic Buyer Bucket Layout
        </button>
      </form>
      <% end %>
    </div>
  </div> 
  <div class="col-lg-offset-1 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-size:28px"><%= @nbp.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal" style="font-size:10px">

              <dt>Deal:</dt>
              <dd> <a href="/deals/<%= @nbp.deal_id %>"><%= @nbp.deal.name %></a></dd>
              <dt>Company:</dt>
              <dd> <a href="/companies/<%= @nbp.deal.company.id %>"><%= @nbp.deal.company.name %></a></dd>
              <dt>Date:</dt>
              <dd><%= @nbp.nbp_date %></dd>
              <dt>Tier 1:</dt>
              <dd><%= @nbp_companies.where(tier_id: 1).count %></dd>
              <dt>Tier 2:</dt>
              <dd><%= @nbp_companies.where(tier_id: 2).count %></dd>
              <dt>Other:</dt>
              <dd><%= @nbp_companies.where(tier_id: [3,4]).count %></dd>
              <dt>Acquirer Matrix Tags:</dt>
              <dd class="ui-widget">
                <form action="/create_nbp_tag/<%= @nbp.id%>" method="post" class="form-horizontal">
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                  <input type="text" id="tags" name="name" style="width:300px" >
                  <button class="btn btn-success btn-xs">
                    Enter
                  </button>
                </form>
              </dd>
              <br>
              <dd>
              <% @nbp.nbp_tags.each do |nbp_tag|%>
                <span class="label label-success"><%= nbp_tag.tag.name %><a href="/delete_nbp_tag/<%= nbp_tag.id %>" ><span style="font: blue">| | |</span><i class="fa fa-times" style="color:white"></i></a></span>
              <%end%>
              </dd>
            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/nbps" class="btn btn-lincoln">
                <i class="fa fa-reply"></i>
              </a>

              <%= render('shared/edit_nbp_modal', :nbp => @nbp)%>

              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<a class="btn btn-lincoln" href="/nbps/<%= @nbp.id %>">View Slides</a>
<a class="btn btn-lincoln" href="/nbps/<%= @nbp.id %>/sponsors">View Financial Acquirers</a>
<br>
<%= render('view_companies') %>
<br>
<br>
<%= render('shared/quick_search_js') %>

  <script>
$('#tags').autocomplete({
    source: '/tags.json',

});

  </script>

