<br>
<div class="row">
  <div class="pull-right">
    <div class="btn-group-vertical">
       <a class="btn btn-success" href="/copy_nbp_layout/<%= @nbp.id %>">Copy NBP Layout <i class="fa fa-copy (alias)"></i></a><br>
       <a class="btn btn-success" href="http://res.cloudinary.com/mglicken/image/upload/<%= @nbp.image_id %>.pdf">View PDF <i class="fa fa-copy (alias)"></i></a>
    </div>
  </div> 
  <div class="col-lg-offset-2 col-lg-7">
    <div class="ibox-content">
        <% if @nbp.slides.empty? %>
          <a href="#" class="btn btn-lincoln pull-right" style="text-align:center; margin-top:10px" id="upload_widget_opener">Upload NBP PDF</a>
        <% end %> 
        <h3 class="ibox-title"><%= @nbp.name %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal" style="font-size:10px">

             <dt>Deal</dt>
             <dd> <a href="/deals/<%= @nbp.deal_id %>"><%= @nbp.deal.name %></a></dd>
             <dt>Company</dt>
             <dd> <a href="/companies/<%= @nbp.deal.company.id %>"><%= @nbp.deal.company.name %></a></dd>
             <dt>Date</dt>
             <dd><%= @nbp.nbp_date %></dd>

            </dl>
            <div class="btn-group btn-group-justified">

              <%= render('shared/edit_nbp_modal', :nbp => @nbp)%>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<br>
<div class="row">
  <a class="btn btn-lincoln" href="/nbps/<%= @nbp.id %>/sponsors">View Financial Acquirers</a>
  <a class="btn btn-lincoln" href="/nbps/<%= @nbp.id %>/companies">View Strategic Acquirers</a>
</div>
<br>
<br>

<%= render('view_slides') %>
<%= render('shared/quick_search_js') %>

<% if @nbp.slides.empty? %>
  <%= render('shared/upload_widget',url: "/create_nbp_slide/#{@nbp.id}", p_id: @p_id) %>
<% end %>

<!-- End responsive panel -->
