
<div class="page-header">
  <h1>
    Teaser Slides
    <a href="/teaser_slides/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Teasers (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @teaser_slides.each do |teaser_slide| %>
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">teaser_Slide # <%= teaser_slide.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <class="dl-horizontal">

              <dt> Slide ID</dt>
              <dd><%= teaser_slide.slide_id %></dd>
              <dt> Teaser ID</dt>
              <dd><%= teaser_slide.teaser_id %></dd>          

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/teaser_slides/<%= teaser_slide.id %>" class="btn btn-primary">
                <i class="fa fa-search-plus"></i>
              </a>

              <a href="/teaser_slides/<%= teaser_slide.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= render('shared/quick_search_js') %>