<br>
<br>
<div class="row">
  <div class="pull-right">
    <div class="btn-group-vertical">
       <a class="btn btn-success" href="http://res.cloudinary.com/mglicken/image/upload/<%= @ioi.image_id %>.pdf">View PDF <i class="fa fa-copy (alias)"></i></a>
    </div>
  </div> 
  <div class="col-lg-offset-2 col-lg-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if IoiSlide.where(ioi_id: @ioi.id).empty? %>
          <a href="#" class="btn btn-lincoln pull-right" text-align="center" id="upload_widget_opener">Upload IOI PDF</a>
        <% end %> 
        <h3 class="panel-title" style="font-size:28px"><%= @ioi.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal" style="font-size:10px">

             <dt>Deal:</dt>
             <dd> <a href="/deals/<%= @ioi.deal_id %>"><%= @ioi.deal.name %></a></dd>
             <dt>Company:</dt>
             <dd> <a href="/companies/<%= @ioi.deal.company.id %>"><%= @ioi.deal.company.name %></a></dd>
             <dt>Acquirer:</dt>
             <% if @ioi.cip_company.present?%>
              <dd> <a href="/companies/<%= @ioi.cip_company.company.id %>"><%= @ioi.cip_company.company.name %></a></dd>
             <%elsif @ioi.cip_sponsor.present? %>
              <dd> <a href="/sponsors/<%= @ioi.cip_sponsor.sponsor.id %>"><%= @ioi.cip_sponsor.sponsor.name %></a></dd>
             <% end %>
             <dt>Enterprise Value Range:</dt>
             <% if @ioi.low_purchase_price.present? %>
              <dd>$<%= @ioi.low_purchase_price %> million - $<%= @ioi.high_purchase_price %> million</dd>
             <% end %>
             <dt>Date:</dt>
             <dd><%= @ioi.ioi_date %></dd>
            </dl>
            <div class="btn-group btn-group-justified">
              <%if @ioi.cip_company.present? %>
                <a href="/cips/<%= @ioi.cip_company.cip_id %>/companies" class="btn btn-lincoln"><i class="fa fa-chevron-left"></i></a>
              <%elsif @ioi.cip_sponsor.present? %>
                <a href="/cips/<%= @ioi.cip_sponsor.cip_id %>/sponsors" class="btn btn-lincoln"><i class="fa fa-chevron-left"></i></a>
              <% end %>
              <%= render('shared/edit_ioi_and_highlights_modal', :ioi => @ioi)%>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-offset-2 col-lg-7">
      <div class="ibox collapsed">
          <div class="ibox-title">
              <h5>IOI Summary Highlights:</h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
                  <a class="close-link">
                      <i class="fa fa-times"></i>
                  </a>
              </div>
          </div>
          <div class="ibox-content">
            <dl>
             <%@ioi.ioi_highlights.order("highlight_id asc").each do |ioi_highlight|%>
              <dt><%= ioi_highlight.highlight.name%>:</dt>
              <dd><%= simple_format(ioi_highlight.detail)%></dd>
             <%end%>
           </dl>
          </div>
      </div>
  </div>
</div>
<%= render('view_slides') %>

<%= render('shared/quick_search_js') %>

<% if IoiSlide.where(ioi_id: @ioi.id).empty? %>
  <%= render('shared/upload_widget',url: "/create_ioi_slide/#{@ioi.id}", p_id: @p_id) %>
<% end %>

