
<div class="row container">
<% @company.children.order("acquisition_date DESC").each do |child| %>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading" >
        <h3 class="panel-title" style="font-size:12px"><a href="/companies/<%=child.id %>"><%= child.name %></a></h3>
      </div>
      <div class="panel-body" >
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal" style="font-size:10px" >

              <dt>Acquisition Date</dt>
              <dd><%= child.subsidiary_parents.last.acquisition_date %>
              <dt>Acquisition Price</dt>
              <dd>$<%= child.subsidiary_parents.last.acquisition_price %> million</dd>
              <% if  child.subsidiary_parents.last.link.present? %>
                <dt>Details</dt>
                <dd><a href=<%= child.subsidiary_parents.last.link %> target="_blank">
                  <%= child.subsidiary_parents.last.link[7..45] %>...
                </a></dd>
              <% end %>
            </dl>
            <div class="pull-right">
              <%= render('shared/edit_subsidiary_modal', subsidiary: @company.subsidiary_children.find_by(child_id: child.id)) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>