<style>
.scrollbar {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 5px;
  padding-bottom: 0px;
  margin-right: 10px;
  max-height: 275px
}
</style>
<div class="ibox collapsed float-e-margins">
    <div class="ibox-title">
        <h5>NBP Strategic Buyer Lists (<%= @nbp_companies.count %>)</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">

        <div class="row">
            <div class="col-lg-12">
                <div class="scrollbar">
                    <table class="table table-hover margin bottom" style="table-layout: fixed;">
                        <thead>
                        <tr>
                            <th style="width:5px;"></th>
                            <th style="width:75px;">Date</th>
                            <th style="width:250px;">Pitch Company</th>
                            <th style="width:250px;">Bucket</th>
                            <th style="width:50px; text-align:center; white-space:pre-wrap;">Tier (1-4)</th>
                            <th style="width:100px; text-align:center; white-space:pre-wrap;">Annual Net Sales ($ million)</th>
                            <th style="width:100px; text-align:center; white-space:pre-wrap;">Annual EBITDA ($ million)</th>
                            <th style="width:350px; white-space: wrap;">Lincoln Rationale</th>
                            <th style="width:350px; white-space:pre-wrap;">Recent Acquisitions</th>                            
                            <th style="width:350px; white-space:pre-wrap;">Internal Notes</th>
                        </tr>
                        </thead>
                        <tbody>
                                <%i=0%>
                                <% @nbp_companies.each do |nbp_company| 
                                    i=i+1%>
                        <% if nbp_company.tier_id == 1 %>
                            <tr class="success">
                        <% elsif nbp_company.tier_id == 2 %>
                            <tr class="info">
                        <% elsif nbp_company.tier_id == 3 %>
                            <tr class="warning">
                        <% else %>
                            <tr class="danger">
                        <% end %>
                            <td class="text-center"><%=i%></td>
                            <td><%=nbp_company.nbp.nbp_date%></td>
                            <td style="white-space:pre-wrap;"><%=nbp_company.nbp.deal.company.name %></td>
                            <td style="white-space:pre-wrap;"><%=nbp_company.bucket.title %></td>
                            <td style="text-align: center;"><%=nbp_company.tier_id %></td>
                            <td style="text-align: center;">300.0</td>
                            <td style="text-align: center;">25.0</td>
                            <td style="white-space:pre-wrap;"><%= simple_format(nbp_company.strip) %></td>
                            <td style="white-space:pre-wrap;">N/A</td>
                            <td style="white-space:pre-wrap;"><%= simple_format(nbp_company.note) %></td>
                        </tr>
                        <%end%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>