
<div class="row container">
<div class="col-lg-12">
<% @nbp_companies.each do |nbp_company| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotope-item">
    <% if nbp_company.tier_id == 1 %>
      <div class="panel panel-primary">
    <% elsif nbp_company.tier_id == 2 %>
      <div class="panel panel-success">
    <% elsif nbp_company.tier_id == 3 %>
      <div class="panel panel-warning">
    <% elsif nbp_company.tier_id == 4 %>
      <div class="panel panel-danger">
    <% end %>
      <div class="panel-heading" >
        <h3 class="panel-title" style="font-size:12px"><a href="/nbps/<%=nbp_company.nbp_id %>/companies"><%= nbp_company.nbp.name %></a></h3>
      </div>
      <div class="panel-body" >
        <div class="row">
          <div class="col-md-12">
           <div style="font-size:10px" >

              <strong><%= nbp_company.company.name%></strong><br>
              <strong>NBP Date: </strong>
              <%= nbp_company.nbp.nbp_date%><br>
              <strong>Lincoln Rationale: </strong>
              <%= simple_format(nbp_company.strip) %><br>
              <table class="table">
                <% nbp_company.strip_tags.each do |strip_tag|%>
                <tr>
                  <td>
                    <%= strip_tag.tag.name %>
                  </td>
                  <td style="color:black;font-size: 11px;">
                    <%if strip_tag.value.to_i == 1 %>
                      <i class='fa fa-times'></i>
                    <% elsif strip_tag.value.to_i == 2 %>
                      <i class='fa fa-circle-o'></i>
                    <% elsif strip_tag.value.to_i == 3 %>
                      <i class='fa fa-dot-circle-o'></i>
                    <% elsif strip_tag.value.to_i == 4 %>
                      <i class='fa fa-circle'></i>
                    <% elsif strip_tag.value.to_i == 5 %>
                      <i class='fa fa-check'></i>
                    <% else %>
                      No Data Entered
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </table>
              <strong>Notes: </strong>
              <%= simple_format(nbp_company.note) %>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>