<div class="ibox collapsed float-e-margins">
    <div class="ibox-title">
        <h5>Subsidiaries (<%= @company.subsidiary_children.count %>) <%= render('shared/create_subsidiary_modal')%></h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover margin bottom">
                    <thead>
                    <tr>
                        <th>Company</th>
                        <th style="width: 12%; white-space:normal">Acquisition Date</th>
                        <th style="width: 20%;" class="text-center">Location</th>
                        <th style="width: 12%;" class="text-center">Phone</th>
                        <th style="width: 20%;">Web</th>
                        <th style="width: 5%;"></th>
                    </tr>
                    </thead>
                    <tbody>

                            <% @company.subsidiary_children.each do |subsidiary| %>
                    <tr>
                        <td><a href="/companies/<%= subsidiary.child.id %>"><%= subsidiary.child.name %></a></td>
                        <td class="text-center"><%= subsidiary.acquisition_date %></td>
                        <td class="text-center">
                            <% if subsidiary.child.state.present? %>
                                <%= subsidiary.child.city %>, <%= subsidiary.child.state %>
                            <% end %>      
                        </td>
                        <td class="text-center">
                        <% if subsidiary.child.phone.present? %>
                            (<%= subsidiary.child.phone.to_s[0..2] %>) <%= subsidiary.child.phone.to_s[3..5] %>-<%= subsidiary.child.phone.to_s[6..9]%>
                        <% end %>
                        </td>
                        <td>
                            <% if subsidiary.child.web_address.present? %>
                                <%if subsidiary.child.web_address[0..4] == "https" %>
                                 <a href="<%= subsidiary.child.web_address %>" target="_blank"><%= subsidiary.child.web_address[8..(subsidiary.child.web_address.length-1)] %></a>
                                <% elsif subsidiary.child.web_address[0..3] == "http" %>
                                  <a href="<%= subsidiary.child.web_address %>" target="_blank"><%= subsidiary.child.web_address[7..(subsidiary.child.web_address.length-1)] %></a>
                                <%else%>
                                  <a href="<%= subsidiary.child.web_address %>" target="_blank"><%= subsidiary.child.web_address %></a>
                                <%end%>
                            <%end%>
                        </td>
                        <td>
                            <a href="<%= subsidiary.child.linkedin_url%>" class="btn btn-xs" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </td>
                    </tr>
                    <%end%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>