<!-- Validation failure messages -->

<% if @company.errors.any? %>
  <% @company.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
  
      <div class="panel-heading">
        <h3 class="panel-title">Edit <%= @company.name %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_company/<%= @company.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        
          <input name="name" type="hidden" value="<%= @company.name %>" >
          <!-- Label and input for Phone Number -->
          <div class="form-group">
            <label for="web_address" class="col-sm-2 control-label">
              Web Address
            </label>
            <div class="col-sm-10">
              <input type="string" id="web_address" name="web_address" placeholder="e.g., http://www.lincolninternational.com" class="form-control" value="<%= @company.web_address %>">
            </div>
          </div>

          <!-- Label and input for LinkedIn Url -->
          <div class="form-group">
            <label for="linkedin_url" class="col-sm-2 control-label">
              LinkedIn
            </label>
            <div class="col-sm-10">
              <input type="string" id="linkedin_url" name="linkedin_url" placeholder="e.g., https://www.linkedin.com/in/first-last-12345678/" class="form-control" value="<%= @company.linkedin_url %>">
            </div>
          </div>          

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Company
              </button>
              or
              <a href="/companies/<%= @company.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
