
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <% @qoves.each do |qofe| %>
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-size:12px"><%= qofe.name %> (<%= qofe.slides.count %> slides)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                              <div class="col-lg-12">
                                <dl class="dl-horizontal" style="font-size:10px" >

                                 <dt style="width:75px;white-space: normal;">Date:</dt>
                                 <dd style="margin-left:5px;"><%= qofe.qofe_date %></dd>
                                 <dt style="width:75px;white-space: normal;">Tags:</dt>
                                 <dd style="margin-left:5px;">
                                 <% Tag.where(id: SlideTag.where(slide_id: qofe.slides.ids).pluck(:tag_id)).order(name: :asc).each do |tag| %>
                                  <%= tag.name %>,
                                <% end %>
                                 </dd>
                                </dl>
                                <div class="btn-group btn-group-justified">
                                  <a href="/qoves/<%= qofe.id%>" class="btn btn-lincoln">
                                    <i class="fa fa-location-arrow"></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%end%>
    </div>
</div>