<!-- Validation failure messages -->

<% if @deal.errors.any? %>
  <% @deal.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
  
      <div class="panel-heading">
        <h3 class="panel-title">Edit <%= @deal.name %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_deal/<%= @deal.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for Deal Type -->
          <div class="form-group">
            <label for="deal_type_id" class="col-sm-2 control-label">
              Type
            </label>
            <div class="col-sm-10">
              <%= select_tag :deal_type_id, options_from_collection_for_select(DealType.all, :id, :name, @deal.deal_type_id), :class => "form-control" %>
            </div>
          </div>

          <!-- Label and input for Deal Stage -->
          <div class="form-group">
            <label for="deal_stage_id" class="col-sm-2 control-label">
              Stage
            </label>
            <div class="col-sm-10">
              <%= select_tag :deal_stage_id, options_from_collection_for_select(DealStage.all, :id, :name, @deal.deal_stage_id), :class => "form-control" %>
            </div>
          </div>
        
          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Deal Name
            </label>
            <div class="col-sm-10">
              <input type="string" id="name" name="name" placeholder="e.g., Sponsor Name / Company Name (Year)" class="form-control" value="<%= @deal.name %>">
            </div>
          </div>
          <!-- Label and input for Project Alias -->
          <div class="form-group">
            <label for="project_alias" class="col-sm-2 control-label">
              Project Alias
            </label>
            <div class="col-sm-10">
              <input type="string" id="project_alias" name="project_alias" placeholder="e.g., Project Greenlight" class="form-control" value="<%= @deal.project_alias %>">
            </div>
          </div>
          <!-- Label and input for Company Name -->
          <div class="form-group">
            <label for="company_id" class="col-sm-2 control-label">
              Company
            </label>
            <div class="col-sm-10">
              <%= select_tag :company_id, options_from_collection_for_select(Company.all, :id, :name, @deal.company_id), :class => "form-control" %>
            </div>
          </div>
          <!-- Label and input for Project Code -->
          <div class="form-group">
            <label for="project_code" class="col-sm-2 control-label">
              Project Code
            </label>
            <div class="col-sm-10">
              <input type="string" id="project_code" name="project_code" placeholder="e.g., 18999" class="form-control" value="<%= @deal.project_code %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Deal
              </button>
              or
              <a href="/deals/<%= @deal.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
