<br>
<div class="text-center" style="font-size:40px"><strong>Search Results</strong></div>
<br>
<br>
<div class="ibox float-e-margins">
  <div class="ibox-content">
    <table class="table table-hover">
          <thead>
            <tr>
              <td>Type</td>
              <td># of Matches</td>
             
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>Deals</td>
            <td>
              <% if @deal_ids.count == 0 %>
                <%= @deal_ids.count %>
              <% elsif @deal_ids.count < 11 %>
                <% Deal.where(id: @deal_ids).order("name ASC").each do |deal| %>
                  <a href="/deals/<%= deal.id %>" ><%= deal.name %></a><br>
                <% end %>                
              <%else%>
                <% i=1 %>
                <% Deal.where(id: @deal_ids).order("name ASC").each do |deal| %>
                  <a href="/deals/<%= deal.id %>" ><%= deal.name %></a><br>
                  <% i=i+1 %>
                  <%if i == 10 %>
                    <% break %>
                  <%end%>
                <% end %> 
                <strong><%= @deal_ids.count-10 %> Others</strong>
              <%end%>
            </td>
            <% if @deal_ids.count > 0 %> 
              <td><a class="btn btn-lincoln" href="/deal_search/<%= @text %>" role="button">View Results</a></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= render('shared/create_deal_modal') %></td>            
          </tr>
          <tr>
            <td>NBPs</td>
            <td>
              <% if @nbp_ids.count == 0 %>
                <%= @nbp_ids.count %>
              <% elsif @nbp_ids.count < 11 %>
                <% Nbp.where(id: @nbp_ids).order("name ASC").each do |nbp| %>
                  <a href="/nbps/<%= nbp.id %>" ><%= nbp.name %></a><br>
                <% end %>                
              <%else%>
                <% i=1 %>
                <% Nbp.where(id: @nbp_ids).order("name ASC").each do |nbp| %>
                  <a href="/nbps/<%= nbp.id %>" ><%= nbp.name %></a><br>
                  <% i=i+1 %>
                  <%if i == 10 %>
                    <% break %>
                  <%end%>
                <% end %> 
                <strong><%= @nbp_ids.count-10 %> Others</strong>
              <%end%>
            </td>
            <% if @nbp_ids.count > 0 %> 
              <td><a class="btn btn-lincoln" href="/nbp_search/<%= @text %>" role="button">View Results</a></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= render('shared/create_nbp_modal', deal: Deal.none) %></td>  
          </tr>
          <tr>
            <td>CIPS</td>
            <td>
              <% if @cip_ids.count == 0 %>
                <%= @cip_ids.count %>
              <% elsif @cip_ids.count < 11 %>
                <% Cip.where(id: @cip_ids).order("name ASC").each do |cip| %>
                  <a href="/cips/<%= cip.id %>" ><%= cip.name %></a><br>
                <% end %>                
              <%else%>
                <% i=1 %>
                <% Cip.where(id: @cip_ids).order("name ASC").each do |cip| %>
                  <a href="/cips/<%= cip.id %>" ><%= cip.name %></a><br>
                  <% i=i+1 %>
                  <%if i == 10 %>
                    <% break %>
                  <%end%>
                <% end %> 
                <strong><%= @cip_ids.count-10 %> Others</strong>
              <%end%>
            </td>
            <% if @cip_ids.count > 0 %> 
              <td><a class="btn btn-lincoln" href="/cip_search/<%= @text %>" role="button">View Results</a></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= render('shared/create_cip_modal', deal: Deal.none) %></td>  
          </tr>
          <tr>
            <td>MPs</td>
            <td>
              <% if @mp_ids.count == 0 %>
                <%= @mp_ids.count %>
              <% elsif @mp_ids.count < 11 %>
                <% Mp.where(id: @mp_ids).order("name ASC").each do |mp| %>
                  <a href="/mps/<%= mp.id %>" ><%= mp.name %></a><br>
                <% end %>                
              <%else%>
                <% i=1 %>
                <% Mp.where(id: @mp_ids).order("name ASC").each do |mp| %>
                  <a href="/mps/<%= mp.id %>" ><%= mp.name %></a><br>
                  <% i=i+1 %>
                  <%if i == 10 %>
                    <% break %>
                  <%end%>
                <% end %> 
                <strong><%= @mp_ids.count-10 %> Others</strong>
              <%end%>
            </td>
            <% if @mp_ids.count > 0 %> 
              <td><a class="btn btn-lincoln" href="/mp_search/<%= @text %>" role="button">View Results</a></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= render('shared/create_mp_modal', deal: Deal.none) %></td>  
          </tr>
          <tr>
            <td>Companies</td>
            <td>
              <% if @company_ids.count == 0 %>
                <%= @company_ids.count %>
              <% elsif @company_ids.count < 11 %>
                <% Company.where(id: @company_ids).order("name ASC").each do |company| %>
                  <a href="/companies/<%= company.id %>" ><%= company.name %></a><br>
                <% end %>                
              <%else%>
                <% i=1 %>
                <% Company.where(id: @company_ids).order("name ASC").each do |company| %>
                  <a href="/companies/<%= company.id %>" ><%= company.name %></a><br>
                  <% i=i+1 %>
                  <%if i == 10 %>
                    <% break %>
                  <%end%>
                <% end %> 
                <strong><%= @company_ids.count-10 %> Others</strong>
              <%end%>
            </td>
            <% if @company_ids.count > 0 %> 
              <td><a class="btn btn-lincoln" href="/company_search/<%= @text %>" role="button">View Results</a></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= render('shared/create_company_modal') %></td>  
          </tr>
          <tr>
            <td>Sponsors</td>
            <td>
              <% if @sponsor_ids.count == 0 %>
                <%= @sponsor_ids.count %>
              <% elsif @sponsor_ids.count < 11 %>
                <% Sponsor.where(id: @sponsor_ids).order("name ASC").each do |sponsor| %>
                  <a href="/sponsors/<%= sponsor.id %>" ><%= sponsor.name %></a><br>
                <% end %>                
              <%else%>
                <% i=1 %>
                <% Sponsor.where(id: @sponsor_ids).order("name ASC").each do |sponsor| %>
                  <a href="/sponsors/<%= sponsor.id %>" ><%= sponsor.name %></a><br>
                  <% i=i+1 %>
                  <%if i == 10 %>
                    <% break %>
                  <%end%>
                <% end %> 
                <strong><%= @sponsor_ids.count-10 %> Others</strong>
              <%end%>
            </td>
            <% if @sponsor_ids.count > 0 %> 
              <td><a class="btn btn-lincoln" href="/sponsor_search/<%= @text %>" role="button">View Results</a></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= render('shared/create_sponsor_modal') %></td>
          </tr>
          <tr>
          <td>Funds</td>
            <td>
              <% if @fund_ids.count == 0 %>
                <%= @fund_ids.count %>
              <% elsif @fund_ids.count < 11 %>
                <% Fund.where(id: @fund_ids).order("name ASC").each do |fund| %>
                  <a href="/funds/<%= fund.id %>" ><%= fund.name %></a><br>
                <% end %>                
              <%else%>
                <% i=1 %>
                <% Fund.where(id: @fund_ids).order("name ASC").each do |fund| %>
                  <a href="/funds/<%= fund.id %>" ><%= fund.name %></a><br>
                  <% i=i+1 %>
                  <%if i == 10 %>
                    <% break %>
                  <%end%>
                <% end %> 
                <strong><%= @fund_ids.count-10 %> Others</strong>
              <%end%>
            </td>
            <% if @fund_ids.count > 0 %> 
              <td><a class="btn btn-lincoln" href="/fund_search/<%= @text %>" role="button">View Results</a></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= render('shared/create_fund_modal', sponsor: Sponsor.none) %></td>
          </tr>
          <tr>
            <td>People</td>
            <td>
              <% if @person_ids.count == 0 %>
                <%= @person_ids.count %>
              <% elsif @person_ids.count < 11 %>
                <% Person.where(id: @person_ids).order("name ASC").each do |person| %>
                  <a href="/people/<%= person.id %>" ><%= person.name %></a><br>
                <% end %>                
              <%else%>
                <% i=1 %>
                <% Person.where(id: @person_ids).order("name ASC").each do |person| %>
                  <a href="/people/<%= person.id %>" ><%= person.name %></a><br>
                  <% i=i+1 %>
                  <%if i == 10 %>
                    <% break %>
                  <%end%>
                <% end %> 
                <strong><%= @person_ids.count-10 %> Others</strong>
              <%end%>
            </td>
            <% if @person_ids.count > 0 %> 
              <td><a class="btn btn-lincoln" href="/person_search/<%= @text %>" role="button">View Results</a></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= render('shared/create_person_modal') %></td>
          </tr>
          <tr>
            <td>Slides</td>
            <td><%= @slides.count %> Slides</td>
            <% if @slides.count > 0 %> 
              <td><a class="btn btn-lincoln" href="/slide_search/<%= @text %>" role="button">View Results</a></td>
            <% else %>
              <td></td>
            <% end %>
            <td></td>
          </tr>
          <tr>
            <td>Tags</td>
            <td><%= @tag_ids.count %></td>
            <% if @tag_ids.count > 0 %> 
            <td><a class="btn btn-lincoln" href="/tag_search/<%= @text %>" role="button">View Results</a></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= render('shared/create_tag_modal') %></td>
          </tr>
          <tr>
            <td>Notes</td>
            <td><%= @note_ids.count %></td>
            <% if @note_ids.count > 0 %> 
            <td><a class="btn btn-lincoln" href="/note_search/<%= @text %>" role="button">View Results</a></td>
            <% else %>
              <td></td>
            <% end %>
            <td></td>
          </tr>
          </tbody>
    </table>
  </div>
</div>

