<!-- Responsive panel example-->
<br>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-size:12px"><%= @deal.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal" style="font-size:10px" >

              <dt>Company</dt>
              <dd><a href="/companies/<%= @deal.company.id %>"><%= @deal.company.name %></a></dd>
              <dt>NBPs</dt>
                <% Nbp.where(deal_id: @deal).order("nbp_date DESC").each do |nbp| %>
                  <% if NbpSlide.where(nbp_id: nbp.id).present? %>
                    <dd> <a href="/nbps/<%=nbp.id %>"><%= nbp.name%> (<%= nbp.nbp_date%>)</a></dd>
                  <% else %>
                    <dd> <a href="/nbps/<%=nbp.id %>">No Documents Uploaded</a></dd>
                  <% end %>
                <% end %>
                <dt>CIPs</dt>
                <% Cip.where(deal_id: @deal).order("cip_date DESC").each do |cip| %>
                  <% if CipSlide.where(cip_id: cip.id).present? %>
                    <dd> <a href="/cips/<%=cip.id %>"><%= cip.name%> (<%= cip.cip_date%>)</a></dd>
                  <% else %>
                    <dd> <a href="/cips/<%=cip.id %>"> No Documents Uploaded</a></dd>
                  <% end %>
                <% end %>
                <dt>MPs</dt>
                <% Mp.where(deal_id: @deal).order("mp_date DESC").each do |mp| %>
                  <% if MpSlide.where(mp_id: mp.id).present? %>
                    <dd> <a href="/mps/<%=mp.id %>"><%= mp.name%> (<%= mp.mp_date%>)</a></dd>
                  <% else %>
                    <dd> <a href="/mps/<%=mp.id %>">No Documents Uploaded</a></dd>
                  <% end %>
                <% end %>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/deals" class="btn btn-lincoln">
                <i class="fa fa-reply"></i>
              </a>

              <%= render('shared/edit_deal_modal', :deal => @deal)%>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="btn-group btn-group-justified">
  
  <%= render('shared/create_nbp_modal', :deal => @deal)%>
  <%= render('shared/create_cip_modal', :deal => @deal)%>
  <%= render('shared/create_mp_modal', :deal => @deal)%>
</div>
<br>
<%= render('view_people') %>

<%= render('shared/quick_search_js') %>

<!-- End responsive panel example -->
