<%= render('show_header') %>
  
  <%= render('shared/create_nbp_modal', deal: @deal)%>
  <%= render('shared/create_cip_modal', deal: @deal)%>
  <%= render('shared/create_mp_modal', deal: @deal)%>
  <%= render('shared/add_person_to_deal_modal', deal: @deal, person: nil )%>
  <a class="btn btn-lincoln" href="/deals/<%= @deal.id %>/qoves">Quality of Earnings</a>
  <a class="btn btn-lincoln" href="/deals/<%= @deal.id %>/market_studies">Market Studies</a>

<br>
<br>
<%= render('view_people') %>




