<style>
  .pdf-image-2 {width: 95%;}
</style>
<div class="page-header">
  <h1>
    Slides for 
    <span class="btn btn-success"><a href= "/tags/<%= @tag.id %>"><span style="color:white"><%= @tag.name %> (<%= @slides.count%>)</span></a></span>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Slides (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @slides.order("id ASC").each do |slide| %>
  <div class="col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="pull-right">
        <% if slide.favorite_slides.where(user_id: current_user.id).present? %>
          <a href="/destroy_favorite_slide/<%=slide.favorite_slides.find_by(user_id: current_user.id).id %>" class="btn btn-lg btn-unfavorite" id="slide_<%=slide.id%>"><i class="fa fa-star"></i></a>
        <% else %>
          <a href="/create_favorite_slide/<%=current_user.id%>/<%=slide.id%>" class="btn btn-lg btn-favorite" id="slide_<%=slide.id%>"><i class="fa fa-star-o"></i></a>
        <% end %>
      </div> 
      <div class="panel-heading">
        <% if slide.nbp.present? %>
          <h3 class="panel-title"><%= slide.nbp.deal.name %> NBP (Slide# <%= slide.number %>)</h3>
        <% end %>
        <% if slide.cip.present?  %>
          <h3 class="panel-title"><%= slide.cip.deal.name %> CIP (Slide# <%= slide.number %>)</h3>
        <% end %>
        <% if slide.mp.present?  %>
          <h3 class="panel-title"><%= slide.mp.deal.name %> MP (Slide# <%= slide.number %>)</h3>
        <% end %>
        <% if slide.teaser.present?  %>
          <h3 class="panel-title"><%= slide.teaser.deal.name %> MP (Slide# <%= slide.number %>)</h3>
        <% end %>
        <% if slide.case_study.present?  %>
          <h3 class="panel-title"><%= slide.case_study.deal.name %> MP (Slide# <%= slide.number %>)</h3>
        <% end %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal">
            <% if slide.teaser.present? %>
              <%= link_to image_tag("http://res.cloudinary.com/mglicken/image/upload/c_scale,h_330,w_255/f_jpg,pg_#{slide.number}/#{slide.teaser.image_id}.pdf", class: "pdf-image-2"), "/slides/#{slide.id}/#{@slides.order("id ASC").ids.join(",")}" %>
            <% elsif slide.nda.present? %>
              <%= link_to image_tag("http://res.cloudinary.com/mglicken/image/upload/c_scale,h_330,w_255/f_jpg,pg_#{slide.number}/#{slide.nda.image_id}.pdf", class: "pdf-image-2"), "/slides/#{slide.id}/#{@slides.order("id ASC").ids.join(",")}" %>
            <% elsif slide.ioi.present? %>
              <%= link_to image_tag("http://res.cloudinary.com/mglicken/image/upload/c_scale,h_330,w_255/f_jpg,pg_#{slide.number}/#{slide.ioi.image_id}.pdf", class: "pdf-image-2"), "/slides/#{slide.id}/#{@slides.order("id ASC").ids.join(",")}" %>
            <% elsif slide.loi.present? %>
              <%= link_to image_tag("http://res.cloudinary.com/mglicken/image/upload/c_scale,h_330,w_255/f_jpg,pg_#{slide.number}/#{slide.loi.image_id}.pdf", class: "pdf-image-2"), "/slides/#{slide.id}/#{@slides.order("id ASC").ids.join(",")}" %>
            <% else %>
              <%= link_to image_tag(slide.image_url, class: "pdf-image-2"), "/slides/#{slide.id}/#{@slides.order("id ASC").ids.join(",")}" %>
            <% end %>
            <% slide.tags.each do |tag| %>

              <dd><div class="hidden"><%= tag.name %></a></dd>
            <% end %>

            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= render('shared/quick_search_js') %>