<br>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="ibox-content">
        <h3 class="ibox-title"> Favorite Slide # <%= @favorite_slide.id %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-md-12">
            <dl>

              <dt> User</dt>
              <dd><%= @favorite_slide.user.person.name %></dd>  
              <dt> Slide ID</dt>
              <dd><%= @favorite_slide.slide_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/favorite_slides/<%= @favorite_slide.id %>" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/favorite_slides/<%= @favorite_slide.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
