<%= render('shared/file_download_upload', path: "fund_companies") %>

<div class="page-header">
  <h1>
    Fund Company
    <a href="fund_companies/new" class="btn btn-lg btn-lincoln"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Fund Company (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @fund_companies.each do |fund_company| %>
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">fund_company # <%= fund_company.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <class="dl-horizontal">

              <dt> Fund ID</dt>
              <dd><%= fund_company.fund_id %></dd>
              <dt> Company ID</dt>
              <dd><%= fund_company.company_id %></dd>          

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="fund_companies/<%= fund_company.id %>" class="btn btn-lincoln">
                <i class="fa fa-search-plus"></i>
              </a>

              <a href="fund_companies/<%= fund_company.id %>/edit" class="btn btn-edit">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= render('shared/quick_search_js') %>