<br>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="ibox-content">
        <h3 class="ibox-title"> Fund Company # <%= @fund_company.id %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-md-12">
            <dl>

              <dt> Fund ID</dt>
              <dd><%= @fund_company.fund_id %></dd>
              <dt> Company ID</dt>
              <dd><%= @fund_company.company_id %></dd> 


            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/fund_companies/<%= @fund_company.id %>" class="btn btn-lincoln">
                <i class="fa fa-chevron-left"></i>
              </a>


              <%= render('shared/edit_fund_company_modal', :fund_company => @fund_company)%>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
