<div class="page-header">
  <h1>
    NBP Sponsors
    <%= render('shared/create_nbp_sponsor_modal') %>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search NBP Sponsors (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @nbp_sponsors.each do |nbp_sponsor| %>
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">NBP Sponsor # <%= nbp_sponsor.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <class="dl-horizontal">

              <dt> Sponsor ID</dt>
              <dd><%= nbp_sponsor.sponsor_id %></dd>
              <dt> NBP ID</dt>
              <dd><%= nbp_sponsor.nbp_id %></dd>          

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/nbp_sponsors/<%= nbp_sponsor.id %>" class="btn btn-primary">
                <i class="fa fa-search-plus"></i>
              </a>

              <a href="/nbp_sponsors/<%= nbp_sponsor.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= render('shared/quick_search_js') %>