<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> CIP Slide # <%= @cip_slide.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl>

              <dt> Slide ID</dt>
              <dd><%= @cip_slide.slide_id %></dd>
              <dt> CIP ID</dt>
              <dd><%= @cip_slide.cip_id %></dd>  

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/cips/<%= @cip_slide.cip_id %>" class="btn btn-primary">
                <i class="fa fa-reply"></i>
              </a>

              <a href="/cip_slides/<%= @cip_slide.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- End responsive panel example -->
