
<br>
<div class="row">
  <div class="col-lg-offset-2 col-lg-7">
    <div class="ibox-content">
        <% if @case_study.slides.empty? %>
          <a href="#" class="btn btn-lincoln pull-right" style="text-align:center; margin-top:10px" id="upload_widget_opener">Upload Case Study PDF</a>
        <% end %> 
        <h3 class="ibox-title"><%= @case_study.name %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal" style="font-size:10px">

             <dt>Deal</dt>
             <dd> <a href="/deals/<%= @case_study.deal_id %>"><%= @case_study.deal.name %></a></dd>
             <dt>Company</dt>
             <dd> <a href="/companies/<%= @case_study.deal.company.id %>"><%= @case_study.deal.company.name %></a></dd>

            </dl>
            <div class="btn-group btn-group-justified">

              <%= render('shared/edit_case_study_modal', :case_study => @case_study)%>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="btn-group-vertical">
       <a class="btn btn-success" href="http://res.cloudinary.com/mglicken/image/upload/<%= @case_study.image_id %>.pdf">View PDF <i class="fa fa-copy (alias)"></i></a>
    </div>
  </div> 
</div>

<br>


<%= render('view_slides') %>

<%= render('shared/quick_search_js') %>

<% if @case_study.image_id.nil? %>
  <%= render('shared/upload_widget',url: "/create_case_study_slide/#{@case_study.id}", p_id: @p_id) %>
<% elsif @case_study.image_id. == "" %>
  <%= render('shared/upload_widget',url: "/create_case_study_slide/#{@case_study.id}", p_id: @p_id) %>
<% end %>

