<!-- Validation failure messages -->

<% if @ioi_highlight.errors.any? %>
  <% @ioi_highlight.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
  
      <div class="panel-heading">
        <h3 class="panel-title">Edit IOI Highlight</h3>
      </div>
      <div class="panel-body">
        <form action="/update_ioi_highlight/<%= @ioi_highlight.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for IOI ID -->
          <div class="form-group">
            <label for="ioi_id" class="col-sm-2 control-label">
              IOI ID
            </label>
            <div class="col-sm-10">
              <input type="integer" id="ioi_id" name="ioi_id" placeholder="e.g., 17" class="form-control" value="<%= @ioi_highlight.ioi_id %>">
            </div>
          </div>

          <!-- Label and input for Highlight ID -->
          <div class="form-group">
            <label for="highlight_id" class="col-sm-2 control-label">
              Highlight ID
            </label>
            <div class="col-sm-10">
              <%= select_tag :highlight_id, options_from_collection_for_select(Highlight.order('name ASC'), :id, :name, @ioi_highlight.highlight_id), :class => "form-control" %>
            </div>
          </div>

          <!-- Label and input for Detail -->
          <div class="form-group">
            <label for="detail" class="col-sm-2 control-label">
              Detail:
            </label>
            <div class="col-sm-10">
              <textarea id="detail" name="detail" placeholder="e.g., Met with person at company on xx/xx/xxxx..."  class="form-control" rows="5"><%= @ioi_highlight.detail %></textarea>
            </div>
          </div>      

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update IOI Highlight
              </button>
              or
              <a href="/ioi_highlights/<%= @ioi_highlight.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
