<br>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="ibox-content">
        <h3 class="ibox-title"> IOI Highlight # <%= @ioi_highlight.id %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-md-12">
            <dl>

              <dt> IOI ID</dt>
              <dd><%= @ioi_highlight.ioi_id %></dd>
              <dt> Highlight ID</dt>
              <dd><%= @ioi_highlight.highlight_id %></dd>
              <dt> Detail</dt>
              <dd><%= @ioi_highlight.detail %></dd>  

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/ioi_highlights/<%= @ioi_highlight.id %>" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/ioi_highlights/<%= @ioi_highlight.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
