<!-- Validation failure messages -->

<% if @mp_company.errors.any? %>
  <% @mp_company.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add MP Company</h3>
      </div>
      <div class="panel-body">
        <form action="/create_mp_company" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for MP ID -->
          <div class="form-group">
            <label for="mp_id" class="col-sm-2 control-label">
              MP ID
            </label>
            <div class="col-sm-10">
              <input type="integer" id="mp_id" name="mp_id" placeholder="e.g., 17" class="form-control" value="<%= @mp_company.mp_id %>">
            </div>
          </div>
          <!-- Label and input for Company ID -->
          <div class="form-group">
            <label for="company_id" class="col-sm-2 control-label">
              Company ID
            </label>
            <div class="col-sm-10">
              <input type="integer" id="company_id" name="company_id" placeholder="e.g., 17" class="form-control" value="<%= @mp_company.company_id %>">
            </div>
          </div>
          <!-- Label and input for MP Date -->
          <div class="form-group">
            <label for="mp_date" class="col-sm-2 control-label">
              MP Date
            </label>
            <div class="col-sm-10">
              <input type="date" id="mp_date" name="mp_date" class="form-control" value="<%= @mp_company.mp_date %>">
            </div>
          </div>
          <!-- Label and input for LOI ID -->
          <div class="form-group">
            <label for="loi_id" class="col-sm-2 control-label">
              LOI ID
            </label>
            <div class="col-sm-10">
              <input type="integer" id="loi_id" name="loi_id" placeholder="e.g., 17" class="form-control" value="<%= @mp_company.loi_id %>">
            </div>
          </div>
          <!-- Label and input for Declined -->
          <div class="form-group">
            <label for="declined" class="col-sm-2 control-label">
              Declined
            </label>
            <div class="col-sm-10">
              <input type="boolean" id="declined" name="declined" placeholder="e.g., 17" class="form-control" value="<%= @mp_company.declined %>">
            </div>
          </div>
          <!-- Label and input for Final Buyer -->
          <div class="form-group">
            <label for="final_buyer" class="col-sm-2 control-label">
              Final Buyer
            </label>
            <div class="col-sm-10">
              <input type="boolean" id="final_buyer" name="final_buyer" placeholder="e.g., 17" class="form-control" value="<%= @mp_company.final_buyer %>">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create MP Company
              </button>
              or
              <a href="/mp_companies">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
