
<div class="page-header">
  <h1>
    MP Sponsors
    <a href="/mp_sponsors/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search MP Sponsors (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @mp_sponsors.each do |mp_sponsor| %>
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">MP Sponsor # <%= mp_sponsor.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <class="dl-horizontal">

              <dt> MP ID</dt>
              <dd><%= mp_sponsor.mp_id %></dd> 
              <dt> Sponsor ID</dt>
              <dd><%= mp_sponsor.sponsor_id %></dd>
              <dt> LOI ID</dt>
              <dd><%= mp_sponsor.loi_id %></dd>         

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/mp_sponsors/<%= mp_sponsor.id %>" class="btn btn-primary">
                <i class="fa fa-search-plus"></i>
              </a>

              <a href="/mp_sponsors/<%= mp_sponsor.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= render('shared/quick_search_js') %>