<br>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="ibox-content">
        <h3 class="ibox-title"> Deal Person # <%= @deal_person.id %></h3>
      <div class="ibox-body">
        <div class="row">
          <div class="col-md-12">
            <dl>

              <dt> Deal ID</dt>
              <dd><%= @deal_person.deal_id %></dd>
              <dt> Person ID</dt>
              <dd><%= @deal_person.person_id %></dd> 
              <dt> Role ID</dt>
              <dd><%= @deal_person.role_id %></dd>  

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/deal_people/<%= @deal_person.id %>" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/deal_people/<%= @deal_person.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
