<%= render('shared/file_download_upload', path: "funds") %>

<div class="page-header">
  <h1>
    Funds
    <%= render('shared/create_fund_modal', :sponsor => 0)%>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Funds (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @funds.order("open_year DESC").each do |fund| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">

    <% if fund.open %>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-size:12px"><%= fund.name %> (Open)
    <%else%>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="font-size:12px"><%= fund.name %> (Closed)
    <%end%>
      </div>
      <div class="panel-body" style="font-size:12px">
        <dl>

          <dt>Sponsor</dt>
          <dd><%= fund.sponsor.name %></dd>
          <dt>Size</dt>
          <dd>$<%= fund.size %> million</dd>
          <dt>Link to Details</dt>
          <dd>
            <% if fund.link.present? %> 
              <a href="http://<%= fund.link %>" target="_blank"><%= fund.link %></a>
            <%end%>                  
          </dd>
        </dl>
        <div class="btn-group btn-group-justified">
          <a href="/funds/<%= fund.id %>" class="btn btn-lincoln">
            <i class="fa fa-search-plus"></i>
          </a>

          <%= render('shared/edit_fund_modal', :fund => fund)%>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= render('shared/quick_search_js') %>