<br>
<div class="row">
  <div class="col-lg-offset-2 col-lg-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-size:28px"><%= @cip.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal" style="font-size:10px">

               <dt>Deal:</dt>
               <dd> <a href="/deals/<%= @cip.deal_id %>"><%= @cip.deal.name %></a></dd>
               <dt>Company:</dt>
               <dd> <a href="/companies/<%= @cip.deal.company.id %>"><%= @cip.deal.company.name %></a></dd>
               <dt>Date:</dt>
               <dd><%= @cip.cip_date %></dd>
               <dt>IOI Summary Bullets:</dt>
               <dd>
                  <% Highlight.where(ioi_include: true).order("id ASC").each do |highlight| %>
                      <% if highlight.id % 3 == 0 %>
                        <br>
                      <%end%>
                      <% if IoiHighlight.where(ioi_id: (CipSponsor.where(cip_id: @cip.id).pluck(:ioi_id) + CipCompany.where(cip_id: @cip.id).pluck(:ioi_id)), highlight_id: highlight.id).present? %>
                        <span style="font:black; font-size:14px; padding-right:5px; padding-left:2px;"><a data-toggle="modal" href="#Modal_Highlight_<%=highlight.id %>"><i class="fa fa-check-square-o"></i></a></span><span style="font-size: 10px"><%= highlight.name %></span>
                        <div class="modal inmodal fade" id="Modal_Highlight_<%=highlight.id %>" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">Remove Bullet</h4>
                                        <small class="font-bold">Remove summarizing bullet point from all IOIs</small>
                                    </div>
                                    <div class="modal-body">
                                            <strong>Are you sure you want to remove "<%= highlight.name%>"" from all IOIs?</strong> Doing so will permanently destroy all details associated with this highlight for every ioi on this deal (<%= @cip.deal.name %>). 
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                        <a type="button" href="/ioi_highlight_checkbox/<%= highlight.id %>/<%=@cip.id%>/2/2" class="btn btn-lincoln">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <% else %>
                        <span style="font:black;font-size: 14px; padding-right:5px; padding-left:2px;"><a href="/ioi_highlight_checkbox/<%= highlight.id %>/<%=@cip.id%>/2/1"><i class="fa fa-square-o"></i></a></span><span style="font-size: 10px"><%= highlight.name %></span>
                      <% end %>
                  <% end %>
                </dd>
            </dl>
          </div>
        </div>
      </div>

    </div>
  </div>
    <div class="col-lg-3">
    <div class="btn-group-vertical">

      <%= render('add_sponsor_autocomplete', cip: @cip) %>
      <%= render('shared/cip_buyer_upload') %>      
    </div>
  </div> 
</div>
<a class="btn btn-lincoln" href="/cips/<%= @cip.id %>">View Slides</a>
<a class="btn btn-lincoln" href="/cips/<%= @cip.id %>/acquirers">View All Acquirers</a>
<a class="btn btn-lincoln" href="/cips/<%= @cip.id %>/companies">View Strategic Acquirers</a>
<a class="btn btn-lincoln" href="/cips/<%= @cip.id %>/advisors">View Advisors</a>


<%= render('view_sponsors') %>
<%= render('shared/quick_search_js') %>

<script>
$("[type=checkbox]").change(function () {
    if ($(this).is(':checked')) {
        var highlight_id = $(this).attr('name');
        window.location.replace("/ioi_highlight_checkbox/" + highlight_id + "/<%=@cip.id%>" + "/2/1");
    } else {
        var highlight_id = $(this).name();
        window.location.replace("/ioi_highlight_checkbox/" + highlight_id + "/<%=@cip.id%>" + "/2/2");
    }
});
</script>