<!-- Validation failure messages -->

<% if @loi_highlight.errors.any? %>
  <% @loi_highlight.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add LOI Highlight</h3>
      </div>
      <div class="panel-body">
        <form action="/create_loi_highlight" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <!-- Label and input for LOI ID -->
          <div class="form-group">
            <label for="loi_id" class="col-sm-2 control-label">
              LOI ID
            </label>
            <div class="col-sm-10">
              <input type="integer" id="loi_id" name="loi_id" placeholder="e.g., 17" class="form-control" value="<%= @loi_highlight.loi_id %>">
            </div>
          </div>

          <!-- Label and input for Highlight ID -->
          <div class="form-group">
            <label for="highlight_id" class="col-sm-2 control-label">
              Highlight ID
            </label>
            <div class="col-sm-10">
              <%= select_highlight :highlight_id, options_from_collection_for_select(Highlight.order('name ASC'), :id, :name, @loi_highlight.highlight_id), :class => "form-control" %>
            </div>
          </div>

          <!-- Label and input for Detail -->
          <div class="form-group">
            <label for="detail" class="col-sm-2 control-label">
              Detail:
            </label>
            <div class="col-sm-10">
              <textarea id="detail" name="detail" placeholder="e.g., Met with person at company on xx/xx/xxxx..."  class="form-control" rows="5"><%= @loi_highlight.detail %></textarea>
            </div>
          </div>      


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create LOI Highlight
              </button>
              or
              <a href="/loi_highlights">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
