<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-cirle" src="<%= current_user.person.image_url %>" width="60%"/>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"><%= current_user.person.name %></strong>
                            </span> <span class="text-muted text-xs block"><%= current_user.person.role.name%> <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="/people/<%=current_user.person_id%>">Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    <a href="/"><img src="http://www.lincolninternational.com/wp-content/uploads/LILogo_header.gif" width="90%"></img></a>
                </div>
            </li>
                <li class="<%= is_active_action('user_dashboard') %>">
                    <%= link_to '/dashboard' do %>
                    <i class="fa fa-user-circle-o"></i> <span class="nav-label" data-i18n="nav.user_dashboard">User Dashboard</span>
                    <% end %>
                </li>
            <% if current_user.access_id <=2 %>
                <li class="<%= is_active_action('access_dashboard') %>">
                    <%= link_to '/access_dashboard' do %>
                    <i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.access_dashboard">Access Dashboard</span>
                    <% end %>
                </li>
                <li class="<%= is_active_action('models') %>">
                    <%= link_to '/models' do %>
                    <i class="fa fa-database"></i> <span class="nav-label" data-i18n="nav.models">Upload Dashboard</span>
                    <% end %>
                </li>
            <% end %>
            <li class="<%= is_active_controller('deals') %>">
                <a href="#"><i class="fa fa-trophy"></i> <span class="nav-label" data-i18n="nav.deals">Deals</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('deals', 'in') %>">
                    <% current_user.person.deals.where(deal_stage_id: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]).order("name ASC").each do |deal| %>
                        <li class="<%= is_active_action('show')%>"><%= link_to deal.name, "/deals/#{deal.id}"%></li>
                    <% end %>
                </ul>
            </li>
            <li class="<%= is_active_controller('layouts') %>">
                <a href="#"><i class="fa fa-th"></i> <span class="nav-label" data-i18n="nav.layouts">Slide Layouts</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('layouts', 'in') %>">
                    <li class="<%= is_active_action('index') %>"><%= link_to "Favorite Slides", "/favorite_slides" %></li>
                    <% current_user.slide_layouts.order("name ASC").each do |slide_layout| %>
                        <li class="<%= is_active_action('show')%>"><%= link_to slide_layout.name, "/slide_layouts/#{slide_layout.id}"%></li>
                    <% end %>
                </ul>
            </li>
            <li class="<%= is_active_controller('companies') %>">
                <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label" data-i18n="nav.companies">Companies</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('companies', 'in') %>">
                    <% current_user.company_follows.joins(:company).order("name ASC").each do |company_follow| %>
                        <li class="<%= is_active_action('show')%>"><%= link_to company_follow.company.name, "/companies/#{company_follow.company_id}"%></li>
                    <% end %>
                </ul>
            </li>
            <li class="<%= is_active_controller('sponsors') %>">
                <a href="#"><i class="fa fa-university"></i> <span class="nav-label" data-i18n="nav.sponsors">Financial Sponsors</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('sponsors', 'in') %>">
                    <% current_user.sponsor_follows.joins(:sponsor).order("name ASC").each do |sponsor_follow| %>
                        <li class="<%= is_active_action('show')%>"><%= link_to sponsor_follow.sponsor.name, "/sponsors/#{sponsor_follow.sponsor_id}"%></li>
                    <% end %>
                </ul>
            </li>
        </ul>

    </div>
</nav>